
.TMv_WorkflowProgressSummary {

	h3 {
		font-size:16px;
		font-weight:normal;
		
		.total_view {
			float: right;
			padding-top:2px;
			padding-right:4px;
		}
	}
	
	.model_block {
		margin-bottom:15px;
		
	}
	
	.summary_progress_bar {
		height:24px;
		margin-bottom:5px;
		display: flex;
		
		.progress_bar_portion {
			padding: 6px 0px;
			color:#FFFFFF;
			text-indent: 5px;
			display: inline-block;
			position: relative;
			
			&:first-child {
				border-radius: 5px 0 0 5px;
			}
			
			&:last-child {
				border-radius: 0px 5px 5px 0px;
			}
			
			&:hover .hover_box {
				display:block;
			}
			
			.hover_box {
				display: none;
				position:absolute;
				left:-2px;
				top:24px;
				background:rgba(0,0,0,0.8);
				padding:5px;
				width:200px;
				line-height:1.3em;
				border:2px solid #FFF;
				z-index: 20;
				text-indent: 0;
			}
			
			
			
		}
		
		
	}
	
	.progress_link {
		padding-left:5px;
		padding-bottom:8px;
		display: block;
		
		.link_icon {
			padding-right:3px;
		}
	}
	
}