.TSv_ModuleSettingsManager {
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_buttons";
	
	display: flex;

	// Remove margin on top, move it to each item
	// Allows for right panel to extend to the top
	&.primary_content {
		margin-top:0 !important;
		padding-right:0 !important; // extend to the right
		overflow: hidden !important;
		height: 100%;
	}
	
	.TSv_ModuleSettingsList {
	//	padding-top:$main_panel_spacing;
		flex: 2;
		padding-right:$main_panel_spacing;
		min-width: 300px;

		.TCv_ListRow.showing {
			background:$tungsten-blue-minus-3;
		}
	}
	
	#module_settings_form_container {
		flex:3;
		width:60%;

		// Don't show it if it's empty
		&:empty {
			display: none;
		}
		
		#module_heading_title {
			padding:$main_panel_spacing;
			background:$white;
			border-bottom:$light-border;
			font-size:1.25rem;
			color:$tungsten-grey;
			svg {
				margin-right: $tungsten-space-minus-3;
			}
		}
		
		box-sizing: border-box;
		//margin-left:$tungsten-space-minus-2;
		border-left: 1px solid $tungsten-grey-minus-2;
		
		// Move over to account for space, for scrolling
		margin-right:-$main_panel_spacing;
		

		// Move submit button to the bottom
		form {
			display: flex;
			flex-direction: column;
			height: 100%;
			padding-right:$main_panel_spacing;
		}
		.form_table {
			overflow-y: auto; // always show, for interface consistency
			flex: 1;
			height: 100px; // force height to engage flexbox
			padding-right:$main_panel_spacing;
			padding-left:$tungsten-space-minus-2;
			padding-top:$main_panel_spacing;
			align-content: flex-start;
			@include styledScrollbars;


		}
		
		.TCv_FormItem_SubmitButton {
			width:100%;
			
			background:$white;
			flex:initial;
			
			// Nothing on top, normal on the sides
			padding: 0  $main_panel_spacing;
			
			// match height of other bottom bars
			height: $panel_button_size;
			box-sizing: border-box;
			border-top: $light-border;
			
			// Vertically center the child box
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			.title_column {
				display: none;
			}
			
			.form_item_container {
				display: flex;
				justify-content: flex-end;
			}
			
			input, button {
				@include panel-bottom-button;
				width: auto;
				
			}
		}
		
	}
}