.TMv_SystemSettingsForm #google_oauth_instructions{margin-top:5px;display:none;border:1px solid #bbb;padding:10px 30px}.TMv_SystemSettingsForm #google_oauth_instructions li{padding-bottom:5px}/*# sourceMappingURL=TMv_SystemSettingsForm.css.map */
