.TMv_PagesMenuItemManagerList {
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	$square-border-radius: $tungsten-space-minus-4;
	
	.model_list_navigation_note,
	.content_entry_details {
		display: block;
		padding-top: $tungsten-space-minus-4;
		font-size:0.85em;
		color:$tungsten-grey;
	}
	
	.title_container {
		display: flex;
		align-items: center;
		gap: $tungsten-space-minus-3;
	}
	
	//.TCv_ListColumn_path {
	.TCv_ListColumn_title {
		// Might be <a> or <span>
		.folder_text {
			display: block;
			font-size: 0.7rem;
			overflow-wrap: break-word;
			padding-top:$tungsten-space-minus-4;
			
			// IDs
			.model_name {
				display: inline-block;
				background: $tungsten-green-plus-1;
				color:#FFF;
				overflow-wrap: unset;
				padding:2px 6px;
				border-radius:$square-border-radius;
				text-transform: uppercase;
				font-size:0.7rem;
				letter-spacing: 0.5px;
				line-height: 1em;
				margin:0 $tungsten-space-minus-5; // push away from / in urls
				//font-weight:400;
			}
		}
		
		// non links
		span.folder_text {
			color:$tungsten-grey;
		}
	}
	
	.visibility_block {
		display: flex;
		flex-direction: column;
		gap:$tungsten-space-minus-3;
	}
	
	// LEVEL INDENTATION
	$indentation : $tungsten-space-minus-1;
	.level_2 td:first-child {
		padding-left: #{1 * $indentation};
	}
	
	.level_3 td:first-child {
		padding-left: #{2 * $indentation};
	}
	.level_4 td:first-child {
		padding-left: #{3 * $indentation};
	}
	.level_5 td:first-child {
		padding-left: #{4 * $indentation};
	}
	.level_6 td:first-child {
		padding-left: #{5 * $indentation};
	}
	.level_7 td:first-child {
		padding-left: #{6 * $indentation};
	}


	tr.deactivated {
		background:$tungsten-red-minus-2;
	}
	
	.status_container {
		display: flex;
		flex-direction: column;
		gap:$tungsten-space-minus-3;
	}
	
	
	// STATUS ICONS
	.status_indicator {
		font-size:0.8rem;
		display: flex;
		gap:$tungsten-space-minus-4;
		padding:6px; // smaller so eyeball
		border-radius:$square-border-radius;
		
		
		&.active {
		color:$tungsten-green;
		}
		
		&.deactivated {
			background:$tungsten-red;
			color:#FFF;
		}
		
		&.unpublished_changes {
			background-color:$tungsten-yellow-minus-1;
			color:$tungsten-yellow-plus-2;
		}
	}
	
	.deactivated_indicator {
		font-size:0.8rem;
		color:#FFF;
	}
	
	// stacked list of requirements
	.requirements_list {
		display: flex;
		flex-direction: column;
		gap: $tungsten-space-minus-4;
	}
	
	.required_class {
		font-size:0.85rem;
		display: flex;
		gap:$tungsten-space-minus-3;
		align-items: center;
		background:$tungsten-grey;
		color:#FFFFFF;
		padding:6px $tungsten-space-minus-4; // eyeball
		border-radius: $square-border-radius ;
		
		strong {
			font-weight: 400;
		}
		svg {
			padding-left:2px; //eyeball
			width:16px;
		}
		
		// Model condition
		&.class_cond {
			background:$tungsten-green-plus-1
		}
		
		// Visibility conditions
		&.vis_cond {
			background: $tungsten-purple-plus-1;
		}
	}
	
	
	.rearrange {
		display: none;
		flex-direction: column;
		gap:2px;//$tungsten-space-minus-4;
		
		a {
			background:$tungsten-blue-plus-1;
			color:$white;
			padding:3px; // eyeball $tungsten-space-minus-4;
			border-radius:$tungsten-space-minus-4;
			width: 10px;
			height: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			
			svg {
				width:100%;
			}
			&:hover {
				background:$tungsten-blue-plus-2;
				outline:1px solid $tungsten-blue-plus-2;
			}
		}
	}
	
	// Disable the styling for move up on first items
	tr[data-order="1"] a.move_up,
	tr.last_in_order a.move_down {
		background:$tungsten-grey-minus-1;
		
		&:hover {
			outline:none;
			background:$tungsten-grey-minus-1;
			cursor: default;
		}
	}
	
	// Set to be rearranging, show the column
	&.rearranging {
		.rearrange {
			display: flex;
		}
	}
	
	// Can't rearrange if there are filters
	&.filters_applied {
		.rearrange {
			display: none !important;
		}
	}
	
	//// Grey out the items that are first and last
	//td:first-child a.move_up,
	//td:last-child a.move_down {
	//	background:$tungsten-grey;
	//
	//
	//}
	
	.swap_transition {
		//background: red;
		transition: transform ease-in-out 0.3s;
	}
	
	.animation_group {
		width:100%;
		//display: table-column; // seems to force the full width
		background:$tungsten-blue-minus-3;
		tr {
			width:100%;
		}
	}
	
	// Rearrange Warning
	
	.rearrange_warning {
		display:none;
		background:$tungsten-orange-plus-1;
		color:#FFF;
		padding:$tungsten-space-minus-3 $tungsten-space-minus-2;
		margin-bottom:$tungsten-space-minus-2;
		border-radius: $tungsten-space;
		font-size:0.85rem;
	}
	
	&.filters_applied.rearranging {
		.rearrange_warning {
			display: block;
		}
	}
	
}