@import "../../../config/workflow_colors";

$workflow_width:330px;
$left-spill: 5px;

$transition_type : 1s ease-in-out;

.TMv_WorkflowControlBar {
		padding: 0px 0px;
		//display: inline-block;
		position: absolute;
		right: 0px;
		top:0px; // force to sit in the correct spot
		//height: 30px;
		//overflow: hidden;
		text-align: right;
	//	border-left: 2px solid $workflow-color;
	
		
		display: flex;
		flex-direction: column;
	
		.TMv_WorkflowEditor {
			box-shadow: -3px 0px 5px #00000045;
			background: #F5F5F5;
			flex-grow: 1;
		}
		
		#workflow_editor {
			text-align: left;
		}
		
		.button_bar {
			width:$workflow_width;
			position: relative;
			z-index: 2; // put above editor to hide drop shadow
			display: flex;
			align-content: stretch; // fill the space
			justify-content: flex-end; // right aligned
			
			height: 34px;
			align-items: stretch;
			> a {
				border-left:1px solid #FFF;
				
				&:first-child {
					border-left:none;
				}
			}
		}
		
	
		.control_button {

			color: #FFF;
			background: rgba($workflow-color, 1);
			/*border:1px solid #FFF;*/
			padding: 6px 11px;
			text-align: center;
			margin: 0px;
			vertical-align: top;
			transition: background-color 0.3s ease-in-out, color  0.3s ease-in-out;
			
		
			
		}

		.control_button .link_icon {
			font-size: 18px;
		}

		a:hover {
			//svg {
			//	color:#000;
			//}
			background: $workflow-color-dark;
		}

		.control_button.showing {
			background: $workflow-color-light;
			color: $workflow-color;
		}

		#workflow_control_toggle {
			//width: 30px;
			padding: 9px 8px;
			text-transform: uppercase;
			font-size: 11px;
			text-align: center;
			margin: 0px;
			background-color: #333;
			vertical-align: top;
			
			svg {
				padding-right:0px !important;
			}
			
			&:hover {
				background-color: #009900;
			}
			
		}

		#workflow_control_settings {
			//margin:0px;
			//padding-left:10px;
			//padding-right:10px;
			background-color:#333;
			//border-left:1px solid #FFF;
			
			&:hover {
				background-color: #555;
			}
			
			&.showing {
				background-color: $tungsten-blue;
				color:#FFF;
			}
		}
	
		//#workflow_control_status,
		//#workflow_control_people,
		//#workflow_control_comments {
		//	width: calc(20% - 1px);
		//}

		#workflow_control_toggle .link_icon {
			font-size: 12px;
			padding-right: 10px;
			width: 12px;
		}

		#workflow_control_toggle.hiding_workflow .link_icon::before {
			content: "\f054";
		}

		/** DEAL WITH PINNING **/
		&.pinned {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 200;
			height: 100%;
		}
	
		.workflow_switch_button {
			margin:0px;
			padding:10px 8px;
			flex-grow: 2; // fill the space
			text-align: center;
			&:hover {
				color:#DDD;
			}
			
			&.selected {
				position: relative;
				&:after {
					display: block;
					content:"";
					background:inherit;
					height:3px;
					position: absolute;
					z-index: 4;
					width:100%;
					bottom: -4px;
					left:0px;
				
				}
			}
		}
	}

body {
	overflow-x: hidden; // for these interfaces, need the overflow to not show the scroller when sliding the panel

	
	&.showing_workflow {
		
		.TMv_WorkflowControlBar {
			//box-shadow: -3px 0px 5px #00000045;
			//	background:#FFF;
			// We're showing, so flip the default styles
			#workflow_control_toggle {
				&:hover {
					background-color: #900;
				}
				
				svg {
					transform: rotate(180deg);
				}
			}
			
		}
	}
	
	
	&:not(.showing_workflow) {
		
		.TMv_WorkflowControlBar {
			overflow: hidden; // hide off the edge
			
			&.pinned {
				height: 0;
			}
		}
		
		
	}

	// Pulled from
	#tungsten_main_content {
		width:calc(100% - 20px);
		transition: width $transition_type;
	}
	
	&.showing_workflow {
		
		#tungsten_main_content {
			position: relative;
			width:calc(100% - #{$workflow_width + 20px}); // 20px for padding
			
			> .TCv_Form {
				width:100%;
			}
		}
		
		// Moves the right to the edge of the page
		.TMv_WorkflowEditor {
			right: 0;
		}
	}
}
