.TCv_List {
	border-collapse: collapse;

	.TCv_List_table {
		table-layout: fixed;
		margin-bottom: 10px;
		width: 100%;
		display: table;
	}
	
	// Deal with formatting when we're using non-tables
	&.table_format {
		
		.table_head,
		.table_body {
			display: table;
			width: 100%;
		}
		
		.TCv_ListRow {
			display: table-row;
			
			.TCv_ListCell {
				display: table-cell;
			}
		}
		
	}
	
	
	.TCv_ListCell {
		padding: 3px 1px;
		vertical-align: middle;
		border-bottom: 1px solid #E0E0E0;
		overflow: hidden;
		line-height: 1.2em;
		/*word-wrap: break-word;*/
		height: 25px; // works as min-height
		&.no_clip {
			overflow: initial;
		}
	}
	
	
	.TCv_ListHeading {
		> span,
		> th {
			text-align: left;
			border-bottom: 1px solid #555;
			padding-bottom: 5px;
			
			&, span {
				font-size: 14px;
				font-weight: normal;
			}
		}
		
		// Sort column
		.sort_col_button {
			margin-left:4px;
			
			svg {
				width:10px;
				
				// Copied from font-awesome svg styles
				display: inline-block;
				font-size:inherit;
				vertical-align: -0.15em; // -0.125em;
				path {
					fill:#00000044;
				}
				
				
			}
			
			&.asc {
				path.sort_up {
					fill:#000000AA;
				}
			}
			
			&.desc {
				path.sort_down {
					fill:#000000AA;
				}
				
			}
			
		}
	}
	
	
	.TCv_ListCell.auto_width {
		min-width: 50px;
	}
	
	.empty_message {
		line-height: 1.3em;
		background: rgba(0,0,0,0.1);
		font-size: 14px;
		margin-bottom: 10px;
		text-align: center;
		padding: 10px;
		width:calc(100% - 20px);
		border:none;
		
		
		p {
			padding-bottom: 10px;
			line-height: 1.3em;
		}
		p:last-child {
			padding-bottom: 0px;
		}
		* {
			font-size: 14px;
		}
		a {
			text-decoration: underline;
		}
	}
	
	&.horz_scrolling {
		.list_container {
			overflow-x: auto;
		
			table {
				table-layout: fixed;
			}
		}
		
		
	}
}


.tungsten_main_content .TCv_List {
	font-size:0.75em;
}

// Make mobile change to horizontal scrolling
// When we get to that size, they all just scroll horizontally by default
@media only screen and (max-width: 750px) {
	
	.TCv_List {
		.list_container {
			overflow-x: auto;
			
			table {
				table-layout: fixed;
				width:1000px;
			}
		}
	}
	
}