$resolved-color : rgb(0, 170, 0);
$delete-color : rgb(170,0,0);
$workflow-color : rgb(80,80,80);
$workflow-color-dark : rgb(50,50,50);
$workflow-color-light : rgb(200,200,200);
$tungsten-blue : 	rgb(25, 112, 158);
$tungsten-blue-light : rgb(226,237,243);
//$workflow-color : rgb(100,0,100);
//$workflow-color-dark : rgb(50,0,50);
//$workflow-color-light : rgb(200,150,200);
