.TCv_FormItem_FileDrop {
	$error-color: #990000;
	
	// Hide the main field, which is a text field
	.file_drop_field_value {
		display: none;
		
	}
	
	////////////////////////////////////////////////
	//
	// TARGET BOX
	//
	////////////////////////////////////////////////
	
	.file_drop_target {
		position: relative;
		overflow: hidden;
		border: 1px dashed #333;
		margin-bottom: 10px;
		padding: 30px 10px;
		background: #F0F0F0;
		text-align: center;
		
		&:hover {
			cursor: pointer;
			border-color: #333333;
			border-style: solid;
			background: #DDDDDD;
			
		}
		
		
		
		&:active {
			background: #EEEEEE;
			
		}
	}
	
	.dz-drag-hover .file_drop_target {
		border-color: #333333;
		border-style: solid;
		background: #DDDDDD;
		
	}
	
	
	////////////////////////////////////////////////
	//
	// ERROR BOX
	//
	////////////////////////////////////////////////
	
	.error_box {
		border:1px solid $error-color;
		padding:8px;
		margin-bottom:8px;
		color:$error-color;
		background:rgba($error-color, 0.1);
	}
	
	//
	//
	//
	///* Hides <input type="file"> while simulating "Browse" button: */
	//.fd-file {
	//	opacity: 0;
	//	font-size: 118px;
	//	position: absolute;
	//	right: 0;
	//	top: 0;
	//	z-index: 1;
	//	padding: 0;
	//	margin: 0;
	//	cursor: pointer;
	//	filter: alpha(opacity=0);
	//	font-family: sans-serif;
	//}
	//
	//.filedrop_progress_bar {
	//	background: #666;
	//	height: 20px;
	//	display: none;
	//	text-align: center;
	//	padding-top: 7px;
	//	font-size: 12px;
	//	background: #585858;
	//	color: #FFF;
	//	border-radius: 15px;
	//}
	//
	//.filedrop_progress_bar.done {
	//	background: #090;
	//}
	//
	//.file_drop_container.tungsten_loading {
	//	min-height: 0px !important;
	//}
	
	// Hide the light white shade on the cropper
	.cropper-face {
		opacity: 0;
	}
	
	// Darken the background cropped space
	.cropper-modal {
		opacity: 0.7;
	}
	
	
	////////////////////////////////////////////////
	//
	// CROPPER POPUP
	//
	////////////////////////////////////////////////
	
	//.cropper_container_box {
	//	position: fixed;
	//	top:10%;
	////	left:10%;
	////	width:80%;
	//	height: 80%;
	//////	display: flex;
	//	z-index: 9000;
	//
	//	// matches TSv_PopupContainer styles
	//	border: 1px solid red;
	//	//border-radius: 5px;
	//
	//	// remove the transparency grid
	//	.cropper-bg {
	//		background:none;
	//	}
	//
	//	// hide the modal that has the dark background
	//	.cropper-modal {
	//		display: none;
	//	}
		
		//&:before {
		//	display: block;
		//	content:"";
		//	background: #FFFFFFDD;
		//	width:100%;
		//	height:100%;
		//	top:0;
		//	left:0;
		//	z-index: 0; // put it behind all the other content
		//	position: fixed;
		//}
		
		
		
		//.cropper-container {
		//	//box-sizing: border-box;
		//	//border: 10px solid red;
		//	//border-radius: 5px;
		//}
//	}
	
	//.cropper_container_box {
	//	position: fixed;
	//	top: 0;
	//	left: 0;
	//	max-width: 100%;
	//	max-height: 100%;
	//	background: #00000099;
	//	z-index: 9000;
	////
	//	// Force the container to always match
	//	.cropper-container {
	//		margin-left:10%;
	//		margin-top:10%;
	//		width:80% !important;
	//		height:80% !important;
	//		border:1px solid #FFFFFF;
	//	}
	//
	//}
	
	////////////////////////////////////////////////
	//
	// FILE PREVIEW
	//
	////////////////////////////////////////////////
	
	.preview_container {
		position: relative;
	}
	
	.preview_container.ui-sortable .ui-sortable-handle:hover {
		cursor: move;
		opacity: 0.9;
		background: #F0F0F0;
	}
	
	.file_preview_box {
		border: 1px solid #333;
		padding: 8px;
		position: relative;
		min-height: 55px;
		margin-bottom: 10px;
		
		
		.file_icon_link {
			display: inline-block;
			font-size: 55px;
			max-width: 120px;
			vertical-align: top;
			
			svg {
				height: 100%;
				width: 40px;
			}
		}
		
		.file_icon_link img {
			width: 100%;
			height: auto;
			display: block;
		}
		
		.file_explanation {
			margin-left: 10px;
			line-height: 1.3em;
			font-size: 14px;
			display: inline-block;
		}
		
		.remove_file_button {
			float: right;
		}
		
		&.file_preview_box.uploading .file_explanation {
			padding-bottom: 10px;
			text-align: center;
			display: block;
		}
	}
	
	.cropper_image {
		max-width: 100%;
	}
	

	////////////////////////////////////////////////
	//
	// CURRENT CROP
	//
	////////////////////////////////////////////////
	
	.cropper_controls {
		a {
			display: block;
			text-align: center;
			//	width: calc(50% - 1px);
			font-size: 13px;
			padding: 8px 0px;
			background: #444;
			color: #FFF;
			margin-bottom: 4px;
			//margin-left: 2px;
			
			svg {
				margin-right: 5px;
			}
			
			&:hover {
				background:#222;
			}
			
			&.cancel_crop_link {
				flex:1;
				background: #900;
				&:hover {
					background:#600;
				}
			}
			
			&.confirm_crop_link {
				flex:1;
				background: #090;
				&:hover {
					background:#060;
				}
			}
			
		}
		
		.active_buttons {
			display: flex;
			column-gap: 4px;
			width:100%;
		}
	}
	
	.form_item_container {
		
		.cropper_container_box {
			width:100%; // forces the box to stay the full width so it doesn't blow up
		}
		
		.active_buttons,
		.cropper_container_box {
			display: none;
		}
		
		&.no_file {
			.recrop_link {
				display: none;
				
			}
		}
		
		
		&.show_cropper {
			// Hide stuff that should go away when we are cropping
			.preview_container,
			.file_drop_target,
			.recrop_link {
				display: none;
				
			}
			
			.active_buttons {
				display: flex;
			}
			.cropper_container_box {
				display: block;
			}
		}
	}
	
	// Empty preview containers should never show the cropper controls
	.preview_container:empty {
		
		// Sibling, not subsequent sibling
		~ .cropper_controls {
			display: none;
		}
	}


	&.is_svg {
		.cropper_controls {
			display: none;
		}
	}


	//&.existing_file.use_cropper .file_drop_container,
	//&.existing_file.use_cropper .cropper_container_box {
	//	display: none;
	//}
	//
	//&.existing_file.use_cropper .cropper_container_box {
	////	width: 100%; // Critical to avoiding issues wiht cropper scaling
	//}
	
	
	
	/*.existing_file_action.reupload_link {*/
	/*margin-left:1px;*/
	/*}*/
	
	.current_cropping img {
		width: 100%;
		height: auto;
	}

	
	.no_preview_notice {
		background:#008800;
		color:#FFF;
		text-align: center;
		font-size:14px;
		padding:8px;
		text-transform: uppercase;
		display: none;
	}
	
	
}