$white					: #FFFFFF;
$dashboard-dark-gray 	: #4F5863;
$dashboard-light-gray 	: #f2f2f2;
$dashboard-blue			: #256BB2;
$dashboard-purple		: #7526D6;
$dashboard-pink			: #BF44AF;
$dashboard-red			: #BE4242;
$dashboard-orange		: #CF7200;
$dashboard-yellow		: #B4902D;
$dashboard-green		: #0B8474;
