
@import "../../../../pages/classes/views/TMv_PageBuilder/scss_partials/colors";

body {
	background:#F0F0F0;
}

$spacing : 24px;
$spacing-minus-1: 16px;

#tungsten_main_content {
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;

}

.TMv_DashboardWrapper {
	margin-left:0;
	margin-right:0;
}



// Set variables for spacing on dashboards
$content-container-edge-space : $spacing;
$layout-column-gap : $spacing;
@import "../../../../pages/classes/themes/scss/content_width_container";

.TMv_Dashboard {
	@import "../../../../dashboard/classes/views/TMv_Dashboard/dashboard_theme_config";
	overflow: hidden; // corrects some sidescrolling that can appear
	// Styling Specific to Page Builder Version
	&.TMv_PageBuilder {
		//margin-left:0px;
		//margin-right:0px;
		//
		
	}
	
	//.TMv_ContentLayoutBlock {
	////	margin-bottom: $spacing-minus-1; // can't do required per item
	//	.content_container {
	//		padding-bottom:20px; //$spacing-minus-1;
	//	}
	//}
	//
	.content_width_container {
		padding-left: $spacing;
		padding-right:$spacing;
		margin: 0;
		
	}
	
	//padding-top:$spacing;
	//div.TMv_ContentLayoutBlock {
	//	min-height: 0px !important;
	//
	//	.content_container {
	//		min-height: 0px; // ensure buttons don't overlap
	//	}
	//}
	
	
	//.TMv_ContentLayout_Section {
	//	//margin-bottom: $spacing;
	//}
	
	
	#add_layout_section {
		padding:0px;
		display: none;
	}
	
	.TMv_DashboardPanel {
	
	}
	
	#page_builder_content_container {
		padding-bottom:0px;
	}
	
	
	table.tabular_data {
		width:100%;
		
		
		
		td, th {
			border-top:1px solid $dashboard-dark-gray;
			padding:7px 0;
			font-size:14px;
			color:$dashboard-dark-gray;
			text-align: left;
			min-height:13px;
			
			
			&.right,
			&.value_column {
				text-align: right;
			}
		
		}
		
		th {
			padding-bottom:7px;
			font-weight: bold;
			text-align: left;
			border-bottom:2px solid $dashboard-dark-gray;
		}
		
		tfoot td,
		.footer th,
		.footer td {
			border-bottom:0px;
			border-top-style:solid;
			border-top-width: 2px;
			font-weight: bold;
			
			
			
		}
		
		
		thead, tbody {
			tr:first-child {
				
				td, th {
					border-top: 0px;
				}
			}
		}
		tbody tr:first-child th {
			padding-top:0px;
		}
		
		&.scrollable {
			thead,
			tbody,
			tfoot {
				display: block;
				width: 100%;
				overflow-y: scroll;
				overflow-x: hidden;
				
				tr {
					display: table;
					width: calc(100% - 10px);
					table-layout: fixed;
				}
				
			}
			
			tbody {
				// Seems random but looks good in most rendering formats
				// Fits 11 rows of single line text perfectly
				max-height: 297px;
				
			}
			
			th:first-child, td:first-child {
				width:25%;
			}
		}
	}
	
	

}