.TMv_ContentLayout_3Column_To_1_2 {
	
	> .cwc > .column_1 {
		// Must align with a 3-column layout, so we need to account for multiple gaps in the right column
		// 1 2 3
		// 1 222
		width: calc((100% - (var(--cwc-column-gap)*2) )  / 3 );
		
	}
	
	> .cwc > .column_2 {
		width: 100%;
		flex:1;
	}

}