/* TCv_Form.css
 * This is a CSS file that provides basic formatting on TCv_Form items.
 * In most cases, the TCv_Form class will be extended and the styling
 * for the form will be customized to the page. Developers may wish
 * to start fresh with their own CSS sheet, or they may start with this
 * sheet and override it as necessary.
 */

$form-field-font-size: 0.85em;
$form-dark-grey-color: #474543;
$form-near-white: #F5F5F5;
$form-light-grey : #DDDDDD;
$form-border-radius: 2px;
$tungsten-blue : 	rgb(25, 112, 158);
$tungsten-dark-blue : #125172;

// Pulled from the v9 styles
$tungsten-space-minus-4	: 4px;
$tungsten-space-minus-3	: 8px;
$tungsten-space-minus-2	: 16px;
$tungsten-space-minus-1	: 24px;
$tungsten-space			: 32px;
$tungsten-space-plus-1	: 64px;
$tungsten-space-plus-2	: 96px;


//////////////////////////////////////////////////////
//
// SINGLE VIEW POSITIONING
//
//////////////////////////////////////////////////////

// We don't apply this styling to login forms
body:not(.tungsten_module_login) main > form {

	// Use the form table so we can track actions across the full width
	// Also adds options for styling the full form
	.form_table {
		max-width: 800px;
		margin: 0 auto;
		padding-bottom:40px; // avoid conflicts with positioned button
		font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
	}
	
	.table_row.TCv_FormItem_SubmitButton {
		position: fixed;
		bottom:0;
		left:0;
		width:100%;
		padding:12px;
		margin:0;
		box-sizing: border-box;
		background:$form-light-grey;
		border-top: 1px solid #BBBBBB;
		// shade to hide
		box-shadow : 0 -15px 15px white;
		z-index: 201; // higher than tungsten_loading
		
		.value_column {
			max-width: 800px;
			margin: 0 auto !important;
		}
	}
	
	
	
}

fieldset {
	padding:0;
	margin:0;
	
}

//////////////////////////////////////////////////////
//
// BOX SIZING
//
//////////////////////////////////////////////////////

input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select,
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	font-size:$form-field-font-size;
	color:$form-dark-grey-color;
	border:1px solid $form-dark-grey-color;
	width: 100%;
	padding:$tungsten-space-minus-4;
	background-color:$form-near-white;
	border-radius: $form-border-radius;
	
	&:disabled {
		color:rgba($form-dark-grey-color,0.5);
	}
}


textarea {
	font-family: inherit;
}

//////////////////////////////////////////////////////
//
// COLUMNS
//
//////////////////////////////////////////////////////

.form_table {
	border-collapse: collapse;
	padding:0px;
	margin:0px;
}

.form_table .title_column {
	width:30%;
	padding-right:2%;
	padding-top:7px;
	text-align: right;
	vertical-align: top;
	color:#191613;
	display: flex;
	line-height: 1;
	justify-content: flex-end; // right align
	
	
}

.form_table .left_title .title_column {
	justify-content: flex-start;
	text-align: left;
	
	// Move the help text to be on the right again
	.help_text_container {
		order: 0;
	}
}

.form_table .value_column {
	vertical-align: top;
	display: flex;
	width: 68%;
	
	// Make sure they extend to the full width
	> .form_item_container {
		flex-grow: 1;
	}
}





.form_table div.table_row {
	padding-bottom:16px;
	display: flex;
}

.form_table label {
	font-size:inherit;
	font-weight: normal;
	display: inline;
	//flex-grow:1; // fill the space with the title
	
	&[hidden] {
		display: none;
	}
}



.TCv_FormItem_Select select	 ,
.TCv_FormItem_SelectDateTime select	{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


//////////////////////////////////////////////////////
//
// FIELD ICONS
//
//////////////////////////////////////////////////////

.form_table {
	
	.field_icon {
		// chosen to visually align, but also offset from the negative margin on the right
		padding: #{$tungsten-space-minus-4+1} 7px #{$tungsten-space-minus-4+1} $tungsten-space-minus-4;
		color: $form-dark-grey-color;
		background: $form-light-grey;
		//height: 18px;
		//width:12px;
		font-size: $form-field-font-size;
		height: 0.95em; // chosen to find a balance between size and overall width
		width: #{$form-field-font-size *1.5};
		margin-top: 1px;
		margin-right: -2px; // move it so it touches the form field
		//	border: 1px solid $form-dark-grey-color;
		border-radius: $form-border-radius;
		
	}
	
	// FIELD ICONS THAT ARE ON SPECIFIC FORM TYPES
	.TCv_FormItem_HTML {
		.field_icon {
			margin-right:$tungsten-space-minus-4;
			margin-top:-2px;
		}
	}

	// Headings don't show icons. Just gets messy
	.TCv_FormItem_Heading {
		.field_icon {
			display: none;
		}
	}
}


//////////////////////////////////////////////////////
//
// SELECT ARROWS
//
//////////////////////////////////////////////////////


// Deal with the carot being positioned properly
.select_container {
	
	position: relative;
	
	> svg {
		font-size: 14px;
		line-height: 14px;
		padding: 0px;
		color: #333;
		display: inline-block;
		position: absolute;
		right: 6px;
		top: calc(50% - 8px);
		pointer-events: none;
		z-index: 1;
		width:10px;
	}
}


.TCv_FormItem_Select select,
.TCv_FormItem_SelectDateTime select {
	padding-right:25px;
}

.TCv_FormItem_Select select::-ms-expand {
	display: none;
}


////////////////////////////////////////////////
//
// NO TITLE COLUMN
//
////////////////////////////////////////////////

div.form_table div.table_row.no_title_column {
	display: block;
}

div.form_table div.table_row.no_title_column .value_column {
	display: block;
	margin-left:0px;
	width: 100%;
}



//////////////////////////////////////////////////////
//
// HELP TEXT POPUP
//
//////////////////////////////////////////////////////


.help_text_container {
	// both needed, depending on rendering side
	padding-left: 8px;
	padding-right: 8px;
	position: relative;
	
	// developer code containers which hold specific values, often next to
	+ .developer_code_container {
		padding-left:0;
	}
	
	order:-1; //Move to the left
	
	a.help_icon_button {
		color: #666;
		height: 1.0em; // avoid any pushing down
		display: block;
		&:hover, &:focus {
			color:#333;
		}
		
		&:active {
			color:#777;
		}
	}
	
	// INSIDE TEXT
	.form_info_text {
		display: none;
		position: absolute;
		background:#333;
		color:#FFF;
		padding:8px;
		width: 200px;
		font-size:12px; // hard coded for consistency in the interface
		z-index: 200;
		border-radius: 4px;
		line-height: 1.4em;
		left: 0;
		margin-top:6px;
		text-align: left;
		
		a {
			color:#FFF;
			text-decoration: underline;
			
			&:hover {
				opacity:0.8;
			}
		}
		
		// If they include paragraphs
		p:last-child {
			padding-bottom:0;
			margin-bottom:0;
		}
		
		// NOTCH
		&:before {
			content:" ";
			background:#333;
			width:12px;
			height: 12px;
			transform: rotate(45deg);
			position: absolute;
			//	z-index: 10;
			top:-6px;
			left:10px;
		}
		
	}
	
	&.showing {
		
		.form_info_text {
			display: block;
		}
		
		
		
	}
}

.developer_code_container {
	font-size:0.85em;
}
//////////////////////////////////////////////////////
//
// TEXT FIELDS
//
//////////////////////////////////////////////////////



// Date fields have some weird stuff
.form_table input[type="date"] {
	font-family: inherit; // override the monospace that is in place
	width: auto; // don't make it full width
	
}
.form_table .tiny_mce .form_item_container textarea {
	height:200px;
}

.form_table .TCv_FormItem_TextBox {
	.char_counter {
		font-size:$form-field-font-size;
		padding-top:$tungsten-space-minus-4;
		
	}
}


//////////////////////////////////////////////////////
//
// BUTTONS
//
//////////////////////////////////////////////////////

.form_table {
	
	button[type="submit"],
	input[type="submit"],
	input[type="button"] {
		background: $form-light-grey;
		
		// Remove mobile styling
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	
	button[type="submit"]:hover,
	input[type="submit"]:hover,
	input[type="button"]:hover {
		background: #EEE;
		cursor: pointer;
	}
	
	button[type="submit"]:disabled,
	input[type="submit"]:disabled,
	input[type="button"]:disabled {
		color: #666;
		background-color: #BBB !important;
		border-color:#666;
		cursor: default;
	}
	
	
	.TCv_FormItem_SubmitButton {
		div.title_column {
			display: none;
		}
		
		div.value_column {
			width: 100%;
		}
	}
	
	
	a.tungsten_button,
	.TCv_FormItem_SubmitButton input {
		font-size: 14px;
		padding: 8px 20px;
		border: 1px solid darken($tungsten-blue, 10%);
		background-color: #A3C6D8;
		//text-shadow: 0px 0px 2px #75A9C5;
		color: #074A6C;
		display: block;
		border-radius: $form-border-radius;
		
		&:hover {
			background-color: #75A9C5;
		}
		
	}
	
}




//////////////////////////////////////////////////////
//
// VALIDATION
//
//////////////////////////////////////////////////////


// Move the required icon to the right of everything, inside the space
.form_table .required_icon {
	padding-right: 3px;
	width:7px;
	margin-right: -10px;
	order:5;
}


.form_table .invalid {
	
	.field_title,
	.field_icon {
		color: #990000;
	}
	
	input {
		border:1px solid #990000;
		background: #FFDDDD;
	}
	
}


//////////////////////////////////////////////////////
//
// CHECKBOXES and RADIO BUTTONS
// In Tungsten, we use the restyle version, which hides
// the input and puts a div next to it
//
//////////////////////////////////////////////////////

.TCv_FormItem_RadioButtons,
.TCv_FormItem_Checkbox,
.TCv_FormItem_CheckboxList {
	
	.button_text {
		display: block;
		font-size:$form-field-font-size;
		padding-top:4px;
	}
	
	// Hide the default form elements
	input[type="radio"],
	input[type="checkbox"] {
		display: none;
	}
	
	.radio_button_option_box label, // radio buttons do it differently
	.checkbox_label {
		display: flex;
		margin-bottom:8px;
		
		// clicked label
		&:active {
			background:$form-near-white;
			
			.button_restyle {
				outline:1px solid $form-dark-grey-color;
			}
		}
	}
	
	.button_restyle {
		display: block;
		width:18px;
		height: 18px;
		background: $form-near-white;
		border:1px solid $form-dark-grey-color;
		margin-right:8px;
		
		svg {
			display: none;
			width:14px;
			height: 14px;
			padding:2px;
		}
	}
	

}

// RADIO BUTTONS ONLY
.TCv_FormItem_RadioButtons {

	// Checked state
	input[type="radio"]:checked {
		
		~ label {
			svg {
				display: block;
			}
		}
	}
	
	.button_restyle {
		border-radius: 50%;
		
		//Adjust the sizing of the svg center
		svg {
			width:10px;
			height: 10px;
			padding:4px;
		}
	}
}


// CHECKBOXES ONLY
.TCv_FormItem_Checkbox,
.TCv_FormItem_CheckboxList {
	
	// Checked state
	input[type="checkbox"]:checked {
		
		~ .checkbox_label {
			svg {
				display: block;
			}
		}
	}
	
	.button_restyle {
		border-radius: $form-border-radius;
		
	}
}

// Spacing for checkbox lists and no-stack versions
// Smaller checkboxes create a misalignment
.TCv_FormItem_Checkbox.no_stack {
	.title_column {
		padding-top:3px;
	}
}


//////////////////////////////////////////////////////
//
// HTML BOX
//
//////////////////////////////////////////////////////

.TCv_FormItem_HTML .value_column {
	padding-top:$tungsten-space-minus-4;
	//padding-bottom:7px;
	
	.form_item_container {
		line-height: 1.4em;
		font-size: $form-field-font-size;
		margin-bottom: 7px;
	}
}



//////////////////////////////////////////////////////
//
// HTML BOX
//
//////////////////////////////////////////////////////

.TCv_FormItem_HTMLEditor {
	.tox-tinymce  {
		border-radius: $form-border-radius;
		border-color: $form-dark-grey-color;
	}
}


/**********************************************/
/*										   	  */
/*                 FORM FILE                  */
/*										   	  */
/**********************************************/
.form_table .form_file_preview {
	display: block;
	padding:4px;
	border:1px solid #CCCCCC;
	width:248px;
	margin-top:4px;
	min-height: 40px;
}

.form_table .form_file_preview img {
	padding-right:$tungsten-space-minus-4;
	display: block;
	float: left;
}

.form_table .form_file_preview a {
	line-height:1.2em;
	font-size:0.7em;
}

.form_table .form_file_preview a:hover img {
	opacity: 0.7;
	filter: alpha(Opacity = 70);
}

.form_table .form_file_preview .delete_button {
	float: right;
	display: block;
	padding:3px;
}


////////////////////////////////////////////////
//
// FILEDROP
//
////////////////////////////////////////////////

.form_table .TCv_FormItem_FileDrop {
	width:100%; // force width value to detect for cropper
	
	.value_column > .form_item_container {
		width:100%;
	}
	
	.error_box,
	.TCv_FilePreview,
	.recrop_link {
		border-radius: $form-border-radius;
		
	}
	
	.file_drop_target {
		border-radius: $form-border-radius;
		
		&:hover {
			border-color: $tungsten-blue;
			background-color:rgba($tungsten-blue,0.1);
			color: $tungsten-blue;
		}
		
		
		&:active {
			background-color:rgba($tungsten-blue,0.05);
		}
	}
	
	.dz-drag-hover .file_drop_target {
		border-color: $tungsten-blue;
		background-color:rgba($tungsten-blue,0.1);
		color: $tungsten-blue;
		
	}
}



/**********************************************/
/*										   	  */
/*                 HEADINGS                   */
/*										   	  */
/**********************************************/

body.TSv_Tungsten .form_table .TCv_FormItem_Heading {
	padding-top:8px;
	
	h2 {
		font-size:$form-field-font-size;
		font-weight: normal;
		padding: $tungsten-space-minus-4;
		color: #FFF !important;
		background:$tungsten-dark-blue;
		border:none;
		border-radius: $form-border-radius;
		text-transform: none;
	}
	
	.form_help_text {
		padding-top:4px;
		font-size: 0.8em;
		color: #555;
		text-align: left;
	}
}


/**********************************************/
/*										   	  */
/*            SELECT DATE / TIMES             */
/*								 		   	  */
/**********************************************/
.TCv_FormItem_SelectDateTime {
	
	.select_container {
		display: inline-block;
	}
	
	.date_select_wrapper,
	.date_select_YMD_box,
	.date_select_hms_box {
		display: inline-block;
		white-space: nowrap;
	}
	
	.date_select_YMD_box {
		padding-right: 20px;
		padding-bottom: $tungsten-space-minus-4;
	}
	.date_select_hms_box ,
	.date_select_hm_box {
		padding-bottom: $tungsten-space-minus-4;
	}
	
	
	.value_column .select_container,
	.value_column span {
		margin-right: 1%;
	}
	
	
	.date_select_wrapper select {
		padding-right:20px;
	}
	
	
	
}




//////////////////////////////////////////////////////
//
// SINGLE COLUMN STACKING
//
// Forms when they collapse into a single column
//
//////////////////////////////////////////////////////



@mixin single-column{
	
	// Table is flex with wrapping, but then each table row get flex-basis 100% to make it full width
	.form_table {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	div.table_row,
	div.TCv_FormItem_Group {
		flex-basis: 100%; // makes them full width
		
	}
	
	// Each row, avoids things that are set to no-stack
	div.table_row:not(.no_stack) {
		
		//display: block;
		// Keep as flex,change direction
		flex-direction: column;
		
		&.half_width {
			flex-basis: 48%;
		}
		
		div.title_column,
		div.value_column {
			width: 100%;
			float: none;
			clear: none;
			text-align: left;
			margin-left: 0px;
			//	display: block;
			padding-right:0;
			
		}
		
		div.title_column {
			padding-bottom: 6px;
			justify-content: flex-start; // left-aligned
			padding-top:$tungsten-space-minus-4;
		}
		
		.help_text_container {
			order:0; // undo reordering
		}
		
		.field_title {
			display: block;
			
			
			&[hidden] {
				display: none;
			}
		}
		.required_icon {
			//float: right;
			font-size: 0.8em;
			padding-top: 1px;
			margin-right: 0;
			width:auto;
			display: flex;
			
			&:hover {
				cursor: default;
				
				&:after {
					display: inline-block;
				}
			}
			&:after {
				content: 'Required';
				display: none;
				padding-left:4px;

			}
			
			
		}
		
	}
}

// APPLY THE MIXIN

.stacked {
	@include single-column;
}

@media only screen and (max-width : 750px) {
	@include single-column;
}


//////////////////////////////////////////////////////
//
// TS SELECTOR
//
//////////////////////////////////////////////////////

// Main selector already in place
.TCv_FormItem_Select .ts-wrapper {
	background-color:$form-near-white;
	border:1px solid $form-dark-grey-color;
	border-radius: $form-border-radius;
	font-size: 1em; // ensure standard for internal calcs
	padding-left: $tungsten-space-minus-4;
	
	// Single focus hides the existing value
	&.single.focus {
		.item {
			display: none;
		}
		
		input {
			margin-left:0 !important; // push to the left
		}
	}
	
	// Unhide the input, so it's always there
	&.input-hidden {
		input {
			opacity: 1;
			position: static;
		}
	}
	
	
	.ts-control {
		border:none; // moved to the wrapper
		padding:0 !important;// remove it from the container, add it to the elements
		align-items: center; // flex-box centered for less weirdness
		//background-color:$form-near-white;
		background:none !important; // Always let the wrapper color bleed through
		font-size:$form-field-font-size;
		
		
		> input {
			min-width: auto;
			font-size: 1em; // ensure standard for internal calcs
			padding:$tungsten-space-minus-4 !important; // ensure the input as the proper spacing
		}
	}
	.ts-dropdown {
		margin-top:1px;
		border:1px solid $form-dark-grey-color;
		border-top:none;
		border-radius: $form-border-radius;
	}
	
	// The currently selected item on the list
	.selected {
		background: $tungsten-blue;
		color:#FFF;
	}

	.active {
		background: rgba($tungsten-blue,0.5);
		color: #FFF;
	}
	
	&.multi {
		.ts-control {
		
		}
		.item {
			border: 1px solid rgba($form-dark-grey-color,0.65);
			border-radius: $form-border-radius;
			background: #FFF;
			
			// Margin on the right, let the flexbox do the rest of the centering work
			margin: 0 $tungsten-space-minus-4 0 0 ;
			
			// Selected, which can be deleted
			&.active {
				background-color: $tungsten-blue;
				border: 1px solid $tungsten-blue;
				color:white;
			}
		}
	}
	
	// DEAL WITH PLACEHOLDERS
	&.has-items {
		input::placeholder {
			opacity: 0;
		}
	}
	
	.spinner {
		display: none;
	}
	
	// Indented option groups
	.optgroup {

		.optgroup-header {
			font-weight: bold;
			color:$form-dark-grey-color;
		}
		
		.option {
			padding-left:$tungsten-space-minus-1;
		}
	}
	
	
}




//////////////////////////////////////////////////////
//
// FORMS IN LISTS
//
//////////////////////////////////////////////////////
.TCv_List .TCv_ListColumn form {
	div.table_row {
		padding-bottom:0;
	}
}
