/* TCv_Form.css
 * This is a CSS file that provides basic formatting on TCv_Form items. 
 * In most cases, the TCv_Form class will be extended and the styling
 * for the form will be customized to the page. Developers may wish
 * to start fresh with their own CSS sheet, or they may start with this
 * sheet and override it as necessary.
 */
$form_border_color : #474543;
$form-font-size:0.9rem;
.TCv_Form {
	font-size: $form-font-size;
	
	
	/**********************************************/
	/*										   	  */
	/*                 BOX SIZING                 */
	/*									 	   	  */
	/**********************************************/
	input[type="text"],
	input[type="search"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	input[type="submit"],
	input[type="button"],
	input[type="date"],
	textarea,
	select {
		box-sizing: border-box;
		margin: 0;
		border-radius: 0px;
		font-size: 0.9rem;
		font-family: inherit;
	}
	
	//textarea {
	//	font-family: inherit;
	//}
	
	/**********************************************/
	/*										   	  */
	/*             GENERAL and COLUMNS            */
	/*										   	  */
	/**********************************************/
	.form_table {
		border-collapse: collapse;
		padding: 0px;
		margin: 0px;
	}
	
	.form_table .title_column {
		width: 30%;
		padding-right: 2%;
		padding-top: 5px;
		text-align: right;
		vertical-align: top;
		color: #333;
		display: flex;
		line-height: 1;
		font-size: 0.9em;
		justify-content: flex-end; // right align
		
		svg.field_icon {
			padding-left: 4px;
			font-size: 16px;
			margin-top: -3px;
		}
		
	}
	
	.form_table .value_column {
		vertical-align: top;
		display: inline-block;
		width: 68%;
	}
	
	
	.form_table div.table_row {
		padding-bottom: 7px;
		display: flex;
	}
	
	.form_table label {
		font-size: inherit;
		font-weight: normal;
		display: inline;
		//flex-grow:1; // fill the space with the title
		
		&[hidden] {
			display: none;
		}
	}
	
	input[type="text"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	input[type="submit"],
	input[type="date"],
	textarea,
	.TCv_FormItem_Select select,
	.TCv_FormItem_SelectDateTime select {
		width: 100%;
		padding: 5px;
		border: 1px solid #333;
		
	}
	
	
	.TCv_FormItem_Select select,
	.TCv_FormItem_SelectDateTime select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	
	////////////////////////////////////////////////
	//
	// SELECT ARROWS
	//
	////////////////////////////////////////////////
	
	
	// Deal with the carot being positioned properly
	.select_container {
		
		position: relative;
		
		> svg {
			font-size: 14px;
			line-height: 14px;
			padding: 0px;
			color: #333;
			display: inline-block;
			position: absolute;
			right: 6px;
			top: calc(50% - 8px);
			pointer-events: none;
			z-index: 1;
			width: 10px;
		}
	}
	
	
	.TCv_FormItem_Select select,
	.TCv_FormItem_SelectDateTime select {
		padding-right: 25px;
	}
	
	.TCv_FormItem_Select select::-ms-expand {
		display: none;
	}
	
	
	////////////////////////////////////////////////
	//
	// NO TITLE COLUMN
	//
	////////////////////////////////////////////////
	
	div.form_table div.table_row.no_title_column {
		display: block;
	}
	
	div.form_table div.table_row.no_title_column .value_column {
		display: block;
		margin-left: 0px;
		width: 100%;
	}
	
	.form_table .TCv_FormItem_SubmitButton div.title_column {
		display: none;
	}
	
	.form_table .TCv_FormItem_SubmitButton div.value_column {
		width: 100%;
	}
	
	/**********************************************/
	/*										   	  */
	/*                 HELP TEXT                  */
	/*									 	   	  */
	/**********************************************/
	//.form_table .form_info_text {
	//	padding-top:2px;
	//	font-size:0.73em;
	//}
	//.form_table .form_info_text:empty {
	//	display: none;
	//	}
	//.form_table .form_info_text,
	//.form_table .form_info_text * {
	//	color: #666666;
	//	font-weight: normal
	//	}
	//
	//.form_table .form_info_text a:link,
	//.form_table .form_info_text a:visited	 {
	//	color: #333;
	//	}
	//
	//.form_table .form_info_text a:hover	 {
	//	color: #555;
	//	}
	//
	//.form_table .form_info_text strong {
	//	font-weight: bold;
	//	}
	
	//////////////////////////////////////////////////////
	//
	// Help text popup
	//
	//////////////////////////////////////////////////////
	
	
	.help_text_container {
		// both needed, depending on rendering side
		padding-left: 4px;
		padding-right: 4px;
		position: relative;
		
		order: -1; //Move to the left
		
		a.help_icon_button {
			color: #666;
			
			&:hover {
				color: #333;
			}
			
			&:active {
				color: #777;
			}
		}
		
		// INSIDE TEXT
		.form_info_text {
			display: none;
			position: absolute;
			background: #333;
			color: #FFF;
			padding: 8px;
			width: 200px;
			font-size: 0.8rem;
			z-index: 200;
			border-radius: 4px;
			line-height: 1.4em;
			left: -4px;
			margin-top: 4px;
			text-align: left;
			
			a {
				color: #FFF;
				text-decoration: underline;
				
				&:hover {
					opacity: 0.8;
				}
			}
			
			// If they include paragraphs
			p:last-child {
				padding-bottom: 0;
				margin-bottom: 0;
			}
			
			// NOTCH
			&:before {
				content: " ";
				background: #333;
				width: 12px;
				height: 12px;
				transform: rotate(45deg);
				position: absolute;
				//	z-index: 10;
				top: -6px;
				left: 10px;
			}
			
		}
		
		&.showing {
			
			.form_info_text {
				display: block;
			}
			
			
		}
	}
	
	/**********************************************/
	/*										   	  */
	/*                TEXT FIELDS                 */
	/*										   	  */
	/**********************************************/
	
	.form_table input[type="text"],
	.form_table input[type="email"],
	.form_table input[type="tel"],
	.form_table input[type="password"],
	.form_table textarea {
		padding: 5px;
		border: 1px solid $form_border_color;
		background: #F9F9F9;
	}
	
	.form_table .tiny_mce .form_item_container textarea {
		height: 200px;
	}
	
	
	/**********************************************/
	/*										   	  */
	/*                  BUTTONS                   */
	/*										   	  */
	/**********************************************/
	
	
	button[type="submit"],
	input[type="submit"],
	input[type="button"] {
		background: #DDD;
		
		// Remove mobile styling
		-webkit-appearance: none;
		-moz-appearance: none;
		
		&:hover {
			background: #EEE;
			cursor: pointer;
		}
		
		&:disabled {
			color: #666;
			background-color: #BBB !important;
			border-color: #666;
			cursor: default;
		}
	}
	
	
	
	
	
	
	/**********************************************/
	/*										   	  */
	/*                VALIDATION                  */
	/*										   	  */
	/**********************************************/
	
	
	// Move the required icon to the right of everything, inside the space
	.form_table .required_icon {
		padding-right: 3px;
		width: 7px;
		margin-right: -10px;
		order: 5;
	}
	
	
	.form_table .invalid {
		
		.field_title,
		.field_icon {
			color: #990000;
		}
		
		select, input {
			border: 1px solid #990000;
			background: #FFDDDD;
		}
		
	}
	
	
	/**********************************************/
	/*										   	  */
	/*               RADIO BUTTONS                */
	/*										   	  */
	/**********************************************/
	fieldset {
		padding:0;
		margin:0;
		
	}
	
	.radio_button_option_box {
		padding: 4px 4px 0px 0px;
		display: inline-block;
		
	}
	
	.radio_button_option_box label {
		padding-left: 4px;
	}
	
	.radio_button_option_box .button_restyle {
		display: none;
	}
	
	/**********************************************/
	/*										   	  */
	/*                CHECKBOXES                  */
	/*										   	  */
	/**********************************************/
	.TCv_FormItem_Checkbox .value_column input[type="checkbox"],
	.TCv_FormItem_CheckboxList .value_column input[type="checkbox"] {
		margin-top: 4px;
		margin-right: 4px;
	}
	
	.checkbox_label .button_restyle {
		display: none;
	}
	
	.checkbox_label .button_text {
		//font-size:0.75em; // Removed. Should match the full size
	}
	
	
	/**********************************************/
	/*										   	  */
	/*                 HTML BOX                   */
	/*										   	  */
	/**********************************************/
	.TCv_FormItem_HTML .value_column {
		padding-top: 5px;
		//padding-bottom:7px;
		
		.form_item_container {
			line-height: 1.4em;
			font-size: 0.8rem;
			margin-bottom: 7px;
		}
	}
	
	/**********************************************/
	/*										   	  */
	/*                 FORM FILE                  */
	/*										   	  */
	/**********************************************/
	.form_table .form_file_preview {
		display: block;
		padding: 4px;
		border: 1px solid #CCCCCC;
		width: 248px;
		margin-top: 4px;
		min-height: 40px;
	}
	
	.form_table .form_file_preview img {
		padding-right: 5px;
		display: block;
		float: left;
	}
	
	.form_table .form_file_preview a {
		line-height: 1.2em;
		font-size: 0.7em;
	}
	
	.form_table .form_file_preview a:hover img {
		opacity: 0.7;
		filter: alpha(Opacity=70);
	}
	
	.form_table .form_file_preview .delete_button {
		float: right;
		display: block;
		padding: 3px;
	}
	
	/**********************************************/
	/*										   	  */
	/*                 HEADINGS                   */
	/*										   	  */
	/**********************************************/
	
	.form_table .TCv_FormItem_Heading {
		padding-top: 8px;
		
		h2 {
			font-size: 1.2em;
			font-weight: normal;
			border-bottom: 1px solid #555;
			padding-bottom: 4px;
			color: #555;
		}
		
		.form_help_text {
			padding-top: 4px;
			font-size: 0.8em;
			color: #555;
		}
	}
	
	
	/**********************************************/
	/*										   	  */
	/*            SELECT DATE / TIMES             */
	/*								 		   	  */
	/**********************************************/
	.TCv_FormItem_SelectDateTime {
		
		.select_container {
			display: inline-block;
		}
		
		.date_select_wrapper,
		.date_select_YMD_box,
		.date_select_hms_box {
			display: inline-block;
			white-space: nowrap;
		}
		
		.date_select_YMD_box {
			padding-right: 20px;
			padding-bottom: 5px;
		}
		
		.date_select_hms_box,
		.date_select_hm_box {
			padding-bottom: 5px;
		}
		
		
		.value_column .select_container,
		.value_column span {
			margin-right: 1%;
		}
		
		select {
			//padding-left: 5px; /*Required in Tunsten to avoid touching the edge */
			border-radius: 0px;
			
		}
		
		//
		//svg {
		//	padding-left:5px;
		//}
		
		.date_select_wrapper select {
			padding-right: 20px;
		}
		
		
	}
	
}

//////////////////////////////////////////////////////
//
// SINGLE COLUMN STACKING
//
// Forms when they collapse into a single column
//
//////////////////////////////////////////////////////



@mixin single-column{
	
	// Table is flex with wrapping, but then each table row get flex-basis 100% to make it full width
	.form_table {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	div.table_row,
	div.TCv_FormItem_Group {
		flex-basis: 100%; // makes them full width
		
	}
	
	// Each row, avoids things that are set to no-stack
	div.table_row:not(.no_stack) {
		
		display: flex;
		flex-direction: column;
		
		&.half_width {
			flex-basis: 48%;
		}
		
		div.title_column,
		div.value_column {
			width: 100%;
			float: none;
			clear: none;
			text-align: left;
			margin-left: 0px;
			//	display: block;
			padding-right:0;
			
		}
		
		div.title_column {
			padding-bottom: 4px;
			justify-content: flex-start; // left-aligned
		}
		
		.help_text_container {
			order:0; // undo reordering
		}
		
		.field_title {
			display: block;
			padding-bottom: 2px;
			
			svg.field_icon {
				float: left;
				padding-left:0px;
				padding-right:4px;
			}
			
			&[hidden] {
				display: none;
			}
		}
		.required_icon {
			//float: right;
			font-size: 0.7em;
			padding-top: 1px;
			margin-right: 0;
			width:auto;
			
			// Ensure it's on the right side
			flex-grow: 1;
			text-align: right;
			
			&:after {
				content: ' required';
				text-transform: uppercase;
			}
		}
		
	}
}

// APPLY THE MIXIN

.stacked {
	@include single-column;
}

@media only screen and (max-width : 750px) {
	@include single-column;
}


//////////////////////////////////////////////////////
//
// FILE DROPPER
//
//////////////////////////////////////////////////////

.TCv_FormItem_FileDrop {
	.existing_file_action {
		color:#FFF;
		text-decoration: none;
	}
	
	// Links in that interface
	a.confirm_crop_link,
	a.cancel_crop_link,
	a.recrop_link {
		text-decoration: none;
		&:hover {
			color:white;
			
			svg {
				color:white;
			}
		}
	}
}


//////////////////////////////////////////////////////
//
// TS SELECTOR
//
//////////////////////////////////////////////////////

// Main selector already in place
.TCv_FormItem_Select .ts-wrapper {
	//background-color:$form-near-white;
	border:1px solid $form_border_color;
	font-size: $form-font-size; // ensure standard for internal calcs
	padding-left: 5px;
	
	
	
	// Unhide the input, so it's always there
	&.input-hidden {
		input {
			opacity: 1;
			position: static;
		}
	}
	
	// Single focus hides the existing value
	&.single.focus {
		.item {
			display: none;
		}
		
		input {
			margin-left:0 !important; // push to the left
		}
	}
	
	.ts-control {
		border:none; // moved to the wrapper
		padding:0 !important;// remove it from the container, add it to the elements
		align-items: center; // flex-box centered for less weirdness
		
		.item {
			font-size: $form-font-size; // ensure standard for internal calcs
			
		}
		
		> input {
			min-width: auto;
			font-size: $form-font-size; // ensure standard for internal calcs
			padding:5px !important; // ensure the input as the proper spacing
		}
	}
	.ts-dropdown {
		margin-top:1px;
		border:1px solid $form_border_color;
		border-top:none;
	}
	
	// The currently selected item on the list
	.selected {
		background: #333;
		color:#FFF;
	}
	
	.active {
		background: rgba(#333,0.5);
		color: #FFF;
	}
	
	&.multi {
		.ts-control {
		
		}
		.item {
			border: 1px solid rgba($form_border_color,0.65);
			background: #FFF;
			
			// Margin on the right, let the flexbox do the rest of the centering work
			margin: 0 5px 0 0 ;
			
			// Selected, which can be deleted
			&.active {
				background-color: #333;
				border: 1px solid #333;
				color:white;
			}
		}
	}
	
	// DEAL WITH PLACEHOLDERS
	&.has-items {
		input::placeholder {
			opacity: 0;
		}
	}
	
	.spinner {
		display: none;
	}
	
	
	.optgroup {
		
		.option {
			padding-left:16px;
		}
	}
	
	
}
