.TMv_PageComponentManager  {

	.class_box {
		border:1px solid #999;
		padding:10px;
		padding-left:40px;
		margin-bottom: 10px;
		position: relative;
	}

	
	
	.content_icon {
		position: absolute;
		top:10px;
		left:10px;
		width:20px;
		height:20px;
	}
	
	.title {
		font-size:16px;
		padding-bottom: 4px;
	}
	
	.class_name {
		color:#666;
	}
	//
	.toggle_link {
		svg {
			width:26px;
			height:24px;
		}

		&.view_hidden {
			opacity: 0.5;
			
			svg {
				transform: rotate(180deg);
				
			}
		}
	}
	
	.not_used {
		color:#555555;
		background:#F8F8F8;
	}
	
	.missing {
		color: #990000;
		background: #99000008;
		
		
	}
	
	.menu_link {
		display: block;
		//padding:3px 5px;
		//background:#666;
		//color:#FFF;
		margin:4px 0;
		//&:hover {
		//	color:#DDD;
		//	background:#000;
		//}
	}
	
}