/************************************************/
/*                 RESET.CSS                    */
/* This file is used to reset a wide range of   */
/* CSS properties that make for more consistent */
/* site development                             */
/************************************************/

/* remove image borders */
img { 
	border:0;
}

/* remove padding and margin from various items */
p, blockquote, ul, ol, div, h1, h2, h3, h4 {
	margin:0;
	padding:0;
	line-height: 1em;
}

sup {
	font-size:x-small;
}	
/* remove outline from link  */
a, a:hover, a:active {
	outline: none;	
}

input, select, textarea {
	margin:0;
}