//  COLOUR GUIDE
	
// BLACKS
// ------------------
// Normal	: #191613
// 80%		: #474543
//
// BLUE
// ------------------
// Dark 140%	: #074A6C rgb(7, 74, 108)
// Dark 120%	: --#145E86 rgb(20, 94, 134)
// --Normal--	: ---- #19709E rgb(25, 112, 158)
// Light 80%	: #478CB1
// Light 60%	: #75A9C5
// Light 40%	: #A3C6D8
// Light 20% 	: #D1E3EC
// Light 10%	: #E8F1F5
//
// ORANGE
// ------------------
// Orange Rind	: #F37524 rgb(243, 117, 36)
// Orange Juice: $orange-juice rgb( 	232, 136, 31)
// OJ 10%		: #FDF3E9
// Sunshine	: #FFC907
// Sunshine 50%: #FFE483
//


$tungsten-blue : 	rgb(25, 112, 158);
$orange-rind : rgb(243, 117, 36);
$orange-juice : rgb(232, 136, 31);


@import "../../../../TCore/CSS/bourbon/bourbon";
@import "../../../../pages/classes/themes/scss/reset";
@import "../../../../pages/classes/themes/scss/tungsten_loading";


//////////////////////////////////////////////////////
//
// RESET.CSS
//
// This file is used to reset a wide range of
// CSS properties that make for more consistent
// site development
//
//////////////////////////////////////////////////////




// remove image borders
img { 
	border:0;
}

// remove padding and margin from various items
p, blockquote, ul, ol, div, h1, h2, h3, h4 {
	margin:0;
	padding:0;
	line-height: 1em;
}

sup {
	font-size:x-small;
}	
/* remove outline from link  */
a, a:hover, a:active {
	outline: none;	
}

input, select, textarea {
	margin:0;
}


//////////////////////////////////////////////////////
//
// SITE TEMPLATE
//
//////////////////////////////////////////////////////



body {
		margin:0px;
		}
	
	#site_container {
		margin:0px;
/* 		overflow: hidden; */
		background:url('/admin/images/tungsten_header_bg.jpg') top left repeat-x; 
		}
	

//////////////////////////////////////////////////////
//
// GENERAL STYLES
//
//////////////////////////////////////////////////////



.TSv_Tungsten {
	
	font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
	
	a {
		color: darken($tungsten-blue, 10%);
		text-decoration: none;
		
		&:hover {
			color: $orange-juice;
		}
	}
	
	img {
		border: 0px;
	}
	
	p {
		padding-bottom: 12px;
		line-height: 1.3em;
	}
	
	h2 {
		font-size: 16px;
		padding-bottom: 5px;
		font-weight: normal;
		
	}
	
	h3 {
		font-size: 12px;
		padding-bottom: 3px;
	}

	//////////////////////////////////////////////////////
	//
	// TOP BAR TEXT AND LINKS
	//
	//////////////////////////////////////////////////////
	header#tungsten_header {
		background:#FFF;
	}

	#tungsten_header_top {
		border-bottom:1px solid #A3C6D8;
		display: flex;
		justify-content: space-between;
		align-items: center;
		}
	
	#header_logo {
		height: 55px;
		width: auto;
		display: block;
		
	}
	//#tungsten_header_top {
	//	background:url('/admin/images/tungsten_logo_v8.png') 0px 0px no-repeat;
	//	text-align:right;
	//	padding-right:0px;
	//	font-size:12px;
	//	font-weight:400;
	//	color:#FFFFFF;
	//	background-color: #FFF;
	//
	//	}
}

	//////////////////////////////////////////////////////
	//
	// CONTROL BUTTONS
	//
	//////////////////////////////////////////////////////
	
	
	
	#control_buttons {
		text-align:right;
		font-size:12px;
		padding:10px 10px 10px 0px; /* top was 32px */
		min-height: 35px;
		}
	
	#control_buttons a {
	 
		color: $tungsten-blue;
		padding-left:8px;
		}

	#control_buttons #control_user_name {
		display: block;
		padding-bottom:6px;
		font-size:14px;
		padding-top:3px;
		color: $tungsten-blue;
		}

	#control_buttons a:hover ,
	#control_buttons #control_user_name:hover {
		color:$orange-juice;
		}

		
	#control_buttons #control_system_button {
		border-left:none;
		}
	
	#control_buttons .has_notification {
		color:#900;
		}
	
	#control_buttons .system_update_icon {
		display: inline-block;
		color:#FFF;
		background:#900;
		padding:2px 4px;
		margin-left:4px;
		text-align: center;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		line-height: 11px;
		font-size: 11px;
		
		}


	//////////////////////////////////////////////////////
	//
	// STAGING FLAGGING
	//
	//////////////////////////////////////////////////////

	@import "../../../../pages/classes/themes/scss/staging_header";
	
	//////////////////////////////////////////////////////
	//
	// MODULE BUTTON
	//
	//////////////////////////////////////////////////////


	#tungsten_module_bar {
		list-style:none;
		padding:0;
		margin:0;
	
/* 		float: left; */
		width:100%;
		background: linear-gradient(to bottom, #FFF 0%, #D1E3EC 100%) ;
		//height: 50px;
		clear: both;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		
		overflow: hidden; // addresses calculation offsets that can lead to weird issues with spacing
		
	}
	
	#tungsten_module_bar li {
		//display: block;
		//float: left;
		//height:100%;
		border-bottom: 1px solid #478CB1;
		height:50px;
		padding:0px;
		flex-grow: 1;
		flex-shrink:1;
		}
	
	#tungsten_module_bar.num_modules_1 {		display:none; } /* Only one, don't even show it */
	//#tungsten_module_bar.num_modules_2 li {		width:50%; }
	//#tungsten_module_bar.num_modules_3 li {		width:33.333333%; }
	//#tungsten_module_bar.num_modules_4 li {		width:25%; }
	//#tungsten_module_bar.num_modules_5 li {		width:20%; }
	//#tungsten_module_bar.num_modules_6 li {		width:16.666666%; }
	//#tungsten_module_bar.num_modules_7 li {		width:14.285714%; }
	//#tungsten_module_bar.num_modules_8 li {		width:12.5%; }
	//#tungsten_module_bar.num_modules_9 li {		width:11.111111%; }
	//#tungsten_module_bar.num_modules_10 li {	width:10%; }
	//#tungsten_module_bar.num_modules_11 li {	width:9.090909%; }
	//#tungsten_module_bar.num_modules_12 li {	width:8.333333%; }
	//#tungsten_module_bar.num_modules_13 li {	width:7.69%; }
	//#tungsten_module_bar.num_modules_14 li {	width:7.14%; }
	//#tungsten_module_bar.num_modules_15 li {	width:6.666666%; }
	//#tungsten_module_bar.num_modules_16 li {	width:6.25%; }
	
	

	#tungsten_module_bar.num_modules_greater_6 li a {	
/* 		height: 29px; */
		font-size:11px;
		}

	@media only screen and (max-width : 800px) {
		
		#tungsten_module_bar {
			
			&.num_modules_9 ,
			&.num_modules_10,
			&.num_modules_13,
			&.num_modules_14,
			&.num_modules_15
			{
				li {
					width: 20%;
				}
			}
			
			&.num_modules_11 ,
			&.num_modules_12 ,
			&.num_modules_16 ,
			&.num_modules_17 ,
			&.num_modules_18 {
					li {
					width: 15%;
				}
			}
		}
		
		
	}

	// big numbers, split them
	@media only screen and (min-width : 800px) {
		#tungsten_module_bar {
			
			&.num_modules_13,
			&.num_modules_14
			{
				li {
					width: 14.28%; // 7 and 6
				}
				
			}
			
			&.num_modules_15,
			&.num_modules_16
			{
				li {
					width: 12.5%;
				}
			}
			
			&.num_modules_17 ,
			&.num_modules_18 {
				li {
					width: 11%;
				}
			}
		}
	}

	// big numbers, split them really wide screen
	@media only screen and (min-width : 1200px) {
		#tungsten_module_bar {
			
			&.num_modules_13,
			&.num_modules_14 {
				li {
					width: 7.14%; // full width
				}
				
			}
			
			
			
			
		}
	}

	// big numbers, split them really wide screen
	@media only screen and (min-width : 1400px) {
		#tungsten_module_bar {
			
			&.num_modules_15,
			&.num_modules_16 {
				li {
					width: 6.25%;
				}
			}
		}
	}
		
		
		#tungsten_module_bar a {
		display:inline-block; 
		padding:7px 1px 5px 1px ;
		font-size:12px;
		border-left:1px solid #A3C6D8;
		width:100%;
		width: calc(100% - 3px);
		text-align: center;
		overflow: hidden;
		height: calc(100% - 12px);
		}
	
	// ICONS
	#tungsten_module_bar a svg {
		font-size:17px;
		line-height: 12px;
		display: block;
		padding-bottom: 6px;
		padding-top:2px;
		margin :0 auto;
		}
	#tungsten_module_bar li:first-child a { 
		border-left:none;
		width:calc( 100% - 2px);
		}
		
	#tungsten_module_bar a:link, #tungsten_module_bar a:visited { 
		color: $tungsten-blue;
		
		}
	
	#tungsten_module_bar a:hover {
		background: #FFF;
		color:$orange-juice;
		}
	
	#tungsten_module_bar a.current {
		background-image:none;
		@include linear-gradient(to bottom,  #75A9C5, #a3c6d8);
		height:39px;
		color:#FFF;
		border-left:1px solid #478cb1;
		border-right:1px solid #478cb1;
		border-top:1px solid #478cb1;
		width:calc(100% - 2px);
		position: relative;
		//z-index: 2;
		margin-top:-1px;

		}
	#tungsten_module_bar li:last-child a.current {
		border-right:none;
		width:calc(100% - 3px);
		}
	
	//////////////////////////////////////////////////////
	//
	// BREADCRUMBS
	//
	//////////////////////////////////////////////////////
	
	// Ensure it has a background so that body colours don't affect transparencies
	#sub_navigation {
		background:#FFF;
	}

	.TSv_ModuleNavigation {
		/* padding-left:180px; */
/* 		padding-bottom: 10px; */
		}

	//////////////////////////////////////////////////////
	//
	// HELP VIEWS
	//
	//////////////////////////////////////////////////////

	#help_view_container {
 		display: none;	 
		border:2px solid $orange-rind;
		margin-bottom: 20px;
		border-radius: 3px;
		}
	
	#help_view_container #help_close_button {
		float: right;
		font-size:24px;
		color:#FFF;
		}
	
	#help_view_container .help_view_title {
		background:$orange-rind;
		color: #FFF;
		padding:8px;
		}
		
	#help_view_container #help_heading_content {
		display: inline-block;
		font-size:16px;
		padding:5px 0px;
		}
	
	#help_view_container .help_view_title .fa-question-circle {
		display: block;
		padding-right: 10px;
		font-size:26px;
		float: left;
		}
	
	#help_view_container .help_view_contents {
		padding:10px;
		}
	
	#help_view_container .help_view_contents h2 {
		padding-bottom:10px;
		}
	#help_view_container .help_view_contents h3 {
	    border-bottom: 1px solid #999;
	    font-size: 14px;
	    font-weight: normal;
	    margin-bottom: 6px;
	    padding-bottom: 6px;
	    padding-top: 10px;
	  //  text-transform: uppercase;
	   	}

	#help_view_container .help_view_contents  {
		
		ol, ul {
			margin-left: 20px;
			
			li {
				padding-bottom: 6px;
				line-height: 1.3em;
			}
		}
	}
	#help_view_container .help_view_contents p  a ,
	#help_view_container .help_view_contents li  a {
		display: inline-block;
		border:1px solid $orange-rind;
		padding:3px 5px;
		color: $orange-rind;
		border-radius:3px;
		}
	#help_view_container .help_view_contents p  a:hover ,
	#help_view_container .help_view_contents li  a:hover {
		background: $orange-rind;
		color: #FFF;
		}
		
	.help_highlight {
/* 		box-shadow: 0px 0px 7px 3px rgba(25, 112, 158, 0.9); */
		-webkit-animation: pulse 1s ease-in-out 3;
		-moz-animation: pulse 1s ease-in-out 3;
		animation: pulse 1s ease-in-out 3;
		}
	
	@-webkit-keyframes pulse {
		0% 		{box-shadow: 0px 0px 7px 3px rgba(25, 112, 158, 0.9);}
		50% 	{box-shadow: 0px 0px 7px 6px rgba(25, 112, 158, 0.9);}
		100% 	{box-shadow: 0px 0px 7px 3px rgba(25, 112, 158, 0.9);}
		}
	@-moz-keyframes pulse {
		0% 		{box-shadow: 0px 0px 7px 3px rgba(243, 117, 36, 0.9);}
		50% 	{box-shadow: 0px 0px 7px 6px rgba(25, 112, 158, 0.9);}
		100% 	{box-shadow: 0px 0px 7px 3px rgba(25, 112, 158, 0.9);}
		}
	@keyframes pulse {
		0% 		{box-shadow: 0px 0px 7px 2px rgba(243, 117, 36, 0.9);}
		50% 	{box-shadow: 0px 0px 7px 8px rgba(243, 117, 36, 1);}
		100% 	{box-shadow: 0px 0px 7px 2px rgba(243, 117, 36, 0.9);}
		}	
		
	//////////////////////////////////////////////////////
	//
	// MESSENGER
	//
	//////////////////////////////////////////////////////


	.TSv_Tungsten .TCv_Messenger {
		margin-bottom:10px;
		border-radius: 2px;
		
		ul {
			background:#FFF;
			max-height: 150px;
			overflow: auto;
		}
	}


	#module_warning_message {
		background-color: $tungsten-blue;
		color:#FFF;
		padding:8px;
		text-align: center;
	}


	//////////////////////////////////////////////////////
	//
	// MAIN CONTENT
	//
	//////////////////////////////////////////////////////
	#tungsten_main_content {
		margin:0 0 25px 0px;
		padding:10px;
		border-top: none;
		min-height: 300px;

		}

	
	#tungsten_clear {
		height: 1px;
		clear: both;
		}

	//////////////////////////////////////////////////////
	//
	// FOOTER
	//
	//////////////////////////////////////////////////////

	#tungsten_footer {
		color:#666;
		clear:both;
		padding:5px 0px 5px 10px;

		line-height: 1.3em;
		margin-left:180px;
		border-top:1px solid #333;
		position: fixed;
		bottom:0;
		left:0;
		right:0;
		background: #FFF;
		}
	#tungsten_footer ,
	#tungsten_footer * {
		font-size:11px;
		}
	
	#tungsten_footer a:link, #tungsten_footer a:visited {
		text-decoration:underline;
		color:#666;
		}
	
	#tungsten_footer a:hover {
		color:#999;
		}


//////////////////////////////////////////////////////
//
// HEADINGS
//
//////////////////////////////////////////////////////

	#tungsten_main_content h2.subheading {
		margin-bottom: 10px;
		background: #444444;
		background: linear-gradient(#666 0%, #444 100%);
		
		color: #FFFFFF;
		font-size: 16px;
		font-weight: normal;
		padding: 8px 10px;
		text-shadow: 0px 0px 2px #000;
		}
		
	#tungsten_main_content h2.subheading a {
		color: #FFFFFF;
		font-size: 16px;
		
		}
	#tungsten_main_content h2.subheading a:hover {
		color: #AAA;
		}



	//////////////////////////////////////////////////////
	//
	// TUNGSTEN LIST ICONS
	//
	//////////////////////////////////////////////////////

	.list_control_button {
		display: inline-block;
		background-repeat: no-repeat;
		padding:4px 0px;
		background-size: contain;
		vertical-align: middle;
		text-align: center;
		
		.fa-trash {
			color:#900;
			
		}
		
		&:hover {
			opacity: 1.0;
			
			.fa-trash {
				color:#b00;
				transition: color 0.5s;
				
			}
		}
		
		
	}

		
	a.list_control_button:hover {
		opacity: 0.85;
		filter: alpha(Opacity = 85);
		}
		
	
	.list_control_button.deactivated {
		opacity: 0.2;
		filter: alpha(Opacity = 20);
		
		}
		
	
	/* FONT AWESOME SETTINGS */
	
	.list_control_button .link_icon ,
	svg.list_control_button {
		font-size:18px;
		display: inline-block;
		vertical-align: middle;
		}
		
	.list_control_button.link_icon {
		width:22px;
		height: auto;
		border:none;
	
		}
	
	.list_control_button .link_icon {
		margin-right: 5px;
		}
		
	.list_control_button.faded {
		opacity:0.5;
		}
	a.fa-close:hover {
		color:#900;
		opacity:1.0;
		filter: alpha(Opacity = 100);
		
		}


	.list_control_button.red {
		color:#990000;
	}

	.list_control_button.orange {
		color:$orange-rind;
	}

	.list_control_button.green ,
	.list_control_button.fa-check {
		color:#009900;
		}
	
	.list_control_button.fa.disabled {
		color:#BBB;
		}


//////////////////////////////////////////////////////
//
// TCv_SearchableModelList
//
//////////////////////////////////////////////////////


.TCv_SearchableModelList {
	width:100%;
		
	.search_controls.header_controls {
		margin-top: -10px;
		margin-left: -10px;
		margin-right: -10px;
	}
	
	.search_controls.footer_controls {
		margin-top: 20px;
		margin-left: -10px;
		margin-right: -10px;
	}
	
}


	//////////////////////////////////////////////////////
	//
	// BUTTONS
	//
	//////////////////////////////////////////////////////



	a.small_button  ,
	span.small_button  {
		border:1px solid darken($tungsten-blue, 10%);
		padding:3px 10px;
		display: block;
		float: left;
		margin-top: 1px;
		
		}
	a.big_button ,
	span.big_button {
		display: block;
		border:1px solid #555;
		background: #CCC;
		padding:10px 10px;
		text-align: center;
		font-size:14px;
		color:#555;
		margin-top:10px;
		border-radius: 4px;
		}
	a.big_button:hover {
		border-color: #000;
		color: #000;
		}
	
	a.space_below {
		margin-bottom: 10px;
		}
		
	.big_button.red {
		border-color: #990000;
		background: #FFEEEE;
		color: #990000;
		}
	
	a.big_button.red:hover {
		border-color:#660000;
		color:#660000;
		}
	
	.big_button.green {
		border-color:#009900;
		background: #EEFFEE;
		color: #009900;
		}
	
	a.big_button.green:hover {
		border-color:#006600;
		color:#006600;
		}
	
	.big_button.orange {
		border-color:#FF6600;
		background: #ffe7d7;
		color: #FF6600;
		}
	
	a.big_button.orange:hover {
		border-color:#bd4d00;
		color:#bd4d00;
		}


//////////////////////////////////////////////////////
//
// INSTALL
//
//////////////////////////////////////////////////////
	.site_section_install .tungsten_left_menu {
		padding-top:10px;
		}

//////////////////////////////////////////////////////
//
// FORMS IN TUNGSTEN
//
//////////////////////////////////////////////////////

.tungsten_main_content {
	
	
	.search_controls {
		font-size:16px; // hard-coded to ensure consistent rendering
		
	}
	
	.form_table textarea {
		min-height:150px;
		}
	
}
	#tungsten_mobile_toggle {
		display: none;
		padding: 8px 10px;
		background: #222;
		background:  linear-gradient(#222 0%, #444 50%, #222 100%);
		color: #FFF;
		font-size:14px;
		text-transform: uppercase;
		border-top:1px solid #111;
		text-shadow: 0 0 2px #000;
		
		}
	#tungsten_mobile_toggle.showing {
		background: #444;
		background:  linear-gradient(#444 0%, #555 50%, #444 100%);
		}
	
	

	.tungsten_main_content .form_table .invalid {
	
		input[type="text"], select {
			border-color: #900;
			color:#900;
			
		}
		
		.date_select_wrapper::before {
			color:#900;
			
		}
	}


//////////////////////////////////////////////////////
//
// LOGIN FORM
//
//////////////////////////////////////////////////////


	body.tungsten_module_login #tungsten_main_content .TCv_Form {
	    margin: 0 auto;
		padding-top: 30px;
		width: 280px;

		}
	
	body.tungsten_module_login #tungsten_main_content .TCv_Form .title_column {
		width:98%; /* matching style from main form sheet */
		
	}
	
	body.tungsten_module_login #tungsten_main_content .TCv_Form .value_column	 {
		width:100%;
		}
		
	body.tungsten_module_login #tungsten_main_content .TCv_Form .title_column,
	body.tungsten_module_login #tungsten_main_content .TCv_Form .value_column	 {
		display: block;
		margin-left:0px;
		text-align: left;
		padding-bottom: 3px;
		}
		
	body.tungsten_module_login #tungsten_main_content .TCv_Form .required_icon {
		display: none;
		}

//////////////////////////////////////////////////////
//
// RESIZE BREAKPOINT 1
//
//////////////////////////////////////////////////////



@media only screen and (max-width : 750px)
{
	

	/* LEFT MENU HIDING */
	body {
		background: none;
		}
		
	
	#tungsten_main_content {
		margin-left:0px;
		}
	.tungsten_left_menu {
		display: none;
		width: auto;
		position: static;
		margin-top:-15px;
		margin-bottom:10px;
		}
	
	
	
}


//////////////////////////////////////////////////////
//
// PHONES
//
//////////////////////////////////////////////////////

@media only screen and (max-width : 480px)
{
	
	#tungsten_header .staging_message {
		text-align: center;
		line-height: 1.2em;
		font-size:10px;
		
		svg {
			display: none;
		}
		}
	
	#tungsten_header_top {
		background-size: 120px;
		background-position: left center !important;
		}

	.list_control_button {
		height: 16px;
		width:16px;
		}
	
	

}



//////////////////////////////////////////////////////
//
// LAYOUT COLUMNS
//
//////////////////////////////////////////////////////

.cwc {
	gap:20px;
}
