.TMv_WorkflowItemSummaryListColumn {
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	$left_width : 40px;
	$spacing_gap : 2px;
	
	.workflow_summary_box {
		margin: $spacing_gap 0;
		
	}
	
	.workflow_stage_color {
		display: flex;
		align-items: stretch;
		min-height: 11px;
		
		position: relative;
		z-index: 10;
		
		span {
			height: inherit;
		}
	}
	
	.title {
		display: flex;
		align-items: center;
		padding: $tungsten-space-minus-4;
		font-size: 12px;
		border-left:$spacing_gap solid white;
		
	}
	
	// The left tag name with the code
	.workflow_tag {
		padding: $tungsten-space-minus-4 0 ;
		display: flex;
		align-items: center;
		font-size:13px;
		background: #333;
		color: #FFF !important;
		//font-family: monospace;
		box-sizing: border-box;
		width:$left_width;
		flex: initial; // use the width
		text-align: center;
		justify-content: center;
		flex-shrink: 0;
		
	}
		
		.workflow_stage_color:hover {
			opacity: 0.8;
		}
		
		.workflow_details {
			margin-top: 5px;
			display: block;
		}
		
		.workflow_details:empty {
			display: none;
		}
		
		.workflow_details {
			
			.detail_box {
				
				display: inline-block;
				text-align: center;
				height: 12px;
				padding: 5px;
				margin-right: 3px;
				border-radius: 3px;
				color: #FFF;
				margin-bottom: 3px;
				vertical-align: top;
			}
			
			a.detail_box:hover {
				opacity: 0.7;
			}
			
			.detail_box .link_icon {
				padding-right: 3px;
			}
			
			.user_box {
				background: #999;
			}
		
			.user_box.active_user {
				background: #E8881F;
			}
		}
		
		.next_stage_box {
			display: none;
			margin: -5px 0px 2px 0px;
			padding: 10px 5px 0 5px;
			border: 1px solid #999;
			border-top: none;
			background: #FFF;
		}
		
		
		.workflow_error {
			
			display: block;
			padding: 0px;
			border: 1px solid $tungsten-error;
			
			color: $tungsten-error;
			line-height: 11px;
			margin-top: 4px;
			margin-right: 10px;
			border-radius: 3px;
			margin-left: 10px;
			
			span {
				font-size: 11px;
				display: inline-block;
			}
			
			.link_icon {
				font-size: 12px;
				background: $tungsten-error;
				color: #FFF;
				padding: 2px 4px;
				margin-right: 4px;
				width: 14px;
				text-align: center;
				display: inline-block;
			}
			
			&:hover {
				background: rgba($tungsten-error, 0.1);
				cursor: pointer;
				
				span {
					color: $tungsten-error;
				}
			}
		}
		
	
	.comment_box {
		background:$tungsten-green;
		display: flex;
		color:$white;
		align-items: stretch; // fill the gap
		
		&.comment_action_required {
			background: $tungsten-red;
		}
		svg {
			box-sizing: border-box;
			width:$left_width;
			padding: $tungsten-space-minus-4 0 ;
			height: 24px;
		}
		
		&:hover, &:focus {
			color:$white;
			opacity: 0.8;
			
		}
		
		
	}
	
	
	
	//.comment_box {
	//	background: #AAA;
	//
	//	.link_icon {
	//		color: #FFF;
	//	}
	//
	//	&.comment_action_required {
	//		background: #900;
	//	}
	//}
	
	// NOTHING TO SHOW
	&:empty:before {
		content:"––";
	}
}