
.TMv_DashboardOneNumber {
	$spacing-minus-1:	8px;
	$spacing:			16px;
	$spacing-plus-1: 	24px;
	$spacing-plus-2: 	32px;
	
	// Grab the theme config
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	@import "../../../../dashboard/classes/views/TMv_Dashboard/dashboard_theme_config";
	
	
	//padding:$spacing; // disabled since it doubled up
	
	text-align: center;
	
	.main_number {
		font-size: 2rem;
		font-weight: 700;
		color:$dashboard-dark-gray;
	}
	
	&.value_is_bad {
		background: rgba($tungsten-red,0.1);
		.main_number {
			color: $tungsten-red;
		}
		a.main_number:hover, a.main_number:focus {
			color:$tungsten-red-plus-1;
		}
		
		
	}
	
	
	&.basic {
		// Add space above and below to give it breathing room
		.main_number {
			padding:$spacing 0;
		}
		
	}
	
	&.gauge {
		/* The negative margins, etc are to remove the padding ApexCharts
		puts around radial bar charts. There's technically a setting to do
		that within ApexCharts (grid > padding) but it's finnicky. */
		
		figure {
			margin: -10% 0; // Old value broke columns margin: -12% -20% ;
		}
		
		// Style the text inside
		.apexcharts-datalabel-value {
			font-size:2em;
			font-weight: bold;
			fill:$dashboard-dark-gray;
		}
		
		&.semicircle {
			//	margin-bottom: -30%;
		}
		
		
		.apexcharts-canvas {
			
			svg {
			
			}
		}
	}
	
	&.progress_bar {
		//text-align: right;
		//padding: 30px 20px;
		//display: flex;
		//flex-wrap: wrap;
		
		$progress-bar-height : 18px;
		
		
		.main_number {
			margin-bottom: $spacing;
		}
		
		.full_width_bar {
			width:100%;
			height:$progress-bar-height;
			border-radius: 4px;
			
		}
		
		.filled_bar {
			height: 100%;
			border-radius: 4px;
		}
		
		.gray {
			background-color: $dashboard-light-gray;
		}
		.blue {
			background-color: $dashboard-blue;
		}
		.purple {
			background-color: $dashboard-purple;
		}
		.pink {
			background-color: $dashboard-pink;
		}
		.red {
			background-color: $dashboard-red;
		}
		.orange {
			background-color: $dashboard-orange;
		}
		.yellow {
			background-color: $dashboard-yellow;
		}
		.green {
			background-color: $dashboard-green;
		}
	}
	
	&.error {
		//	font-size: 20px;
		font-weight: 400;
		padding: 0;
		margin: inherit;
		display: inherit;
		text-align: left;
	}
	
	
	.comparison_box {
		margin-top:$spacing;
		border-top:1px solid $dashboard-dark-gray;
		padding-top:$spacing;
		
		// Stacked and not full width
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.comparison_number {
			font-size:1em;
			margin-top: $spacing-minus-1;
			display: inline-block;
			font-weight: bold;
		}
		
		.positive_change {
			color: #1b7c3f;
		}
		.negative_change {
			color: #9B1926;
		}
	}
}
