.TMv_WorkflowNextPrevious {

	width: 100%;
	display: flex;
	margin-bottom: 5px;
	justify-content: space-between;
	
	a.TCv_Link {
		width: calc(50% - 2.5px);
		padding: 5px;
		box-sizing: border-box;
		margin-left:0;
		margin-right:0;
		color: #FFF;
		
		background-color: #666;
		&:hover {
			background-color: #444;
		}
		
		
		display: flex;
		align-content: center;
		&.next_button {
			justify-content: flex-end; //put content at the end
			svg {
				padding-left: 10px;
			}
			
		}
		
		&.previous_button {
			svg {
				padding-right: 10px;
			}
		}
		
	}

	// Deal with just next button
	// Detect if it has the next class but NOT the prev one
	// Change flexbox direction to start to the flex-end, which is right aligned
	&.has_next:not(.has_prev) {
		justify-content: flex-end; //put content at the end
		
	}

}