
$tungsten-blue : 	rgb(25, 112, 158);
.TMv_HTMLTableBuilder {
	overflow-x: auto;// by default, really wide tables should scroll
	
	// Avoid the common double-up on padding since we're using paragraphs
	td, th {
		p:last-child {
			padding-bottom:0px;
			margin-bottom: 0px;
		}
	}
	// PAGE BUILDER STYLES
	&.in_page_builder {

	
	
	}
	
	// Make tables without a set percentage, use fixed width. This avoids the messy rearranging
	&:not(.has_set_widths) table {
		table-layout: fixed;
		width:100%;
	}
}

.editor_mode .TMv_HTMLTableBuilder {
	
	&:hover {
		td{
			outline:1px solid #00000022;
			outline-offset: -1;
		}
	}
	td {
		min-height: 20px;
	}
	
	// Hovering over a cell shows the edit button. It all happens in the form, simplify the setup
	td, th {
		&:hover {
			position: relative;
			
			&:after {
				content:" ";
				position: absolute;
				top:0px;
				left:0px;
				background:rgba($tungsten-blue,0.8) url('cog.svg') no-repeat center center;
				background-size:16px 16px;
				width:100%;
				height: 100%;
				z-index: 3;
				color:#FFF;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}