.TSv_Tungsten9_BreadcrumbBar {
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	
	display: flex;
	justify-content: space-between;
	//padding: 10px;
	//	clear: left;
	list-style: none;
	align-items: center;
	
	#nav_breadcrumbs {
		display: flex;
		flex-wrap: wrap;
	}
	
	li {
		display: flex;
		align-items: center;
		
		// Add the arrow beforehand
		&:before {
			display: block;
			content: url('caret-right.svg');
			height: 20px;
			padding:$tungsten-space-minus-3;
			width:$tungsten-space-minus-3;
			// Fill colour handled in the SVG file
		}

		&:first-child:before {
			display: none;
			
		}
		
		
		span, a {
			font-size: 1.6rem;
			font-weight: 300;
			display: inline;
			padding: 8px 2px;
			line-height: 20px;
		}
		
		&.breadcrumb a {
			color: $tungsten-blue-minus-1;
			
			&:hover, &:focus {
				color: $tungsten-blue-plus-1;
			}
			
			
		}
		
		&.breadcrumb:last-of-type a {
			color:$tungsten-blue-plus-1;
			//font-size:2rem;
			
			&:hover, &:focus {
				color: $tungsten-blue-plus-2
			}
			
		}
		
	}
		
		//////////////////////////////////////////////////////
		//
		// RIGHTBOXES
		//
		//////////////////////////////////////////////////////

		#right_menu_container {
			flex-shrink: 0; // don't let the buttons get compressed
		}

		.right_menu {
			background: none;
			padding: 0px;
			margin-left: 10px;
			display: inline-block;

			// Hide the arrows that get added with other lists
			&:before {
				display: none;
			}
			
			&.template_indicator div,
			a,
			select {
				font-size: 12px;
				padding: 4px $tungsten-space-minus-2;
				display: block;
				color: $white;
				border-radius: $tungsten-space;
				height: 20px;
				background: $tungsten-blue-plus-1;
				
			}
			
			&.template_indicator div {
				background: $tungsten-green-plus-1;
				border-radius: 4px;
				display: flex;
				align-items: center;
				gap:4px;
			}
			

			select {
				box-sizing: border-box;
				height: 30px;
				border-radius: 2px !important;
				padding-right: 22px;
			}

			a svg {
				font-size: 14px;
				display: inline-block;
				margin-right: $tungsten-space-minus-3;
			}

			a.icon_only svg {
				margin-right: 0px;

			}

			a:hover, a:focus {
				background: $tungsten-blue-plus-2;
				
			}
			
			// NEW BUTTONS, styled with the plus icon
			&.right-fa-plus {
				a {
					background:$tungsten-green-plus-1;
					
					&:hover {
						background:$tungsten-green-plus-2;
						
					}
				}
			}
		}
		
		@media only screen and (max-width: 480px) {

			.right_menu_container.full_width {
				width: 100%;
				display: block;
				padding-bottom: 5px;
			}

			// All widths account for 2% padding in between
			&.menu_count_right_1 .right_menu_container.full_width .right_menu {
				width: 100%;
			}
			&.menu_count_right_2 .right_menu_container.full_width .right_menu {
				width: 49%;
			}
			&.menu_count_right_3 .right_menu_container.full_width .right_menu {
				width: 32%;
			}
			&.menu_count_right_4 .right_menu_container.full_width .right_menu {
				width: 23.5%;
			}
			&.menu_count_right_5 .right_menu_container.full_width .right_menu {
				width: 18.4%;
			}

			.right_menu_container.full_width .right_menu {
				float: none;
				display: inline-block;
				margin: 0px 0px 5px 2%;
				text-align: center;
			}

			.right_menu_container.full_width .right_menu:first-child {
				margin-left: 0px;
			}
	
		}

}
	