//////////////////////////////////////////////////////
//
// ADD LAYOUT SECTION
//
//////////////////////////////////////////////////////

#add_layout_section {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#add_layout_section a.add_section_button {
	display: block;
	text-align: center;
	border: 1px solid #145e86;
	color: #145e86;
	background: #E8F1F5;
	padding: 20px;
	font-size: 18px;
}

#add_layout_section a.add_section_button:hover {
	background: #A3C6D8;
}

//////////////////////////////////////////////////////
//
// ADD CONTENT BUTTON
//
//////////////////////////////////////////////////////


a.content_add_row_button:hover,
a.content_add_column_button:hover,
a.add_content_button:hover {
	color: $white;
	border-color: $add-content-color;
	background-color: $add-content-color;
	
	
	&:before {
		background: $add-content-color;
	}
}



.control_panel.button_hover_add_row,
.control_panel.button_hover_add_column,
.layout_block_control_panel.button_hover_add_content {
	background: rgba($add-content-color, 0.5);
	border-color: rgba($add-content-color, 1);
	
	&:before {
		background: $add-content-color;
	}
}