//////////////////////////////////////////////////////
//
// STYLES
//
//////////////////////////////////////////////////////

// Indicator
.content_styles_button .num_styles {
	position: absolute;
	top:1px;
	left:1px;
	font-size:10px;
	color:$tungsten_blue;
	
	
}

a.content_styles_button:hover {
	//color: $white;
	border-color: $style-color;
	background-color: $style-color;
	
	.num_styles {
		color:$white;
	}
}

.control_panel.button_hover_styles {
	background: rgba($style-color, 0.5);
	border-color: rgba($style-color, 1);
	
	
	&:before {
		background: $style-color;
	}
}

// Applied styles indicator
.applied_styles {
	position: absolute;
	bottom:4px;
	right:4px;
	display: none;
	
	font-size:12px;
	
	div {
		display:inline-block;
		background: #333333;
		color: $white;
		padding:4px;
		border-radius:2px;
		margin:4px;
	}
}

// Only show styles when hovering
.button_hover .applied_styles {
	display: block;
}



// Adding the override ID which is positioned in the top left
.override_id {
	position: absolute;
	top:-16px; // eyeballed
	left:#{$button-size + $button-spacing + $button-spacing};
	font-size:13px;
	
	transform: rotate(90deg);
	transform-origin: bottom left;
	padding:$button-spacing #{$button-spacing * 2};
	border-radius: $button-spacing;
	background:#222222;
	color:white;
	font-family: Courier, "Courier New", monospace;
}

// Adjust for rows
.section_row_control_panel .override_id {
	left:auto;
	right:-72px; // eyeballed
	
}