#bottom_control_bar {
	//@import "../../../../../../admin/system/classes/views/TSv_Tungsten/css_partials/tungsten_buttons";
	@import "../../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	@import "../../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_buttons";


	//order:10; // make it the last thing
	background: $white;//-plus-1;
	padding:$tungsten-space-minus-2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
	//position: fixed;
	//bottom: 0;
	
	box-sizing: border-box;
	width:100%;
	height:$panel_button_size;
	
	//z-index: 2300;
	border-top:1px solid $white-plus-2;//$tungsten-blue-minus-1;
	
	
	.manage_group {
		display: flex;
		gap:$tungsten-space-minus-2;
		align-items: center;
	}
	
	.add_section_button {
		@include panel-bottom-button;
	
	}
	
	
	
	#preview_toggle_button {
		text-decoration: none;
		font-family: $tungsten-font-family;
		color: $tungsten-blue;
		display: flex;
		gap:$tungsten-space-minus-3;
		//font-size:0.85rem;
		&:hover, &:focus {
			color: $tungsten-blue-plus-1;
		}
		
		.preview_on, .preview_off {
			display: flex;
			align-items: center;
			gap:$tungsten-space-minus-3;
		}
		
		svg {
			width:$tungsten-space-minus-1;
			height: $tungsten-space-minus-1;
		}
	}
}

.editor_mode #preview_toggle_button {
	.preview_on {
		display: none !important;
	}
}

.preview_mode #preview_toggle_button {
	.preview_off {
		display: none !important;
	}
}