
$tungsten_blue :#19709E;
$delete-color : rgb(221, 0, 0); // red
$row-color : #666666;
$edit-color : rgb(20, 94, 134); // blue
$visibility-color : rgb(255, 120, 0); // orange
$visibility-color-neutral : #888888;
$move-color : rgb(47, 196, 178);
$workflow-color : rgb(80,80,80);
$add-content-color : rgb(0, 155, 0); // green
$white : rgb(255, 255, 255); // white
$style-color : rgb(166, 132, 53); // yellow-ish
$flags-color: #d21696;