.control_panel {
	z-index: 120;
	position: absolute !important; // forces over pages styling
	top: 0px;
	left: 0px;
	opacity:0.3;
	// control panels have padding built in
	
	// Default values that ensure consistency
	
	border:1px solid rgba(0,0,0,0);
	margin:-1px;
	// Smooth out transitions
	transition: background-color, border-color, 0.2s;
	
}

.section_row_control_panel {
	left:auto;
	right: 0;
}

.content_control_panel {
	left:auto;
	right: 0;
	text-align: right;
	//width:180px; // avoid intersecting
}


.layout_block_control_panel {
	top: 0;
	left: 0;
	z-index: 110; // more than other control panels
}




.control_panel.button_hover,
.control_panel.showing_delete {
	
	// calculate base on the existing padding
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.control_panel.showing_delete {
	z-index: 200;
	opacity:1; // ensure it's full strength
}

// increase opacity for the control panel
.control_panel.button_hover {
	opacity:1;
}


//////////////////////////////////////////////////////
//
// HOVER TEXT
//
//////////////////////////////////////////////////////

// Add the text
.section_control_panel.button_hover:before ,
.section_row_control_panel.button_hover:before ,
.content_control_panel.button_hover:before ,
.layout_block_control_panel.button_hover:before {
	position: absolute;
	font-size:12px;
	text-transform: uppercase;
	top:-21px;
	height:12px;
	left:-1px;
	color:#FFF;
	padding:5px 8px 4px 8px;
	display: block;
	font-family: Arial, sans-serif;
	z-index: 100; // ensure it's above all the layouts
	
}

.section_control_panel.button_hover:before {
	content: "Section";
}

.section_row_control_panel.button_hover:before {
	content: "Row";
	left:auto;
	right:-1px;
}

.layout_block_control_panel.button_hover:before {
	content: "Column";
}

.content_control_panel.button_hover:before {
	content: "Content";
	left:auto;
	right:-1px;
	
}

//////////////////////////////////////////////////////
//
// GENERAL BUTTON STYLING
//
//////////////////////////////////////////////////////

/* High specificity to ensure it gets used */
a.content_button:link,
a.content_button:visited,
a.content_button {
	/*border: 1px solid #333;*/
}

a.content_button:link,
a.content_button:visited,
a.content_button,
a.content_button svg {
	font-size: 16px;
}

a.content_button svg {
	width:16px;
	padding-left:0px !important; // Ensure overrides from styles don't interfere
	margin-left:0px !important;
}

// Ensure everything inside the SVG always follows the parent colour
a.content_button svg * {
	color: inherit !important;
	
}


a.content_button {
	background: rgba($white, 0.9);
	padding: 4px;
	position: relative;
	z-index: 150;
	line-height: 16px;
	text-align: center;
	width: 16px;
	height: 16px;
	display: inline-block;
	//	opacity: 0.2; // start them all dimmed
	
	&:hover {
		opacity: 1.0 !important;
		z-index: 300;
	}
}


/* Shadows on buttons */
a.content_button,
a.content_button span {
	//	box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.6);
	
}




a.content_button:hover,
a.content_button:hover svg,
a.content_button:hover svg *,
a.content_button:hover span {
	color: $white !important;
	z-index: 160;
}

/* The buttons for content control panels sit below the buttons */
.content_control_panel a:hover {
	height: 22px;
}

//////////////////////////////////////////////////////
//
// BUTTON EXPLANATION TEXT
//
//////////////////////////////////////////////////////

/* Hide the explanation text */
a.content_button span {
	display: none;
	white-space: nowrap;
	padding: 4px 8px;
	background: inherit;
	position: absolute;
	font-family: Arial, sans-serif;
	
}

a.content_button:hover span {
	display: block;
}



.content_control_panel a span {
	top: $button-size;
	right: -1px;
	text-align: right;
	font-size:12px;
}

// STACKED BUTTONS
.section_control_panel,
.section_row_control_panel,
.layout_block_control_panel,
#control_panel_page_settings {
	
	a {
		
		margin-top: -1px; // move them up one, so the sit on top of each other with borders
		
		span {
			top: -1px;
			padding-top: 5px;
			padding-bottom: 9px;
			height: 11px;
			left: $button-size;
			padding-left: 0px;
			font-size:12px;
		}
	}
}

//.section_control_panel a span,
//.section_row_control_panel a span ,
//.layout_block_control_panel a span ,
//#control_panel_page_settings a span {
//
//
//}

// Side-aligned help text
.section_control_panel a span,
a.content_page_settings_button span {
	padding-left: 0px;
	
}

// ROWS
.section_row_control_panel a span {
	text-align: right;
	right: $button-size;
	left:auto;
	padding-right: 5px;
	padding-left: 8px;
	
}

