//////////////////////////////////////////////////////
//
// CONTENT CONTROL PANEL
//
//////////////////////////////////////////////////////



.content_control_panel {
	a.content_button {
		border: 1px solid $tungsten_blue;
		color: $tungsten_blue;
		margin-top:$button-spacing;
		margin-right:-1px;
		
		svg {
			color: $tungsten_blue;
		}
		
		// manually select to since last-child won't work
		&.content_delete_button {
			margin-right:$button-spacing;
		}
		
	}
	
}