//////////////////////////////////////////////////////
//
// SECTION CONTROL PANEL
//
//////////////////////////////////////////////////////

.section_control_panel {
	
	.content_button {
		display: block;
		margin-left: 0px;
		border: 1px solid $row-color;
		
		svg {
			color: $row-color;
		}
		
		//border-top-width: 0px;
		
		// Remove left border last
		border-left: none;
		
		
		&:first-child {
			//	border-top-width: 1px;
			margin-top:$button-spacing;
		}
	}
	
	
	
}

&.editing {
	min-height: 190px;
	background-color: #BBB;
	
	.section_control_panel .content_button {
		display: inline-block;
	}
	
	.TMv_ContentLayoutBlock {
		opacity: 0.5;
	}
}

// Deal with hiding the arrows on the first and last items
.first_section .section_control_panel .content_section_move_up_button {
	display:none;
}

.last_section .section_control_panel .content_section_move_down_button {
	display:none;
}
