//////////////////////////////////////////////////////
//
// ROW CONTROL PANEL
//
//////////////////////////////////////////////////////

.section_row_control_panel {
	
	.content_button {
		clear:right;
		float: right;
		border: 1px solid $row-color;
		svg {
			color: $row-color;
		}
	}
	
	a.content_button {
		border-right: none;
		margin-right: 0px;
		
		&:first-child {
			margin-top:$button-spacing;
		}
		
	}
}

// Deal with hiding the arrows on the first and last items
.first_row .section_row_control_panel .content_row_move_up_button {
	display:none;
}

.last_row .section_row_control_panel .content_row_move_down_button {
	display:none;
}

// Single row (first and last) means we don't all it to be deleted
.first_row.last_row .section_row_control_panel .content_delete_button {
	display:none;
}


// Rows with 5 columns can't have any more
.max_columns .section_row_control_panel .content_add_column_button {
	display: none;
}