//////////////////////////////////////////////////////
//
// COLUMN CONTROL PANEL
//
//////////////////////////////////////////////////////

.layout_block_control_panel {
	
	a.content_button {
		border: 1px solid #333;
		color: #333;
		margin-left:$button-spacing;
		
		display: block;
		
		svg {
			color: #333;
		}
		
		//border-top-width:0px;
		
		&:first-child {
			//	border-top-width: 1px;
			margin-top:$button-spacing;
		}
		
	}
	
}

// Don't show option to delete columns if there is only one
.TMv_ContentLayout_1Column .layout_block_control_panel .content_column_rearrange_button ,
.TMv_ContentLayout_1Column .layout_block_control_panel .content_delete_button {
	display: none;
}
