//////////////////////////////////////////////////////
//
// DELETE
//
//////////////////////////////////////////////////////

.showing_delete {
	min-height: 140px;
}

a.content_delete_button:hover {
	color: $white;
	border-color: $delete-color;
	background-color: $delete-color;
}

.control_panel.button_hover_delete {
	background: rgba($delete-color, 0.5);
	border-color: rgba($delete-color, 1);
	
	&:before {
		background: $delete-color;
	}
}

//////////////////////////////////////////////////////
//
// CONFIRM DELETE BOX
//
//////////////////////////////////////////////////////

.confirm_delete_box {
	position: absolute !important;
	width: 100%;
	height: 100%;
	min-height: 140px;
	background: rgba(0, 0, 0, 0.8);
	z-index: 210;
	overflow: hidden;
	display: none;
	top: 0px;
	
	
	.confirm_delete_explanation {
		color: $white;
		font-size: 18px;
		padding: 15px;
		text-align: center;
		line-height: 1.2em;
		
	}
	
	a.cancel_delete_content_button,
	a.confirm_delete_content_button {
		width: calc(50% - 50px);
		font-size: 16px;
		padding: 15px 10px;
		position: relative;
		display: inline-block;
		text-align: center;
		-webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.75);
		color: $white;
		height: 14px;
	}
	
	a.cancel_delete_content_button svg,
	a.confirm_delete_content_button svg {
		font-size: 25px;
		height: 25px;
		float: right;
		margin-top: -7px;
		color: $white;
		/*
		position: absolute;
		left:14px;
		top: 14px;
		*/
	}
	
	.cancel_delete_content_button {
		background: #888;
		margin-right: 10px;
		margin-left: 20px;
	}
	
	.cancel_delete_content_button:hover {
		background: #AAA;
	}
	
	.confirm_delete_content_button {
		background: $delete-color;
		margin-right: 20px;
		margin-left: 10px;
	}
	
	.confirm_delete_content_button:hover {
		background: #F00;
	}
}