//////////////////////////////////////////////////////
//
// EDIT CONTENT
//
//////////////////////////////////////////////////////

a.content_edit_button:hover,
a.content_page_settings_button:hover {
	color: $white;
	border-color: $edit-color;
	background-color: $edit-color;
	
	
	&:before {
		background: $edit-color;
	}
}

.control_panel.button_hover_edit {
	background: rgba($edit-color, 0.5);
	border-color: rgba($edit-color, 1);
	
	&:before {
		background: $edit-color;
	}
}

.content_control_panel a.content_edit_button span ,
.content_control_panel a.content_visible_button span {
	right:auto;
	left:-1px;
	text-align: left;
}