//////////////////////////////////////////////////////
//
// FLAGS BUTTON
//
//////////////////////////////////////////////////////



a.flags_button:hover {
	color: $white;
	border-color: $flags-color;
	background-color: $flags-color;
	
	&:before {
		background: $flags-color;
	}
	
	i.number {
		color: $flags-color;
	}
}

.control_panel.button_hover_flags {
	background: rgba($flags-color, 0.5);
	border-color: rgba($flags-color, 1);;
}

// Left aligned
.content_control_panel a.flags_button span {
	right:auto;
	left:-1px;
	text-align: left;
}
