//////////////////////////////////////////////////////
//
// NO CONTENT VIEW
//
//////////////////////////////////////////////////////

#no_content_view {
	padding:20px 0px;
	
	p {
		padding:20px;
		border:1px solid #909090;
		
		&, & > * {
			font-size:18px;
			
		}
	}
	
	
}

//////////////////////////////////////////////////////
//
// EMPTY / NO CONTENT
//
//////////////////////////////////////////////////////

.TMv_ContentLayoutBlock.is_empty {
}

.TMv_ContentLayout.pages_layout .content_width_container > .TMv_ContentLayoutBlock.is_empty .empty_placeholder {
	height: 166px;
	border: 2px dashed #CCC;
	/* 		margin-bottom: 20px; */
	
}