//////////////////////////////////////////////////////
//
// PAGE PROPERTY VIEW
//
//////////////////////////////////////////////////////


#page_property_view {
	border-bottom: 2px solid #074a6c;
	margin-bottom: 20px;
	margin-top: -20px;
	background-size: cover;
	background-position: center center;
	position: relative;
}

#page_property_view .content_width_container {
	padding-top: 20px;
}

#page_property_view #preview_page_breadcrumbs a {
	display: inline-block;
	border-radius: 3px;
	background: rgba(25, 112, 158, 1.0) none repeat scroll 0 0;
	color: $white;
	margin-right: 5px;
	font-size: 16px;
	padding: 6px;
	margin-bottom: 4px;
}

#page_property_view #preview_page_breadcrumbs a:hover {
	background-color: #e8881f;
}

#page_property_view.has_photo {
	height: 200px;
}

#page_property_view.has_photo #page_property_content_box {
	position: absolute;
	bottom: 0px;
	background: rgba($white, 0.7);
	width: 100%;
}

#page_property_view #preview_settings_button {
	float: right;
	font-size: 14px;
	vertical-align: middle;
}

#page_property_view #preview_settings_button svg  {
	float: right;
	font-size: 16px;
	display: inline-block;
	padding-left: 5px;
}
