
$tungsten_popup_blue : #145E86; // actually dark blue
$popup-outside-space:16px;
$popup-max-width: 840px;


.popup_inside .button_grid_options {
	text-align: center;
}
.button_grid_button {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.preview {
	width: 200px;
	height: 110px;
	border: 1px solid $tungsten_popup_blue;
	margin: 5px;
	padding: 10px 10px !important;
	background: #EEE;
	border-radius: 4px;
	overflow: hidden;
	color: $tungsten_popup_blue;
	position: relative;
	display: inline-block;
	
}

#add_section_popup {

	.preview {
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
}



.button_grid_button .preview .TMv_ContentLayoutBlock {
	padding-bottom: 3px;

}

.button_grid_button .preview .numbering {
	border: 2px solid $tungsten_popup_blue;
	background: #e8f1f5;
	font-size: 20px;
	//height: 60px;
	//padding-top: 47px;
	line-height: 25px;
}

.button_grid_button .preview.two_row_layout .numbering {
	//height: 34px;
	//padding-top: 16px;
}

.button_grid_button .preview .numbering.full_width_title {
	border: none;
	background: none;
	color: #666;
}

.button_grid_button:hover, .button_grid_button:active {
	.preview {
		background: $white;
	}
}

.button_grid_button .preview .column_1,
.button_grid_button .preview .column_2,
.button_grid_button .preview .column_3,
.button_grid_button .preview .column_4,
.button_grid_button .preview .column_5 {
	display: inline-block;
	vertical-align: top;
}

.button_grid_button .preview .content_icon {
	display: block;
	font-size: 40px;
	padding-bottom: 15px;
	padding-top: 5px;
	margin:0 auto;
	color:$tungsten_popup_blue;
}

.button_grid_button .preview .content_title {
	font-size: 13px;
	line-height: 1.3em;
	color:$tungsten_popup_blue;
}

.button_grid_button .preview .module_details {
	background: $tungsten_popup_blue;
	color: $white;
	padding: 4px 0px;
	width: 100%;
	margin-left: -10px;
	position: absolute;
	bottom: 0px;
	font-size: 11px;
	
	svg {
		color: $white;
	}
}

.button_grid_button .preview_description {
	width: calc(100% - 16px);
	height: calc(100% - 16px);
	background: rgba(7, 74, 108, 0.95);
	color: $white;
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px;
	line-height: 1.3em;
	display: none;
}

.button_grid_button .preview_description,
.button_grid_button .preview_description h3 {
	font-size: 11px;
	color: $white;
}

.button_grid_button .preview_description h3 {
	border-bottom: 1px solid #A3C6D8;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.button_grid_button:hover, .button_grid_button:focus {
	.preview_description {
		display: block;
	}
}
@media only screen and (max-width: 760px) {
	.button_grid_button {
		width: 50%;
	}
	.button_grid_button .preview {
		width: calc(100% - 52px);
		height: 113px;
	}

	.button_grid_button .preview .numbering {
		height: 60px;
		padding-top: 49px;

	}

	.button_grid_button .preview .content_icon {
		font-size: 40px;

	}
	.button_grid_button .preview .content_title {
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {
	.button_grid_button {
		width: 100%;
	}
	/*.button_grid_button .preview {*/
	/*height: auto;*/
	/*}*/

}

//////////////////////////////////////////////////////
//
// POP-UPS
//
//////////////////////////////////////////////////////

.TSv_PopupContainer {
}

.TSv_PopupContainer .popup_inside {
	background: #FFFFFF;
	left: 5%;
	width: calc(90% - 50px);
}

// For tungsten 9, smaller gaps so it fits tighter
.tungsten_version_9  .TSv_PopupContainer .popup_inside {
	width: 92%;
	height: 92%;
	top: 4%;
	left: 4%;
	box-sizing: border-box;
}

.TSv_PopupContainer .popup_inside form {
	width: 100% !important;
	position: static; // don't allow changes, which moves the submit button
	
	// Position the button to be at the bottom of the popup at all times
	// The main container keeps the spacing, while we move the value_column to be positioned
	.TCv_FormItem_SubmitButton {
		height:24px;
		
		.value_column {
			background:#EEEEEE; // breathing room
			border-top:1px solid #CCC;
		
			padding-top: $popup-outside-space;
			position: absolute;
			bottom:0;
			left:0;
			z-index: 5; // move it above the other content at this level
			width:100%;
			box-sizing: border-box;
			padding-left:$popup-outside-space !important;
			padding-right:$popup-outside-space !important;
			padding-bottom: $popup-outside-space; // ensure consistency with bottom
			
		}
		
	}
	
}

h2.popup_heading {
	border-bottom: 1px solid $tungsten_popup_blue;
	padding: $popup-outside-space;
	margin: 0;
	//margin-bottom: $popup-outside-space;
	height: 18px;
	color: $tungsten_popup_blue;
	font-family: inherit;
	
	background: rgba($tungsten_popup_blue, 0.12);
	
}
h2.popup_heading,
h2.popup_heading .view_class_title {
	font-size: 18px;
	text-align: left ;
}
h2.popup_heading .view_class_icon {
	font-size: 18px;
}

h2.popup_heading a.cancel_popup {
	float: right;
	font-size: 24px;
	margin-top: -5px;
	
	svg {
		color: $tungsten_popup_blue ;
	}
	
	&:hover, &:focus {
		svg {
			color:#900;
		}
		
	}
	
}

h2.popup_heading .cancel_popup svg {
	font-size: 24px;
	
}

.popup_content {
	overflow-y: auto;
	overflow-x: hidden;
	padding:$popup-outside-space;
	//height: calc(100% - 32px);
	//border: 1px solid #DDD;
	//background: $white;
	//padding: 10px;
}



#add_section_popup {
	z-index: 300;
}
#add_content_popup {
	z-index: 310;
}
#edit_content_popup {
	z-index: 320;
	
	// Wide screen, avoid really wide forms
	@media only screen and (min-width: 850px) {
		.popup_inside {
			width:$popup-max-width;
			left:calc((100% - #{$popup-max-width}) / 2 );
		}
		
	}
	
	
}

#add_content_popup #view_hidden_content_options_link {
	font-weight: normal;
	display: block;
	color: #145e86;
	font-size: 16px;
	padding: 10px;
	border: 1px solid #145e86;
	margin-bottom: 5px;
}

#add_content_popup #view_hidden_content_options_link:hover {
	background: #DDD;
}
#add_content_popup #hidden_content_options {
	display: none;
}

#styles_popup {
	
	#content_style_button_list {
		display: grid;
		grid-gap: 16px;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	.style_toggle_button {
		display: inline-block;
		//margin-right:10px;
		//margin-bottom:10px;3
		border:1px solid #666;
		color:#333;
		padding:8px 14px;
		background:#F0F0F0;
		font-size:1rem;
		text-align: center;
		//width: 160px;
		
		transition: color, background-color, border-color, 0.5s;
		.style_desc {
			display: block;
			padding-top:5px;
			font-size:0.80rem;
			color: #666;
			transition: color, 0.5s;
		}
		
		&:hover {
			border-color: #333;
			color:#333;
			background:#DDD;
			
			.style_desc {
				color:#666;
			}
		}
		
		&.selected {
			border:1px solid $edit-color;
			background:rgba($edit-color, 0.2);
			color: $edit-color;
		}
		
	}
}