.tungsten_version_9 {
	@import "../../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	@import "../../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_buttons";

	// Hide buttons by default
	#discard_changes_button,
	#publish_button {
		@include panel-bottom-button;
		display: none;
	}

	#discard_changes_button {
		background: $white-plus-2;
		color: $tungsten-grey;

		&:hover, &:focus {
			background-color: $tungsten-grey-minus-2;
			color: $tungsten-grey-plus-2;
		}

		&:active {
			background-color: $tungsten-grey-minus-1;
		}

		// add the bar to the left
		position: relative;
		margin-left: $tungsten-space-minus-2;

		&:before {
			content: "";
			position: absolute;
			width: 1px;
			background: $tungsten-grey-minus-3;
			height: $panel_button_size;
			display: block;
			left: -$tungsten-space-minus-2;
			top: -13px; //eyeballed
		}

	}

	#publish_button {
		background-color: $tungsten-green;

		&:hover, &:focus {
			background-color: $tungsten-green-plus-1;
		}

		&:active {
			background-color: $tungsten-green-plus-2;
		}

	}

	#unpublished_warning {
		display: none;
		background-color: $tungsten-yellow-minus-1;
		color: $tungsten-yellow-plus-2;
		font-size: 0.8rem;
		padding: 6px;
		text-align: center;
	}

	// Show them if they have the unpublished class
	.TMv_PageBuilder_ThemeWrapper.has_unpublished {


		#unpublished_warning,
		#discard_changes_button,
		#publish_button {
			display: block;
		}

	}
}