//////////////////////////////////////////////////////
//
// REARRANGE CONTENT
//
//////////////////////////////////////////////////////

a.content_rearrange_button:hover,
a.content_column_rearrange_button:hover,
a.content_section_move_up_button:hover,
a.content_section_move_down_button:hover ,
a.content_row_move_up_button:hover,
a.content_row_move_down_button:hover {
	color: $white;
	border-color: $move-color;
	background-color: $move-color;
}

.control_panel.button_hover_rearrange,
.control_panel.button_hover_column_rearrange,
.control_panel.button_hover_section_move_up,
.control_panel.button_hover_section_move_down,
.control_panel.button_hover_row_move_up,
.control_panel.button_hover_row_move_down {
	background: rgba($move-color, 0.5);
	border-color: rgba($move-color, 1);
	
	
	&:before {
		background: $move-color;
	}
}

.ui-sortable-helper {
	width: 100px;
	height: 100px;
	overflow: hidden;
	opacity: 0.5;
}

.ui-sortable-helper > .control_panel {
	background: rgba($move-color, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	
}

//Specificity required in order to not try and add to other columsn from non-pages layouts
.pages_layout > .content_width_container > div.content_sort_target {
	
	> .layout_block_container {
		
		border: 2px dashed $move-color;
		width: calc(100% - 4px);
		min-height: 156px;
		
		.content_container {
			margin-left: -2px;
			margin-right: -2px;
			
			&:first-child {
				margin-top: -2px;
			}
		}
		
	}
	
}



//////////////////////////////////////////////////////
//
// SORTABLE
//
//////////////////////////////////////////////////////

// The ghost that is shown when dragging a content item into a new container
// The ghost exists in the "new spot" but before it's completed
.content_ghost {
	height:40px;
	overflow: hidden;
	background: $move-color;
	color: black;
	&:after {
		content:"+";
		text-align: center;
		width:100%;
		display: block;
		font-size:28px;
		padding-top:12px;
		color:#FFF;
	}
	
	// Hide the actual stuff
	.page_content_item,
	.control_panel  {
		display: none;
	}
}

.column_ghost {
	
	width:40px !important;
	height: 150px;
	margin:0 10px;
	overflow: hidden;
	background: $move-color;
	
	&:after {
		content:"+";
		text-align: center;
		width:100%;
		height:100%;
		display: block;
		font-size:28px;
		padding-top:80px;
		color:#FFF;
		box-sizing: border-box;
	}
	
	
	// Hide the actual stuff
	.layout_block_container {
		display: none;
	}
}

.swap_transition {
	//background: red;
	transition: transform ease-in-out 0.3s;
}

//
//
//.pages_layout > .content_width_container div.content_sort_over {
//	/*border-style:solid;*/
//	background: rgba($move-color, 0.15);
//}
//
//
//
//.ui-sortable-placeholder {
//	height: 40px;
//	background: rgba($move-color, .5);
//	display: block;
//	opacity: 1.0;
//	visibility: visible !important;
//}
//.ui-sortable-placeholder::after {
//	content: '+';
//	font-size: 24px;
//	text-align: center;
//	display: block;
//	padding-top: 15px;
//	color: $move-color;
//}

// CONTENT PLACEHOLDERS


//.is_empty .ui-sortable-placeholder.content_container {
//	height: 156px;
//}
//
//.is_empty .ui-sortable-placeholder.content_container::after {
//	padding-top: 70px;
//}
//
// COLUMN PLACEHOLDERS

// Only placeholders directly inside a row
.TMv_ContentLayoutBlock.ui-sortable-placeholder {
	margin-left:10px;
	margin-right:10px;
	min-width:100px !important;
	min-height: 150px !important;
	
	&:after {
		padding-top:75px;
		font-size:40px;
		
	}
}

// style added to bad columns to indicate it won't work
.sortable_reject_column .TMv_ContentLayoutBlock.ui-sortable-placeholder {
	background:rgba($delete-color, 0.6);
	&:after {
		content:"x";
		color:#FFF;
		
	}
}
