//////////////////////////////////////////////////////
//
// VISIBILITY
//
//////////////////////////////////////////////////////



a.content_visible_button:hover {
	color: $white;
	border-color: $visibility-color;
	background-color: $visibility-color;
	
	&:before {
		background: $visibility-color;
	}
}

.section_control_panel a.content_visible_button .fa-eye-slash,
.content_control_panel a.content_visible_button .fa-eye-slash {
	color: $visibility-color;
	
}

a.content_visible_button:hover .fa-eye-slash {
	color: $white;
}

.control_panel.button_hover_visible {
	
	background: rgba($visibility-color, 0.5);
	border-color: rgba($visibility-color, 1);
	
	&:before {
		background: $visibility-color;
	}
}

.invisible {
	position: relative;
	
	outline: 4px solid $visibility-color-neutral;
	outline-offset: -4px;
	margin-bottom:12px;
	//background:rgba($visibility-color,0.2);
	
	> * {
		opacity: 0.5;
		
	}
	
	
	&:not(.tungsten_loading):before {
		content: "Hidden";
		display: block;
		position: absolute;
		bottom:0;
		width:100%;
		text-align: center;
		font-size:13px;
		background:$visibility-color-neutral;
		color:#FFF;
	//	text-transform: uppercase;
		padding-top:4px;
		padding-bottom:2px; // accounts for the outline
		box-sizing: border-box;
		left:0;
		text-transform: initial;
		font-family: Courier, "Courier New", monospace;
		letter-spacing: initial;
	}
	
	// Find teh control panels
	&.has_vis_condition {
		
		&:not(.tungsten_loading):before {
			content: 'Visibility condition: ' attr(data-vis-condition) '';
		}
		
		
	}
	
	
	&:hover {
		> * {
			opacity: 1;
		}
		
		outline-color: $visibility-color;
		//outline-offset: -2px;
		
		&:not(.tungsten_loading):before {
			background-color:$visibility-color;
		}
	}
	
	
}

// TURN OFF BUTTONS FOR VIS CONDITION, REQUIRES SPECIFIC SELECTORS
// Disable the visible button in the control panels
section.has_vis_condition > .section_control_panel ,
.row.has_vis_condition .section_row_control_panel,
.page_content_item.has_vis_condition + .content_control_panel {
	
	.content_visible_button {
		display: none;
	}
}
//+ .control_panel ,
//> .control_panel {
//
//}