//////////////////////////////////////////////////////
//
// WORKFLOW COMMENT
//
//////////////////////////////////////////////////////



a.content_workflow_comments_button:hover {
	color: $white;
	border-color: $workflow-color;
	background-color: $workflow-color;
	
	&:before {
		background: $workflow-color;
	}
}

.control_panel.button_hover_workflow_comments {
	background: rgba($workflow-color, 0.5);
	border-color: rgba($workflow-color, 1);;
}
