
$filter_grey : #555;
$tungsten-blue : 	rgb(25, 112, 158);

.TCv_SearchableModelList {
	
	$filter-spacing : 10px;
	
	.search_controls {
		padding-bottom: 20px;
	}

	// Make them all the same height works because of box-sizing already in place from other css
	
	.search_controls input[type="text"],
	.search_controls input[type="search"],
	.search_controls select,
	.search_controls .ts-control {
		height: 30px;
	}
	
	// Controls don't need it. Flexbox does all the work
	.search_controls .ts-control {
		padding-top:0 !important;
		padding-bottom:0 !important;
	}
	
	
	
	.search_controls .table_row {
		display: inline-block;
		padding-bottom: $filter-spacing;
	}
	.filter_form {
		background: #DDD;
		padding: $filter-spacing 0px 0px 0px;
	}
	
	.search_controls #filter_icon {
		display: block;
		float: left;
		width: 32px;
		font-size: 22px;
		color: #333;
		margin-left: 3px;
	}
	
	
	
	.TCv_FormItem_Group {
		display: flex;
		justify-content: space-between;
		padding-left:$filter-spacing;
		padding-right: $filter-spacing;
		gap: $filter-spacing;
		align-items: flex-end;
		
		.table_row {
			flex-grow: 1;
			width:100%;
		}
		
	}
	
	.TCv_Form {
		width: auto;
		display: flex;
		//align-items: center;
		.form_table {
			flex-grow: 1;
		}
		
		
	}
	
	
	
	.list_container.tungsten_loading {
		
		// Move the loader to the top
		&:after {
			top:30px;
		}
	}
	
	.search_controls .title_column {
		//display: none; // too much stuff
		width: auto;
		text-align: left;
		//padding-top: 0px;
		padding-bottom: 4px;
		justify-content: flex-start; // keep left aligned
		
		.field_title {
			font-size: 0.9rem; // rem needed for t9
			//text-transform: uppercase;
			color: #333;
			padding-left: 1px;
		}
		
		.help_text_container {
			order:0;
		}
	}
	
	.search_controls .value_column {
		width: 100%;
		padding: 0px;
	}
	
	
	
	
	.filter_form .TCv_FormItem .showing_YMD {
		.date_select_wrapper {
			display: inline-block;
		}
		
		.view_type_Y {
			width: 24%;
		}
		
		.view_type_M {
			width: 50%;
		}
		
		.view_type_D {
			width: 24%;
			margin-right: 0px;
		}
		
		select {
			width: 100%;
		}
		
	}
	
	
	
	#form_filter_search.filter_active,
	.filter_form select.filter_active,
	.filter_form select.filter_active + .ts-wrapper {
		background: #D1E3EC !important;
	}
	
	#form_filter_search_container {
		position: relative; // needed to position icons
	}
	
	.search_icon_box {
		position: absolute;
		padding: 7px;
		right:0px;
		top:0px;
		
		svg {
			font-size:14px;
			color: $filter_grey;
		}
	}
	
	// Deal with toggling the two icons
	.clear_search_link {
		display: none;
		font-size:15px;
	}
	.search_icon {
		display: block;
	}
	
	input.filter_active + .search_icon_box  {
		.clear_search_link {
			display: block;
		}
		.search_icon {
			display: none;
		}
	}
	
	
	
	.TCv_FormItem_HTML {
		
		.value_column .form_item_container {
			margin-bottom:0; // ensure bottom aligns
			
		}
		
		a {
			display: block;
			text-align: center;
			background: #125172;
			//border-radius: 3px;
			color: #FFF;
			height: 12px;
			padding: 9px 5px;
			margin-left: 5px;
			line-height: 1em;
			
			// should add up to 42 to match the 1 | 5 | 30 | 5 | 1 styling of the forms
			
			
			&:hover {
				color: #FFF;
				opacity: 0.8;
			}
		}
		
	}
	
	//////////////////////////////////////////////////////
	//
	// PAGINATION
	//
	//////////////////////////////////////////////////////
	
	
	.pagination_controls {
		padding: 5px $filter-spacing;
		min-height: 18px;
		background: #CCC;
		//border: 1px solid $filter_grey;
		//border-top: none;
		border-top: 1px solid $filter_grey;
		
		
		.item_count_box {
			float: right;
			padding: 2px 0px;
			font-size: 14px;
			color:$filter_grey;
		}
		a {
			display: inline-block;
			padding: 2px 4px;
			border: 1px solid rgba(0,0,0,0);
			margin-right: 2px;
			height: 12px;
			color: $filter_grey;
			font-size:12px;
			line-height: 12px;
		}
		
		a:hover {
			border-color: $tungsten-blue;
			color: $tungsten-blue;
		}
		
		a.current_page {
			background: rgba(255, 255, 255, 0.3);
			border-color: $tungsten-blue;
			color: $tungsten-blue;
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// BULK FORMS
	//
	//////////////////////////////////////////////////////
	.bulk_update_container {
		$bg_edge: #AAA;
		$bg_inside: #BBB;
		background:$bg_inside;
		background: linear-gradient(0deg, $bg_edge 0%, $bg_inside 25%, $bg_inside 75%, $bg_edge 100%);
		
		
		border-top:1px solid #333;
		padding-top:$filter-spacing;
		padding-right:$filter-spacing;
		display: none; // start hidden
		
		&.showing {
			display: block;
		}
		
		.heading {
			margin-left:$filter-spacing;
		}
		
		.TCv_Form {
			background: none;
			padding-top:4px;
		}
		
		// Align the apply button with the rest of the items
		.form_table {
			display: flex;
			align-items: flex-end;
			
		}
		
		.TCv_FormItem_Group {
			flex-grow: 1;
			flex-basis: auto;
		//	padding-left:0;
		}
		
		
		.TCv_FormItem_SubmitButton {
			width:80px;
			
			input {
				box-sizing:border-box;
				padding:5px;
				border-radius:0;
				height: 30px;
			}
			
		}
	}
	
	
	
	//////////////////////////////////////////////////////
	//
	// APPLIED FILTERS
	//
	//////////////////////////////////////////////////////
	
	
	// The box for applied filters
	.applied_filter_container {
		display: flex;
		margin-left:$filter-spacing;
		margin-top:$filter-spacing;
		
		&.empty {
			display: none;
		}
		
		.applied_filters_list {
			flex-grow: 1;
			display: flex;
			
			
		}
		
		.applied_filter {
			display: flex;
			align-items: center;
			margin-right:4px;
			
			// Space applied to elements to avoid dead-space when empty
		//	margin-bottom:$filter-spacing;
			
			border:1px solid #333;
			padding:4px 4px 4px 8px; // right edge has the spacing from the clear button
			font-size:0.8rem;
			border-radius: 2px;
			background:#F0F0F0;
			
			// Deal with no X icon
			&:not(.clearable) {
				padding-right:8px;
			}
			
			.title {
				display: block;
				padding-right:4px;
				//&:after {
				//	content : ":";
				//	display: block;
				//	padding: 0 4px;
				//}
			}
			
			// clear X button
			a {
				color: #900;
				margin-left: 4px;
				padding:0 4px;
				&:hover {
					cursor: pointer;
					//color: #900;
					background: #99000033;
					
				}
			}
			
			&.hidden {
				display: none;
			}
		}
		
		.clear_button {
		//	display: none;
			order:2; // move the button to the end
			margin-right:$filter-spacing;
			display: flex;
			align-items: center;
			color: #333333;
			font-size:0.8rem;
			border:1px solid #333;
			padding:4px 8px;
			border-radius: 2px;
			
			
			svg {
				color: #900;
				order:2;
				margin-left:4px;
				//	width:20px;
				//	height:20px;
			//
			}
			
			&:hover {
				cursor: pointer;
				color: #900;
				border-color: #900;
				background:#99000022;
			}
			
			
		}
	}
}


@media only screen and (max-width : 750px)
{
	.TCv_SearchableModelList .TCv_FormItem { 
	//	width: 100% !important;
		padding-bottom: 10px !important;
		}
	
	
	// FILTER FORM TWO-WIDE SETUP
	
	.TCv_SearchableModelList  .TCv_Form {
		
		.TCv_FormItem_Group {
			flex-wrap: wrap;
			flex-basis: auto; // remove the fill width set by forms
		}
		
		.table_row {
			width:40%; // way less than 50% to allow for reconfiguration
			flex-basis: auto; // remove the fill width set by forms
			
		}
		
		// Odd number, first one is twice as wide
		.num_filters_1,
		.num_filters_3,
		.num_filters_5,
		.num_filters_7 {
			
			.table_row:first-child {
				width:100%;
			}
			
		}
		
		
		
	}
	
}		
