
	ul.TSv_ModuleNavigation_SubmenuBar {
		background: #75A9C5;
		background: rgba(25, 112, 158, 0.7);
		margin: 0 10px 0 0;
		
		list-style: none;
		width: 100%;
		position: relative;
		min-height: 33px;
		
		border-bottom: 1px solid #074a6c;
		
		&:last-child {
			border-bottom: none;
		}
		
		&.menu_count_0 {
			display: none;
		}
		
		li {
			display: inline;
			
			span, a {
				font-size: 13px;
				color: #FFFFFF;
				display: inline-block;
				padding: 9px 5px 9px 5px;
				margin-right: 5px;
				margin-left: 5px;
			}
			
			&:last-child {
				background-image: none;
			}
			
			a:hover {
				color: #E8F1F5;
			}
		}
		
		.current_menu a,
		.parent_menu a {
			border-top: 2px solid #074a6c;
			padding-top: 7px;
			background: rgba(255, 255, 255, 0.1);
		}
		
	}
	
	