
.TMv_PageHeroBoxes {
	position: relative;
	
	.hero_box_container {
		width:100%;
		height:100%;
		}
	
	.TMv_PageHeroBox {
		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: top center;
		display: none;
		text-align: center;
		opacity:1;
		
		&:first-child {
			display: block;
		}
		
		
		.hero_box_title {
			margin-top: 10%;
		}
		
		.hero_box_description {
			margin-top: 10%;
		}
		
		
		.TMv_QuickButton {
			margin-top: 10%;
		}
		
		&.faded_out {
			opacity:0;
			transition: opacity 0.3s linear;
		}
		
	}
	
	
	
	
	.hero_box_previous_button {
		position: absolute;
		left:0;
		top:49%;
		display: block;
		font-size:24px;
		z-index: 5;
		}
	
	.hero_box_next_button {
		position: absolute;
		right:0;
		top:49%;
		display: block;
		font-size:24px;
		z-index: 5;
	}
}
