.TMv_ContentLayout_4Column_To_1_3 {
	> .cwc > .column_1 {
		// Must align with a 4-column layout, so we need to account for multiple gaps in the right column
		// 1 2 3 4
		// 1 22222
		width: calc((100% - (var(--cwc-column-gap)*3) )  / 4 );
	}
	
	> .cwc > .column_2 {
		// This column expands to fit the space, letting the gap do the rest
		width: 100%;
		flex:1;
	}
}