.TMv_TabbedDashboardView {
	.button_box {
		display: flex;
		justify-content: space-between;
		padding-bottom:20px;
		a {
			display: block;
			text-align: center;
			background: #BBB;
			flex-grow: 1;
			padding:15px 5px;
			color:#FFF !important;
			font-size:14px;
			border:2px solid #FFF !important;
			
			&:hover {
				opacity:0.7;
			}
			
			&.showing {
				border-color: #19709e !important;
				background: rgba(#19709e , 0.6);
			}
		}
	}
	
	.tab_container {
		display: none;
		
		&.showing {
			display: block;
		}
	}
}