.TMv_PrivacyNotification {
	position: fixed;
	bottom: 0;
	width:calc(100% - 30px);
	background:#333;
	align-items: center;
	padding:15px;
	line-height: 1.5em;
	font-size:0.9em;
	z-index: 1000;
	display: flex;
	
	&.showing {
		display: flex;
		
	}
	
	#gdpr_message {
		color:#FFF;
		flex-grow: 10;
	}
	
	#gdpr_learn_more ,
	#gdpr_ok {
		display: block;
		flex-grow: 0;
		margin-left:15px;
		
		&:hover {
			opacity:0.8;
		}
	}
	
	#gdpr_learn_more {
		color:#FFF;
		white-space: nowrap;
	}
	
	#gdpr_ok {
		background: #FFF;
		color:#333;
		text-decoration: none;
		padding:5px 10px;
		
	}
	
	.gdpr_buttons {
		display: flex;
		align-items: center;
	}
	
	@media (max-width: 750px) {
		.gdpr_buttons {
			flex-direction: column;
			a {
				margin-top:5px;
				margin-bottom:5px;
			}
		}
	}
	
}