	
	.TSv_PluginListing .plugin_description {
		display: block;
		}
		
	.TSv_PluginListing .not_installed .rearrange_handle {
		display: none;
		}
	
	.TSv_PluginListing .fa-circle {
		color:#666;
		}
		
	.TSv_PluginListing .fa-check-circle {
		color: #009900;
		}	
	
	.TSv_PluginListing .fa-check-circle.required {
		color:#898;
		}
	
	.TSv_PluginListing .beta_explanation {
		padding:8px;
		background:#D1E3EC;
		margin-bottom:10px;
		}
	
	.TSv_PluginListing .change_beta_link {
		float: right;
		display:block;
		}
	
	
	.TSv_PluginListing.staging_domain_highlight .TCv_ListColumn_beta {
		background:#ceffcc;
		}
	
	.TSv_PluginListing.live_domain_highlight .TCv_ListColumn_live {
		background:#ddffdd;
		}