
	.TMv_WorkflowHistoryItem {
		border: 1px solid #999;
		padding: 8px;
		margin-bottom: 10px;
		
		.history_user {
			font-weight: 500;
			padding-bottom: 5px;
			font-size: 0.75em;
		}
		
		.history_date {
			color: #666;
			padding-bottom: 5px;
			font-size:0.75em;
		}
		
		.workflow_model_link {
			display: block;
			font-size: 14px;
			padding-bottom: 8px;
		}
		
		.workflow_model_link .link_icon {
			padding-right: 5px;
		}
		
	}
