.TMv_Photo {
	
	img {
		width: 100%;
		height: auto;
		display: block;
	}

	
	.placeholder {
		padding:60px 30px;
		text-align: center;
		background: #333;
		background: linear-gradient(15deg, #333 0%, #404040 50%, #333 100%);
		color: #FFF;
		
		svg {
			width:30px;
			height: 30px;
			padding-bottom: 30px;
		}
	}
	
	&.width_75 {
		a,img, figcaption {
			width:75%;
		}
	}
	
	&.width_50 {
		a, img, figcaption {
			width:50%;
		}
	}
	
	&.width_25 {
		a, img, figcaption {
			width:25%;
		}
		
		
	}
	
	// nested switch the rendering
	&.width_25 ,
	&.width_50 ,
	&.width_75 {
		a {
			display: block;
		}
		
		a > img {
			width: 100%;
		}
	}
	
	
	figcaption {
		//text-align: center;
		font-size:0.8em;
		color:#666666;
		padding-top:8px;
	}
}

