	
	.TSv_ModuleURLTargetExplanation h2 {
		padding-top:10px;
		padding-bottom:4px;
		}
	.TSv_ModuleURLTargetExplanation h2:first-child {
		padding-top:0px;
		}


	.TSv_ModuleURLTargetExplanation p {
		font-size: 0.9em;

	}