.TSv_PopupContainer{position:fixed;top:0px;left:0px;width:100%;min-height:100%;background:rgba(0,0,0,.85);z-index:150;display:none}.TSv_PopupContainer .popup_inside{width:calc(80% - 50px);height:calc(80% - 50px);display:flex;flex-direction:column;border:10px solid #19709e;background:#fff;position:fixed;top:10%;left:10%;-webkit-box-shadow:0px 0px 14px 1px rgba(0,0,0,.75);-moz-box-shadow:0px 0px 14px 1px rgba(0,0,0,.75);box-shadow:0px 0px 14px 1px rgba(0,0,0,.75);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}/*# sourceMappingURL=TSv_PopupContainer.css.map */
