.TCv_FormItem_SelectDateTime {
    
    //Input field should have a pointer
    .SelectDateTime_SelectBox {
        cursor: pointer;
    }
    
    // Give the icons some room from the fields
    .date_icon, .time_icon {
        padding-left: 3px;
    }
    
}

//date picker styles
.ui-datepicker {
    font-size: 1.2em;

    //Make boxes of individual dates
    td {
        text-align: center;
        border: 1px solid #CCC;
        padding: 0;

        //Some spacing from box border and actual date text
        a {
            padding: 0.5em;
            text-align:center;
            &:hover {
                color:#FFF;
                background: #666;
            }
        }
    }

    .ui-state-highlight {
        background:#DDD;
    }
    
    //Header should be same color as tungsten
    .ui-datepicker-header {
        background-color: #BBB;
        color: #333;
        border-radius: 0px;

        .ui-datepicker-next, .ui-datepicker-prev {
            cursor: pointer;
            border-radius: 0px;
            
          
         
        }
    }
}

//Border across calendar
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: none;
}