.TMv_PageBuilder_ThemeWrapper {
	position: relative;
	
	font-size:16px; // manually set the font-size in the wrapper to match browser default
	
	// ADJUST FOR PAGE BUILDER OFFSETS
	margin-left:-10px;
	margin-right:-10px;
	
	.TMv_PageBuilder {
		margin-left:0px;
		margin-right:0px;
		
	}
	
}

// TUngsten 8 adjustments
.tungsten_version_8 #tungsten_main_content {
	margin-bottom:0;
	padding-bottom:0;
}

// Tungsten 9 adjustments
.tungsten_version_9 .TMv_PageBuilder_ThemeWrapper {
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	// Remove items that 8 requires
	padding-bottom:0;
	margin-top:0 !important;
	
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	display: flex;
	flex-direction: column;

	.theme_view_container {
		overflow-y: auto;
		flex-grow: 1;
		
		// SCROLLBARS ON THE THEME VIEW CONTAINER
		@include styledScrollbars;
		
		&::-webkit-scrollbar {
			background: white; // force white background on the scrollbar
			border-left: $light-border; // add the border to the left
			width: #{$scrollbar-width + 1}; // adjust the width to be +1
			
		}
		
		&::-webkit-scrollbar-thumb {
			border-left-width: 3px; // Add one more to adjust for the border
			
		}
		
		
	}
	
	// Headers shouldn't appear in editor mode
	&.editor_mode {
		.TMv_PageContentHeader:not(.always_show) {
			display: none;
		}
	}
	
	&.preview_mode {
		// Don't show the add section button in preview mode
		.add_section_button {
			display: none !important;
		}
	}
	
}