
	.TSv_ModuleNavigation_SectionBar {
		background: #A3C6D8 linear-gradient(to top, #75a9c5 0%, #a3c6d8 50%);
		
		border-bottom: 1px solid #145e86;
		list-style: none;
		clear: left;
		
		li {
			
			display: inline-block;
			padding: 0px 0px 0px 12px;
			
			
			span, a {
				font-size: 14px;
				color: #145E86;
				display: inline-block;
				padding: 10px 0px;
			}
			&.active_menu a {
				font-weight: bold;
				border-bottom: 4px solid #145e86;
				padding-bottom: 6px;
				color: #145e86;
			}
			
			&.breadcrumb.first {
				background-image: none;
				padding-left: 0px;
			}
			
			a:hover {
				color: #19709E;
			}
		}
	}