.TMv_WorkflowStageProgressBar {

	$diameter : 14px; // the diameter of each circle
	$half_diameter : $diameter/2;
	
	display: flex;
	justify-content: space-between;
	.stage_dot {
		display: inline-block;
		width:$diameter;
		height: $diameter;
		border-width: 2px;
		border-radius: 50px; // force a circle
		position: relative;
		border-style: solid;
		opacity: 0.4;
		
		&.done {
			opacity:0.8;
			// Checkmark
			svg {
				position: absolute;
				top:#{($diameter - $half_diameter)/2};
				left:#{($diameter - $half_diameter)/2};
				z-index: 10;
				color:inherit;
				fill:currentColor;
				width:$half_diameter;
				height: $half_diameter;
					//padding-left: #{($diameter - $half_diameter)/2};
					//padding-top: ;
				
			}
		}
		
		.inside {
			position: absolute;
			top:0px;
			left:0px;
			width: #{$diameter - 4px};
			height: #{$diameter - 4px};
			border-radius: inherit;
			margin-left: 2px;
			margin-top:2px;
			z-index: 0;
			
		}
		
		
		//.title_box {
		//	display: none;
		//	white-space: nowrap;
		//	position: absolute;
		//	top: $diameter;
		//	right: 0px;
		//	text-align: right;
		//	background-color: inherit;
		//	padding:4px;
		//	color:inherit;
		//}
		
		//&:first-child .title_box {
		//	display: block;
		//}
		//
		//&:hover {
		//	.title_box {
		//		display: block;
		//	}
		//}
		
		
		// deal with the hover AND the current stage
		&.current_stage {
			position: relative;
			background: #FFF !important;
		
			
		
			
		}
		
		// vertical line
		
		&:hover,
		&.current_stage {
			opacity: 1.0;
			
			&:before {
				content:"";
				border-left: 2px solid #FFF;
				border-left-color: inherit;
				height:10px;
				position: absolute;
				z-index: 0;
				width:0px;
				overflow: hidden;
				top:-12px;
				left: #{ $half_diameter - 1px};
			}
		}
	}
}