	
	.TSv_ModuleList .TCv_ListColumn_icon {
		text-align: center;
		}
		
	.TSv_ModuleList .TCv_ListColumn_icon svg {
		font-size:32px;
		padding:5px;
		}
	
	.TSv_ModuleList .fa-eye-slash {
		opacity:0.5;
		filter: alpha(Opacity = 50);
		}


	.TSv_ModuleList .module_title {
		font-size:15px;
		font-weight: bold;
		padding-bottom:3px;
		}
	
	.TSv_ModuleList .module_server_version {
		color: #444;
		font-size:11px;
		padding-bottom: 0px;
		}
	
	.TSv_ModuleList .installed {
		background-color: #E8F1F5;
		}
	.TSv_ModuleList .action_link {
		font-size:14px;
		text-transform: uppercase;
		}
	.TSv_ModuleList .TCv_ListColumn_install_upgrade .action_link {
		border:1px solid #145e86;
		padding:8px 18px;
		display: inline-block;
		border-radius: 5px;
		background: #a3c6d8;
		}
	.TSv_ModuleList .TCv_ListColumn_install_upgrade .action_link:hover {
		background: #e8f1f5;
		}
		
	.TSv_ModuleList .TCv_ListColumn_install_upgrade .action_link .version_number {
		font-size: 11px;
		line-height: 14px;
		}


	.TSv_ModuleList .requires_upgrade {
		background-color: #fff2b8;
		}
	
	.TSv_ModuleList .requires_upgrade * {
		color: #bb9000;
		
		}
	.TSv_ModuleList .requires_upgrade a:hover {
		opacity:0.5;
		filter: alpha(Opacity = 50);
		}
	
	.TSv_ModuleList .green {
		color:#009900;
		}
	
	.TSv_ModuleList .TCv_ListColumn_user_groups a {
		display: block;
		padding: 3px 0px;
		}