.TMv_CustomFormSubmissionView {
	display: flex;
	table {
		width:100%;
		max-width: 800px;
		margin:0 auto;
		border-collapse: collapse;
	}


	th, td {
		padding:8px 0;
		border-top: 1px solid #999999;
		vertical-align: top;
		font-size:1rem;
	}
	tr:first-child {
		th, td {
			border-top: none;
		}
	}


	th {
		text-align: left;
		//background:#EEEEEE;
		border-bottom: 2px solid #555;
	}

	td.heading {
		padding-top:32px;
	//	background:#EEE;
		border-bottom: 2px solid #555;
		font-size:1.2rem;
		font-weight: normal;
		border-top: none;
	}

	td:first-child {
		font-weight: bold;
		padding-right:8px;
		width:40%;
	}
	
	.image_preview {
		display: flex;
		flex-direction: column;
		img {
			margin-bottom: 10px;
		}
	

	}
}

.TSv_Tungsten .TMv_CustomFormSubmissionView {
	justify-content: center;
}