#TSv_Console {
	
	$queries-insert 	: #6ce106;
	$queries-update		: #b8f57b;
	$queries-select		: #22aeef;
	$queries-skipped	: #666666;
	$queries-delete		: #ff3366;
	$debug				: #ff7800;
	$warning			: #c39e0a;
	$api-calls			: #ff2cff;
	$unit-test			: #3f2a70;
	$form-validation	: #ffc257;
	$form-value			: #bed4c1;
	$form-setting		: #c968dc;
	$message			: #999999;
	$timer				: #e5ff80;
	$error				: #660000;
	
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.95);
	display: none;
	z-index: 1000;
	//overflow-x: auto;
	//overflow-y: auto;
	
	flex-direction: column;
	
	&.showing {
		display: flex;
	}
	
	* {
		color: #FFFFFF;
		font-family: 'Helvetica', 'Arial', sans-serif;
		font-size: 12px;
		letter-spacing: normal;
	}
	
	
	a {
		text-decoration: none;
	}
	
	////////////////////////////////////////////////
	//
	// LOADING
	//
	////////////////////////////////////////////////
	
	.loading_container {
		text-align: center;
		display: none;
		//height: 50px;
		overflow: hidden;
		position: fixed;
		bottom:0;
		background: #00000088;
		padding:16px;
		box-sizing: border-box;
		align-items: center;
		justify-content: center;
		width:100%;
		height: 100%;
		svg {
			font-size: 40px;
			color: #FFF;
		}
	}
	
	////////////////////////////////////////////////
	//
	// HEADER
	//
	////////////////////////////////////////////////
	
	#TSv_Console_Header {
		//position: fixed;
		height: 30px;
		width: 100%;
	//	top: 0;
		z-index: 30;
	}
	
	h2 {
		background: #000000;
		color: #FFFFFF;
		padding: 6px 8px;
		font-weight: normal;
		font-size: 18px;
		margin: 0px;
	}
	
	
	////////////////////////////////////////////////
	//
	// FILTER BAR
	//
	////////////////////////////////////////////////
	
	#TSv_Console_filterBar {
		padding:8px;
		display: flex;
		align-items: center;
		.console_title {
			display: block;
			font-weight: bold;
			flex-grow: 1;
		}
		
		.TSv_ConsoleButton_hide {
			display: block;
		//	width: 14px;
		//	height: 14px;
			padding: 0;
		//	margin: 4px 7px 0px 0px;
			font-size: 16px;
			
			path {
				color: #F00;
				
			}
			
			&:hover {
				cursor: pointer;
				path {
					color: #900;
				}
			}
		}
		
	}
	//#TSv_Console_filterBar {
	//	float: left;
	//	width: 100%;
	//	background: #000000;
	//	height: 30px;
	//
	//	a {
	//		display: block;
	//		float: left;
	//		padding: 4px 8px;
	//		margin: 4px;
	//		color: #000;
	//	}
	//
	//	a.hidden {
	//		opacity: 0.6;
	//		filter: alpha(Opacity=60);
	//	}
	//
	//	#console_button_all {
	//		background: #FFF;
	//	}
	//}
	
	
	////////////////////////////////////////////////
	//
	// CONSOLE TABLE
	//
	////////////////////////////////////////////////
	
	#console_scroller_container {
		border-collapse: collapse;
		width: 100%;
		/*margin-bottom:62px; /* Push down to account for gap at top*/
		//margin-top: 30px;
		flex:1;
		
		overflow-y: scroll;
		> table {
			width:100%;
		}
		
		td {
			border-top: 1px solid #444;
			padding: 4px 0px;
			line-height: 1.2em;
		}
		
		// Remove top line, which creates weirdness with scrollbars
		tr:first-child td {
			border-top:0;
		}
		
		th {
			border: none;
		}
		
		td td {
			border-top: none;
		}
		
		.console_column_count {
			width: 25px;
			padding-right: 10px;
			text-align: right;
			color: #000;
		}
		
		.console_column_time_spent {
			padding-right: 4px;
			text-align: right;
			width: 50px;
		}
		
		.console_column_memory_usage {
			padding-right: 4px;
			text-align: right;
			width: 60px;
		}
		
		.console_column_type {
			width: 110px;
			padding-left: 5px;
		}
		
		.console_column_class {
			width: 125px;
			overflow: hidden;
		}
		
		.console_column_options {
			width: 10%;
			text-align: right;
			padding-right: 5px;
		}
		
		.console_page_title td {
			padding-left: 5px;
			color: #000;
			background: #F0F0F0;
		}
		
		.console_description td.console_column_count,
		.console_backtrace td.console_column_count {
			border-top: none;
		}
		
		.console_description td,
		.console_backtrace td {
			line-height: 1.3em;
		}
		
		.console_description > td:last-child,
		.console_backtrace th:last-child,
		.console_backtrace td:last-child {
			padding-left: 10px;
			padding-right: 5px;
		}
		
		.console_description table {
			width: 100%;
			border-collapse: collapse;
		}
		
		.console_description table td {
			border: 1px solid rgba(255, 255, 255, 0.2);
			padding: 4px;
		}
		
		.console_description table th {
			text-align: left;
			border-bottom: 2px solid #FFF;
			font-size: 14px;
			
		}
		
		.console_column_message {
			padding-left: 10px;
		}
		
		.console_column_message a:hover {
			opacity: 0.7;
			filter: alpha(Opacity=70);
		}
		
		// THREE COLUMNS
		.console_three_column_1,
		.console_three_column_2,
		.console_three_column_3 {
			width: 33%;
			display: inline-block;
		}
		
		// TWO COLUMNS
		.console_two_column_1,
		.console_two_column_2 {
			width: 50%;
			display: inline-block;
		}
		
		.console_backtrace_table {
			width:100%;
			th, td {
				text-align: left;
			}
			
			th.num_col {
				width:40px;
			}
			
			th.file_col {
				width:30%;
			}
			
			th.line_col {
				width:80px;
			}
		}
		
	}
	
	
	////////////////////////////////////////////////
	//
	// DETAILS BUTTON
	//
	////////////////////////////////////////////////
	
	.details_button,
	.backtrace_button {
		color: #AAAAAA;
		border: 1px solid #AAAAAA;
		font-size: 10px;
		padding: 1px 3px;
		margin-left: 4px;
	}
	
	.details_button:hover,
	.backtrace_button:hover {
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
	}
	
	////////////////////////////////////////////////
	//
	// GENERAL BUTTON STYLES
	//
	////////////////////////////////////////////////
	
	.console_column_count,
	.console_button {
		background-color: #FFF;
	}
	
	.console_column_message *,
	.console_column_message {
		color: #FFF;
		word-wrap: break-word;
	}
	
	.console_skipped .console_column_message *,
	.console_skipped .console_column_message {
		text-decoration: line-through;
	}
	
	////////////////////////////////////////////////
	//
	// QUERIES - INSERT
	//
	////////////////////////////////////////////////
	
	.console_query-insert .console_column_count,
	#console_button_query-insert {
		background-color: $queries-insert;
	}
	
	
	.console_query-insert .console_column_message *,
	.console_query-insert .console_column_message {
		color: $queries-insert;
	}
	
	////////////////////////////////////////////////
	//
	// QUERIES - UPDATE / DB VALUE
	//
	////////////////////////////////////////////////
	
	.console_form_db_value .console_column_count,
	#console_button_form_db_value,
	.console_query-update .console_column_count,
	#console_button_query-update {
		background-color: $queries-update;
	}
	
	
	.console_form_db_value .console_column_message *,
	.console_form_db_value .console_column_message,
	.console_query-update .console_column_message *,
	.console_query-update .console_column_message {
		color: $queries-update;
	}
	
	////////////////////////////////////////////////
	//
	// QUERIES - SELECT
	//
	////////////////////////////////////////////////
	.console_query-select .console_column_count,
	#console_button_query-select {
		background-color: $queries-select;
	}
	
	
	.console_query-select .console_column_message *,
	.console_query-select .console_column_message {
		color: $queries-select;
	}
	
	////////////////////////////////////////////////
	//
	// QUERIES - SKIPPED
	//
	////////////////////////////////////////////////
	
	.console_query_skipped .console_column_count,
	#console_button_query_skipped {
		background-color: $queries-skipped;
	}
	
	
	.console_query_skipped .console_column_message *,
	.console_query_skipped .console_column_message {
			color: $queries-skipped;
	}
	
	////////////////////////////////////////////////
	//
	// QUERIES - DELETE
	//
	////////////////////////////////////////////////
	.console_query-delete .console_column_count,
	#console_button_query-delete {
		background-color:$queries-delete;
	}
	
	
	.console_query-delete .console_column_message *,
	.console_query-delete .console_column_message {
		color: $queries-delete;
	}
	
	////////////////////////////////////////////////
	//
	// DEBUG
	//
	////////////////////////////////////////////////
	.console_debug {
		background: rgba($debug, 0.2);
	}
	
	.console_debug .console_column_count,
	#console_button_debug {
		background-color: $debug;
	}
	
	.console_debug .console_column_message *,
	.console_debug .console_column_message {
		color: $debug;
	}
	
	////////////////////////////////////////////////
	//
	// WARNING
	//
	////////////////////////////////////////////////
	.console_warning {
		background: rgba($warning, 0.2);
	}
	
	
	.console_warning .console_column_count,
	#console_button_warning {
		background-color: $warning;
	}
	
	.console_warning .console_column_message *,
	.console_warning .console_column_message {
		color: $warning;
	}
	
	////////////////////////////////////////////////
	//
	// API CALLS
	//
	////////////////////////////////////////////////
	
	.console_api_call td.TCv_HTMLTableCell {
		background: rgba($api-calls, 0.2);
	}
	
	.console_api_call .console_column_count,
	#console_button_warning {
		background-color: $api-calls !important;
	}
	
	.console_api_call .console_column_message *,
	.console_api_call .console_column_message {
		color: $api-calls;
	}
	
	
	////////////////////////////////////////////////
	//
	// UNIT TESTS
	//
	////////////////////////////////////////////////
	
	.console_unit_test {
		background: rgba($unit-test, 0.3);
	}
	
	
	.console_unit_test .console_column_count,
	#console_button_unit_test {
		background-color: $unit-test;
		color: #FFFFFF !important;
	}
	
	//.console_unit_test .console_column_message *,
	//.console_unit_test .console_column_message {
	//	color: $unit-test;
	//}
	
	////////////////////////////////////////////////
	//
	// FORM VALIDATION
	//
	////////////////////////////////////////////////
	.console_form_validation .console_column_count,
	#console_button_form_validation {
		background-color: $form-validation;
	}
	
	.console_form_validation .console_column_message *,
	.console_form_validation .console_column_message {
		color: $form-validation;
	}
	
	////////////////////////////////////////////////
	//
	// FORM VALUE
	//
	////////////////////////////////////////////////
	
	.console_form_value .console_column_count,
	#console_button_form_value {
		background-color: $form-value	;
	}
	
	.console_form_value .console_column_message *,
	.console_form_value .console_column_message {
		color: $form-value	;
	}
	
	////////////////////////////////////////////////
	//
	// FORM SETTING
	//
	////////////////////////////////////////////////
	
	.console_form_setting .console_column_count,
	#console_button_form_setting {
		background-color: $form-setting;
	}
	
	.console_form_setting .console_column_message *,
	.console_form_setting .console_column_message {
		color: $form-setting;
	}
	
	
	////////////////////////////////////////////////
	//
	// MESSAGE
	//
	////////////////////////////////////////////////
	
	.console_message .console_column_count,
	#console_button_message {
		background-color: $message;
	}
	
	.console_message .console_column_message *,
	.console_message .console_column_message {
		color: $message;
	}
	
	////////////////////////////////////////////////
	//
	// TIMER
	//
	////////////////////////////////////////////////
	
	.console_timer .console_column_count,
	#console_button_timer {
		background-color: $timer;
	}

	.console_timer.console_item_row  * {
		color: $timer;
	}
	
	// The very first one
	.console_column_message > .data_table {
		min-width:500px;
		
	}
	
	.console_debug .data_table {
		td {
			border: 1px solid #888888 !important;
			padding: 4px !important;
			
			// Left columns, often indices are 25%
			&:first-child {
				width:25%;
			}
			
			// Anything inside should fill the width
			// Negative -5px on either size, so we need an additional 10px
			table {
				width:calc(100% + 10px);
			}
			td {
				background:#00000022;
			}
			
			// Inset tables get expanded to match their parents
			// border plus 4px padding
			> table {
				margin:-5px;
				
			}
		}
	}
	
	/**********************************************/
	/*										   	  */
	/*                 ERRORS                     */
	/*										   	  */
	/**********************************************/
	
	#console_button_error {
		background-color: $error;
	}
	
	.console_error {
		background: rgba($error, 0.4);
	}
	
	.console_error .console_column_count,
	.console_error .console_column_type {
		font-weight: bold;
	}
	
}
@media only screen and (max-width : 750px)
{
	#TSv_Console * {
		 -webkit-text-size-adjust:100% ;
	}
	.console_column_time_spent,
	.console_column_type {
		display: none;
		}
	
	#TSv_Console_filterBar .console_button {
		display: none;
		}
	
	#TSv_Console_filterBar .console_button#console_button_all {
		display: block;
		}
}	
	