	body {
		background: #FFF;
		padding:0;
		margin:0;

		}
	
	#styled_view {
		padding:15px;
		
		}
		
	#email_main_table {
		width:600px;
		border-collapse:collapse;
		margin:10px auto;
		}
	
	h1, h2, h3, h4, li, p {
		font-family: Arial, Helvetica, Geneva, Verdana, sans-serif;
		padding:0px 0px 8px 0px;
		margin:0px;
		}
	
	div {
		font-family: Arial, Helvetica, Geneva, Verdana, sans-serif;
		}
		
	h1 	{
		font-size:20px;
		}
	
	h2 	{
		font-weight:normal;
		font-size:18px;
		padding-bottom:4px;
		}	
	
	p 	{
		line-height:1.4em;
		color: #333;
		}
		
	#footer {
		padding:5px 16px 0px 16px;
		}
	#footer, #footer * {
		font-size:10px;
		}
		
	a:link, a:visited {
		color: #333;
		}
	a:hover {
		color: #666;
		}
	a:active {
		color: #999;
		}

	#email_footer {


		border-top: 1px solid #333;
		padding-top: 15px;
	}

	#email_footer .company_title {
		font-weight: bold;
		padding-bottom: 3px;
	}
