.TSv_StagingWarningBar {
	$orange-juice : rgb(232, 136, 31);
	
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	
	background:$orange-juice;
	color:#FFF;
	line-height: 1.2em;
	font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size:12px;
	
	&.localhost_message {
		background:#666;
	}

	svg {
		font-size:1em;
		margin-right:3px;
	}

	.message {
		padding:5px;
		
	}
	
	.console_button {
		background: #00000044;
		padding:5px 8px;
		color:#FFF;
		display: flex;
		align-items: center;
		
		&:hover, &:focus {
			color:#FFF;
			background: #00000077;
		}
	}
}