.TMv_SearchFlyout {
	width:350px;
	min-height: 30px;
	overflow: visible;

	// remove the height minimum
	&.tungsten_loading:before {
		min-height: 0;
	}
	
	// Turned off because this should be per-site, not baked in
	
	//@media only screen and (max-width : 600px) {
	//	position: fixed;
	//	width:calc(100% - 20px);
	//	//margin-top: -50px;
	//	border-top:5px solid #FFF;
	//	z-index: 1000;
	//}

}
