
	.TMv_WorkflowStageList .color_box {
		padding:5px 10px;
		font-family: monospace;
		}
	
	.TMv_WorkflowStageList .TCv_ListColumn_next_stages .color_box {
		margin-bottom:5px;
		height:12px;
		padding-top:1px;
		padding-bottom:1px;
		display: block;
		
		}

	.TMv_WorkflowStageList .stage_box {
		display: block;
		width:80%;
		margin-bottom: 5px;
		padding:5px;
	}