.TCv_Form .TMv_FormItem_WorkflowColorPicker {
	$color-spacing: 8px;
	$color-box-size:34px;
	
	.button_text, input[type="radio"] {
		display: none;
	}
	
	.button_restyle {
		display: none !important;
	}
	
	fieldset {
		display: flex;
		flex-wrap: wrap;
		gap: $color-spacing;
		padding-top:$color-spacing !important;
		padding-bottom:$color-spacing !important;;
		
		// make the width force to wrap
		max-width:#{($color-box-size + $color-spacing) * 8 + 10 }; // plus 10 to make some extra room
	}
	
	.radio_button_option_box {
		display: block;
		//margin-right:4px;
		//		margin-bottom: $color-spacing;
		padding:0;
		border-radius: 4px;
		//width:20%;
		//box-sizing: border-box;
		width:34px;
		height: 34px;
		
	
		
		label {
			display: block;
			//width:100%30px;
			width:100%;
			height:100%;
			margin:0;
			padding:0;
			box-sizing: border-box;
			//border:2px solid #FFF;
			overflow: hidden;
			color: inherit;
			
			&:hover {
				//border-color: transparent;
				cursor: pointer;
				outline: 2px solid #666;
				border-radius: 4px;
			}
		}
		
		input[type="radio"]:checked + label {
			.button_restyle{
				display: block !important;
				width:100%;
				height:100%;
				border-radius: 4px;
				margin:0;
				border:0;
				background: none;
				
				color: inherit;
				
				svg.checkmark {
					padding-top:20%;
					padding-left:20%;
					display: block;
					width:60%;
					height:60%;
					border-radius: 0;
					background:none;
					color: inherit;
					margin:0;
				}
			}
		}
	}
	

}