.TSv_Tungsten9_ModuleNavigationList {
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	display: flex;
	flex-direction: column;
	flex:1; // extend to bottom
	//overflow-y: auto; // scroll on smaller screens
	overflow: visible;
	
	ul.module_button_list {
		flex:2; // take up the full space
		list-style: none;
		// Add scroll bars
		overflow: visible; // needs to be visible to allow for rollovers
		
		
	
	}
	
	
	// MAIN MENU ITEMS
	.module_button {
		//padding:$tungsten-space-minus-2;
		width:100%;
		height:$panel_button_size;
		
		display: flex;
		color: $tungsten-grey;
		align-items: center;
		justify-content: flex-start;
		svg {
			width:$panel_button_size; // width matches the column width
			flex-shrink: 0; // Avoid compression of icons
			height: 20px;
		}
		
		.title_box {
			//margin-left:$tungsten-space-minus-3;
			flex: 2;
			display: block;
		}
		
		.notification_icon {
			background:$tungsten-orange-minus-1;
			display: block;
			border-radius: 50%;
			padding:4px;
			font-size:12px;
			height:12px;
			width:12px;
			text-align: center;
			
			color:$white;
		}
		
		&:hover {
			background: $tungsten-blue-minus-3;
			color:$tungsten-blue;
		}
		
		&:active, &:focus {
			background: $tungsten-blue-plus-1;
			color:$white;
		}
		
		&.current {
			background:$tungsten-blue-plus-1;
			color:$white;
		
	
			&:hover {
				background: $tungsten-blue-plus-2;
			}
			
			&:active, &:focus {
				background: $tungsten-blue-plus-1;
			}
			
		}
		
		
		
	}
	
	// The module sections
	.module_sections {
		padding-left:$tungsten-space-minus-1;
		list-style: none;
		border-left:$tungsten-space-minus-3 solid $white;
		overflow: hidden;
		a {
			// Deal with the line
			position: relative;
			&:before {
				content:" ";
				border-left:2px solid $tungsten-blue;
				border-bottom: 2px solid $tungsten-blue;
				//border-bottom-left-radius: $tungsten-space-minus-3;
				position: absolute;
				top:-40px;
				width:$tungsten-space-minus-3;
				height:$tungsten-space-plus-1;
				left:-$tungsten-space-minus-3;
				
			}
			font-size: 0.9em;
			color:$tungsten-grey;
			display: block;
			padding:$tungsten-space-minus-2;
			
			&:hover {
				background: $white-plus-2;
				color:$tungsten-blue;
			}
			&:active, &:focus {
				background: $tungsten-blue-minus-2;
				color:$white !important;
				
			}
		}
		
		.active_menu a {
			background-color:$tungsten-blue-minus-1;
			color:$white;
			
			&:hover, &:focus {
				background-color:$tungsten-blue;
			}
			//color:$tungsten-blue;
			//border:1px solid $tungsten-blue;
			
		}
		
		
		//li:last-child a:before {
		//	border-bottom-left-radius: $tungsten-space-minus-3;
		//}
		
	}
	
}