.TMv_DashboardWrapper {
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	@import "../../../../dashboard/classes/views/TMv_Dashboard/dashboard_theme_config";
	
	&.preview_mode {
		
		// Hidden Dashboards don't appear
		.hidden_dashboard {
			display: none;
			//	margin-top:-$tungsten-space-minus-1; // offset the margin that is created
		}
	}
	
	&.editor_mode {
		.TMv_ContentLayout_Section {
			min-height: 100px;
		}
		
		
		
		// Ensure consistency when editing
		.TMv_Dashboard {
			padding-top: $tungsten-space-minus-1;
			
			#add_layout_section {
				padding:0px;
				display: block;
			}
			
			
		}
		
	}
	
	.layout_block_container {
		gap:$tungsten-space-minus-1;
	}
	
	//.TMv_DashboardPanel {
	//	margin-bottom:  $tungsten-space-minus-1;
	//}

}