// DO NOT ALTER
// This file is a generalized setup that handles the main menus being laid out with hovers on multiple items.
// Additional styling should happen in your own files and not in this one.

// These styles are designed to handle the overall interaction of the menus and are not designed to be a complete solution.
// The specific styling, spacing, colors, fonts, etc are all to be implemented in your CSS for your theme

.TMv_PageMenus {
	//justify-content: space-between;
	align-items: center;
	list-style: none;
	display: flex;
	li {
		position: relative; // necessary to position children on hover
		a {
			
			display: block;
		}
		ul {
			display: none;
		}
		
		
	}
	
	// Deal with hover on items. This only works if we enable the `$use_hover_navigation` in `TMv_PagesTheme::mainMenus()`
	&.use_hover_nav > li:hover {
		> ul {
			list-style: none;
			display: block;
			position: absolute;
			
			left:0px;
		}
	}
	
	
}