
.TSv_Tungsten9Panels {
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_buttons";
	
	display: flex;
	align-items: stretch;
	flex-grow: 3;
	height: 100%;
	overflow: hidden;

	
	
	@mixin panelIconHover {
		background: $tungsten-blue-minus-3;
		color:$tungsten-blue;
		
		&:before{
			// Sits to the left of the icon, nudged up against icon
			position:absolute;
			top:0;
			right:100%; // move it over to fit next to the icon
			opacity:1;
			z-index: 200;
			
			// Use the title of the button
			content:attr(title);
			background: $tungsten-blue-minus-3;
			color:$tungsten-blue;
			//padding:$tungsten-space-minus-2; // no padding, box-sizing does the work
			padding-right:0;
			padding-left:$tungsten-space-minus-1;
			box-sizing: border-box;
			height:100%; // match the parent
			
			// Font control
			white-space: nowrap;
			text-align: right;
			font-size:0.9rem;
			
			// rounded left side
			border-top-left-radius: $tungsten-space;
			border-bottom-left-radius: $tungsten-space;
			
			// Center the text vertically
			display: flex;
			align-items: center;
		}
		
	}
	
	// The expansion buttons which are used in the left and right panels
	.expand_button {
		display: flex;
		color:$tungsten-grey-minus-1;
	//	padding:$tungsten-space-minus-1 $tungsten-space-minus-2 ;
		border-top: $light-border;
		//height: $tungsten-space-minus-2;
		box-sizing: border-box;
		height: $panel_button_size;
		align-items: center;
		&:hover {
			background: $tungsten-grey-minus-2;
			color:$tungsten-grey;
		}
		
		// Spacing and transition for icon
		svg {
			width:$panel_button_size; // svg is the size to ensure it says horizontal centered with collapsed buttons
			transition: transform 0.4s linear ;
		}
	}
	
	
	// Mutually shared on collapsable panels
	.left_panel, .right_panel {
		flex-shrink: 0;
		background: $white;
		transition:  width 0.4s ease-in-out;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		&.init {
			transition: none;
		}
	
		&.collapsed {
			width:$panel_button_size ;
		
			// Buttons rotate when collapsed
			.expand_button {
				svg {
					transform: rotate(-180deg);
				}
				
			}
		}
	}
	
	
	.left_panel {
		width:250px;
		//padding-top:$tungsten-space-minus-2;
		border-right: $light-border;
		
		.expand_button {
			text-align: right;
		}
		
		.TSv_Tungsten9_ModuleNavigationList {
			overflow-y: auto;
			overflow-x: hidden;
			
			@include styledScrollbars;
			
		}
		
		&.collapsed {
			
			.TSv_Tungsten9_ModuleNavigationList {
				scrollbar-width: none;
			}
			
			// Specific to the list of menus
			.module_button_list {
				.title_box, .notification_icon {
					display: none;
				}
				
				// Don't show any submenus
				ul {
					display: none;
				}
				
				.module_button {
					position: relative;
					&:hover {

						// DISABLES BECAUSE OF CONFLICT WITH SCROLLBARS
						//@include panelIconHover;
						//
						//// Adjust to deal with the left side
						//&:before {
						//	right: auto;
						//	left: 100%;
						//	text-align: left;
						//	border-radius: 0;
						//	border-top-right-radius: $tungsten-space;
						//	border-bottom-right-radius: $tungsten-space;
						//	padding-right:$tungsten-space-minus-1;
						//	padding-left:0;
						//	//box-shadow:0 0 4px rgba($tungsten_blue-plus-2, 0.4);
						//	//// Clip the left side, extend everything else
						//	//clip-path: inset(-10px -10px -10px 0px);
						//}
						
					}
				}
				
			}
			
			
			
			
		}
	}
	
	.center_panel {
		background: $white-plus-1;
		//padding-top:$main_panel_spacing;
		flex-grow: 2;
		width:25%; // enforce width to calculate properly with flexbox
		
		//overflow-x:hidden;
		//overflow-y:auto;
		height:100%;
		//height: calc(100% - #{$main_panel_spacing} );
		//position: relative; // used for various positioning requirements
		//height:450px; // test case for spacing
		// Flex the entire container to the bottom
		display: flex;
		flex-direction: column;
		
		// Items directly inside the center panel get spaced out
		
		// Style all the items inside the center_panel to have  padding
		#main_header {
			padding:$main_panel_spacing;
			border-bottom:$light-border;
			background:$white;
		}
		//> .TSv_Tungsten9_BreadcrumbBar,
		//> .TCv_Menu {
		//
		//}
		
		.primary_content {
			position: relative;
			//margin-left:$tungsten-space;
			//margin-right:$tungsten-space;
			
			// Ensures that the scroll bar is situated at the far right edge
			padding-left:$main_panel_spacing;
			padding-right:$main_panel_spacing;
			margin-top: $main_panel_spacing;
			flex-grow:2;
			overflow-x: hidden;
			overflow-y: auto;
			@include styledScrollbars;
			
			// Main content is a form
			&.TCv_Form {
				
				overflow:hidden; // let the form table do the work
				// override the spacing, moved to the form table
				padding-left:0;
				padding-right:0;
				
				// Submit is outside of form table, arrange
				display: flex;
				flex-direction: column;
				margin-top:0; // hide, move to form_table
				
				.form_table {
					flex:1; // shrink and grow
					
					// ensure it stacks at the top, doesn't spread out vertically
					align-content: flex-start;
					overflow-y: auto;
					overflow-x: hidden; // just in case
					padding-left:$main_panel_spacing;
					padding-right:$main_panel_spacing;
					padding-top:$main_panel_spacing;
					@include styledScrollbars;
					
					
				}
				
				
				.TCv_FormItem_SubmitButton {
					background: $white;
					
					// Nothing on top, match panel spacing on the left/right
					padding: 0 $main_panel_spacing;
					border-top:$light-border;
					max-width: none; // remove the 1000px limit that exists
					
					// match height of other bottom bars
					height: $panel_button_size;
					box-sizing: border-box;
					
					// Vertically center the child box
					display: flex;
					flex-direction: column;
					justify-content: center;
					
					clear:none;
					flex-basis: auto; // offset the 100% that is set on form items
					
					.title_column {
						display: none;
					}
					
					
					.form_item_container {
						display: flex;
						justify-content: flex-end;
					}
					
					input, button {
						//position: absolute;tc
						//bottom:$tungsten-space-minus-2;
						//right: $tungsten-space-minus-2;
						//z-index: 100;
						width: auto;
						@include panel-bottom-button;
						//
						
					}
				}
			}
			
			// Page builders extend to the edges
			&.TMv_PageBuilder_ThemeWrapper,
			&.TMv_Dashboard {
				padding-left:0;
				padding-right:0;
				margin-left:0;
				margin-right:0;
			}
		}
		
		
	}
	
	.right_panel {
		width:400px;
		border-left: $light-border;
		position: relative; // allow for positioning items inside of the view
	
		.right_panel_heading_container {
			display: flex;
		}
		
		.right_panel_view {
			// ruins form button layout
			//position: relative;
		}
		
		.right_panel_title {
			font-size:1.5em;
			color:$tungsten-blue;
			padding-bottom:$tungsten-space-minus-2;
			flex-grow: 1;
		}
		
		#tungsten_right_panel {
			flex-shrink: 1;
			flex-grow: 1;
			//overflow: hidden; // disabled to allow for panel title text to appear
			
			// Make the icons and panels container sit side by side
			display: flex;
			height: 100px; // set a height so that flexbox engages
		}
		
		#panel_icons {
			border-right:$light-border;
			display: flex;
			flex-direction: column;
			
			a {
				padding: 0;//
				font-size:20px; // icons at a fixed size
				position: relative;
				height:$panel_button_size;
				width:$panel_button_size;
				flex-shrink:1;
				text-align: center;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				
				svg {
					width:$tungsten-space-minus-1;
				}
				
				&.selected {
					background: $tungsten-blue;
					color:$white;
				}
				
				&:hover {
					@include panelIconHover;
				}
			}
		}
		
		// The container is what scrolls
		#panel_container {
			overflow-x: hidden;
			overflow-y: auto;
			@include styledScrollbars;
			
			padding:$tungsten-space-minus-2;
			flex-grow:1;
		//	background: $tungsten-grey-minus-3;
		}
		
		.TCv_FormItem_SubmitButton {
			.form_item_container {
				position: absolute;
				bottom:0;
				display: flex;
				align-items: center;
				right: $tungsten-space-minus-2;
				height: $panel_button_size; // match the bottom space
				z-index: 100;
				width: auto; // avoids full width spanning
			}
			
			input, button {
				@include panel-bottom-button;
			}
		}
		
		// COLLAPSED SETTINGS
		&.collapsed {
			// Hide all the panel views when collapsed
			.right_panel_view {
				display: none;
			}
			
			// Hide positioned form buttons
			.TCv_FormItem_SubmitButton {
				input, button {
					display: none !important;
					
				}
			}
		}
		
		// HALF WIDTH SHOULD BE IGNORED
		.TCv_Form {
			div.table_row.half_width,
			div.TCv_FormItem_Group.half_width {
				flex-basis: 100% !important;
			}
			
			// Tungsten loading on forms shouldn't apply position relative
			&.tungsten_loading {
				position: static !important;
			}
		}
		
		
		
	}
	
	
	
}