
$tungsten-blue : 	rgb(25, 112, 158);

.TMv_DashboardPanel {
	// Grab the theme config
	@import "../../../../dashboard/classes/views/TMv_Dashboard/dashboard_theme_config";
	
	
	//box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
	border-radius: 5px;
	overflow:hidden;
	
	display: flex;
	flex-direction: column;
	
	// Ensure all panels are full height
	box-sizing: border-box;
	height:100%;
	.panel_view {
		flex-grow: 2;
	}
	
	
	// Heading
	.dashboard_heading {
		font-weight: normal;
		font-size: 1em;
		padding:10px;
		border-bottom:1px solid $white;
		//text-transform: uppercase;
		background:$dashboard-blue; // defaults to blue
		color: $white;
		
		
		.view_all_link {
			float: right;
			font-size:11px;
			background:rgba($white,0.3);
			padding:2px 4px;
			border-radius: 2px;
			color:$white;
			margin-top:-2px;
			
			&:hover {
				background:$white;
				color:#333;
				transition: background-color 0.5s, color 0.3s;
			}
		}
		
	}

	.panel_view {
		padding:10px;
		background: $white;
		
		
		
		select, input {
			color:$tungsten-blue;
			
			option {
				
				color:$tungsten-blue;
			}
			
			svg, svg > * {
				color:#333 !important;
			}
		}
	}
	
	&.style_purple {
		h3 {
			background: $dashboard-purple;
		}
	}
	
	&.style_pink {
		h3 {
			background: $dashboard-pink;
		}
	}
	
	&.style_red {
		h3 {
			background: $dashboard-red;
		}
	}
	
	&.style_orange {
		h3 {
			background: $dashboard-orange;
		}
	}
	
	&.style_yellow {
		h3 {
			background: $dashboard-yellow;
		}
	}
	&.style_green {
		h3 {
			background: $dashboard-green;
		}
	}
	&.style_grey {
		h3 {
			background: $dashboard-dark-gray;
		}
	}
	
	
	.TCv_SearchableModelList .search_controls.header_controls {
		margin-top:0;
	}

}