.TMv_WorkflowDashboardWidget {
	//font-size: 1em;
	border: 1px solid #666;
	overflow: scroll;

	display: inline-block;
	vertical-align: top;
	width: 49%;
	margin: .5%;
	box-sizing: border-box;

	.widget_subheading {
		//font-size: 1.1em;
		padding-bottom: 3px;
		//font-weight: bold;
	}
	.widget_header {
		//font-size: 1.3em;
		padding-bottom: 10px;
	}

	.cat_container {
		border: 1px solid #999;
		padding: 10px;
		margin: 10px;
		box-sizing: border-box;

		.cat_title {
			//font-size: 1.3em;
		}

		.status_box {
			display: flex;

			.percent_box {
				margin: 0;
				padding: 0;
				.status_bar {
					display: inline-block;
					height: 20px;
					width: 100%;
				}
				.stage_name {

				}

				.stage_percent {

				}
			}
		}


	}
}