.TMv_ContentLayout_5Column_To_2_3 {
	
	// Fallback explanation
	// Columns are 16.8%
	// Gaps are 4%
	> .cwc > .column_1 {
		// Must align with a 5-column layout, so we need to account for multiple gaps in the right column
		// 1 2 3 4 5
		// 111 22222
		// 100% minus 4 gaps, gives us the actual full width of all the columns
		// Divided by 5 gives us the column width we'd see in a 5-column
		// Times 2 since it's covering 2 columns
		// Adding one column gap since that column covers one of those
		width: calc((100% - (var(--cwc-column-gap)*4) )  / 5 * 2 + var(--cwc-column-gap) );
	}
	
	> .cwc > .column_2 {
		// This column expands to fit the space, letting the gap do the rest
		width: 100%;
		flex:1;
	}

}