.TSv_Tungsten9_SubmenuBar {
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	$corner-radius : $tungsten-space-minus-2;
	
	margin-top: $tungsten-space-minus-2;
	color:$tungsten-grey-minus-1;
	
	list-style: none;
	position: relative;
	display: flex;
	overflow-y: auto; // side-scroll
	
		&.menu_count_0 {
			display: none;
		}
	
	li {
		//display: inline-block;
		
		// Apply the background to each item
		background: $white-plus-2;
		padding-left:$tungsten-space-minus-3;
		
		
		// First and last item get the rounded corners
		&:first-child {
			padding-left:0;
			border-bottom-left-radius: $corner-radius;
			border-top-left-radius: $corner-radius;
		}
		&:last-child {
			border-bottom-right-radius: $corner-radius;
			border-top-right-radius: $corner-radius;
		}
		
		&:first-child a {
			border-bottom-left-radius: $corner-radius;
			border-top-left-radius: $corner-radius;
			
		}
		
		// Current menus get all four corners
		&.current_menu a,
		&.parent_menu a {
			border-radius: $corner-radius;
		}
		
		
		span, a {
			white-space: nowrap;
			font-weight: 200;
			font-size: 0.9em;
			color:$tungsten-grey;
			display: inline-block;
			padding: $tungsten-space-minus-3 12px;// $tungsten-space-minus-2; eye-balled for tightness
		}
		
		svg {
			padding-right: $tungsten-space-minus-3;
		}
		
		// Hover on links inside
		a:hover, a:focus {
			color: $white;
			border-radius: $corner-radius;
			background:$tungsten-grey-minus-2;
			
		}
	}
		// Uses active menu since we might be loading a child
		.current_menu a, .parent_menu a {
			background:$tungsten-grey-minus-1;
			color:$white;
			
			&:hover, &:focus {
				background: $tungsten-grey;
				color:$white;
			}
			
			//border-top: 2px solid #074a6c;
			//padding-top: 7px;
			//background: rgba(255, 255, 255, 0.1);
		}
		
	}
	
