// DO NOT ALTER
// This file is a generalized setup that handles the mobile menu toggling that is included on most sites.
// Additional styling should happen in your own files and not in this one.

// You must @import this file into your own theme CSS and it MUST be one level in from your main `.TMv_PagesTheme` declaration

// Your PHP theme file must include the `TMv_PagesTheme:mobileMenuToggleButton()`

// These styles are designed to handle the overall interaction and are not designed to be a complete solution.
// The specific styling, spacing, colors, fonts, etc are all to be implemented in your CSS for your theme

// This file also requires that you have a SCSS variable called `$single-column-width` which is used for all responsive
// settings on the site


// By default the button is hidden
#mobile_menu_toggle {
	display: none;
	
}

// We show the button in single-column mode
@media only screen and (max-width: $single-column-width) {
	#mobile_menu_toggle {
		display: block;
		z-index: 910;
		text-decoration: none;
		position: absolute;
	}
	
	// When showing the single column, we also hide the main menus
	ul#main_menus {
		display: none;
	}
}

// The & refers to `TMv_PagesTheme` which is how the toggle works, by changing a style on the body, which then triggers the
// styles on the site
&.mobile_navigation_showing {
	overflow-x: hidden;
	overflow-y: hidden;
	
	
	ul#main_menus {
		display: block !important;
		position: fixed;
		padding:0;
		overflow-y:scroll;
		height:100%;
		width: 100%;
		left:0px;
		top:0px;
		// Ensure all menus appear, even those that were hidden
		li, ul, a  {
			display: block !important;
		}
		
	}

}


