@import "../../../../TCore/CSS/bourbon/bourbon";

@import "../../../config/workflow_colors";

$workflow_width : 330px;

$transition_type : 1s ease-in-out;


body {
	
	#tungsten_main_content {
		width:calc(100% - 20px);
		transition: width $transition_type;
	}
	
	&.showing_workflow {

		#tungsten_main_content {
			position: relative;
			width:calc(100% - #{$workflow_width + 20px}); // 20px for padding

			> .TCv_Form {
				width:100%;
			}
		}

		// Moves the right to the edge of the page
		.TMv_WorkflowEditor {
			right: 0;
		}
	}
}



/* Applies the 100% width rule earlier to account for the width lost from the workflow
 */
@media only screen and (max-width : 1390px) {
	
	body.showing_workflow .TMv_PagesTheme div.content_width_container {
		width: calc(100% - 60px);
		padding-left: 30px;
		padding-right: 30px;
		}
	}


.TMv_WorkflowEditor {
	position: relative;
	top: 0px;
	right: -$workflow_width; // default hidden off the page
	width: #{$workflow_width - 20px};
	background: #FFF;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	padding: 0px 10px;
	transition: right $transition_type;
	
	// Transition the height to zero after 1 second delay
	&:not(.showing) {
		height: 0 !important;
		transition: right $transition_type, height 0s ease-in-out 1s;
	}
	
	.workflow_section_box {
		display: none;
	}
	
	.workflow_section_error {
		display: block;
		color: #900;
		font-size: 14px;
		text-align: center;
	}
	.workflow_section_error:hover {
		color: #600;
	}
	
	h2 {
		text-transform: uppercase;
		color: $workflow-color;
		background: $workflow-color-light;
		padding: 15px 10px;
		margin: 0 -10px 10px -10px;
		border-bottom: 1px solid $workflow-color;
		
		
		
	}
	
	h3 {
		text-transform: uppercase;
		color: $workflow-color;
		font-size: 14px;
		font-weight: normal;
		padding-bottom: 15px;
		border-top: 2px solid $workflow-color;
		padding-top: 15px;
		margin-top: 20px;
	}
	
	.stage_box {
		margin:-10px -10px 10px -10px; // make it fit the edges
	}
	
	
	/***** FORMS *****/
	
	.form_table textarea {
		resize: vertical;
		height: 80px;
		border: 1px solid rgb(100, 0, 100);
		font-size: 14px;
		line-height: 1.3em;
	}
	
	.form_table input[type="submit"] {
		background: rgba($workflow-color, 0.2);
		border: 1px solid $workflow-color;
		font-size: 14px;
		color: $workflow-color;
		margin-bottom: 10px;
		border-radius:0px;
	}
	
	.form_table input[type="submit"]:hover {
		background: rgba($workflow-color, 0.3);
	}
	
	.form_table label {
		font-size: 14px;
	}
	
	.has_content_link {
		
		
		&:hover {
			border-color: $workflow-color;
			background:rgba($workflow-color, 0.1);
		}
	}
	
	.comment_link_button {
		display: block;
		background:$workflow-color;
		color:#FFF;
		margin:0px;
		text-transform: uppercase;
		font-size:11px;
		padding:8px;
		
		.link_icon {
			padding-right:5px;
		}
		
		&:hover {
			background: #900;
		}
		
	}
	
	.comment_page_title {
		font-size: 14px;
		padding-bottom: 5px;
		border-bottom: 2px solid #333;
		margin-bottom:10px;
		display: none;
	}
	
	.workflow_highlight {
		@include animation(pulse 1s ease-in-out 2);
	}
	
	
}

// DEAL WITH INIT, TEMPORARILY REMOVES TRANSITIONS
body.workflow_init {
	#tungsten_main_content {
		transition: none !important;
	}
	
	.TMv_WorkflowEditor {
		transition: none !important;
	}

	
}

@include keyframes(pulse) {
	0% {
		box-shadow: 0px 0px 7px 3px rgba($workflow-color, 0.6);
	}
	50% {
		box-shadow: 0px 0px 7px 6px rgba($workflow-color, 0.6);
	}
	100% {
		box-shadow: 0px 0px 7px 3px rgba($workflow-color, 0.6);
	}
	
}