.TMv_WorkflowSettingsBox {
	.workflow_toggle_button {
		border-style: solid;
		border-width: 1px;
		display: flex;
		//flex-direction: row-reverse;
		align-items: stretch;
		justify-content: flex-end;
		margin-bottom:7px;
		padding:0px;
		margin-left:0px;
		margin-right: 0;
		
		.title_box {
			padding: 5px;
			margin: 0;
			text-transform: capitalize;
			//	color:#FFF;
			border:none;
			flex-grow: 1;
			font-size: 14px;
			line-height: 1.3em;
			background:#FFF;
		}
		
		.icon_box {
			padding: 8px;
			background-color: inherit; // pull from the color, then override on disabled
			margin-left:0;
			margin-right: 0;
			color:#FFFFFF;
			
			// Deal with vertical alignment
			display: flex;
			align-items: center;
			
			
			svg {
				display: block;
				margin: 0 auto;
				height: 16px;
				width: 16px;
			}
		}
		&.workflow_disabled {
			border-color: #BBB;
			.icon_box {
				background-color: #AAA;
			}
		}
		
		
		// On hover/focus, we want to turn the button to the workflow colour, which is the background on the button itself
		&:hover, &:focus {
			
			.title_box {
				color:#FFF !important; // turn to white, override color
				background:none;
			}
			
			.icon_box {
				background:none;
			}
			
		}
		
		
	}
}