.TMv_WorkflowList .color_box{padding:5px 8px;border-radius:2px}.TMv_WorkflowList .stage_list_container{display:flex;flex-direction:column;gap:4px;font-size:.8rem;padding-right:8px}/*# sourceMappingURL=TMv_WorkflowList.css.map */
