.TMv_SearchForm {
	position: relative; // necessary for positioning
	
	
	div.table_row {
		padding-bottom: 0;
	}
	
	#q_row {
		.value_column {
			overflow: hidden;
			height: 29px;
		}
	}

	#q_container {
		position: relative;

		
	}

	
	.form_table .table_row.TCv_FormItem_SubmitButton {
		position: absolute;
		top:0;
		right:0;
		border:none;
		background:#333;
		padding-bottom: 0;
		button {
			background: none;
			color:#FFF;
			border:none;
			padding:5px 8px;
			
			
			svg {
				height: 18px; // fill the space
			}
		}
	}
}

.search_form_loading {
	opacity: 0.4;
}
