
.TCv_Form {
	.form_table {
		
		label {
			font-weight: 300;
			font-size:1rem;
		}
	}
}

.TCv_Form {
	
	// The font-size for values
	$form-field-font-size : 0.9rem;
	$form-border-radius : $tungsten-space-minus-3;
	//<input type="button">
	//<input type="checkbox">
	//<input type="color">
	//<input type="date">
	//<input type="datetime-local">
	//<input type="email">
	//<input type="file">
	//<input type="hidden">
	//<input type="image">
	//<input type="month">
	//<input type="number">
	//<input type="password">
	//<input type="radio">
	//<input type="range">
	//<input type="reset">
	//<input type="search">
	//<input type="submit">
	//<input type="tel">
	//<input type="text">
	//<input type="time">
	//<input type="url">
	//<input type="week">
	
	@mixin tungsten-field-border {
		border-radius: $form-border-radius;
		border: 1px solid $tungsten-blue;
		
	}
	
	@mixin tungsten-field {
		@include tungsten-field-border;
		box-sizing: border-box;
		background:$white;
		margin: 0;
		color: $tungsten-grey-plus-1;
		padding: $tungsten-space-minus-4 $tungsten-space-minus-3;
		font-size: $form-field-font-size;
		width: 100%;
		font-weight: 300;
		font-family: $tungsten-font-family;
		&:focus {
			outline: 2px solid $tungsten-blue; // add more to the outside
			outline-offset: -1px; // move it over top the existing border
		}
	}
	
	@mixin tungsten-field-single-height {
		@include tungsten-field;
		// Height is border box, so we use the full height of the text plus the spacing above and below including the borders
		height: calc(1em + #{$tungsten-space-minus-3*2 + 2 });
		line-height: 1.2em; // avoids clipping
	}
	
	@mixin white-background-container {
		padding:$tungsten-space;
		background:$white;
		border-radius: $form-border-radius;
		
	}
	
	.form_table {
	//	max-width: 1000px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}
	
	
	textarea {
		font-family: inherit;
		min-height: 150px;
		@include tungsten-field;
		resize: vertical;
	}
	
	div.table_row,
	div.TCv_FormItem_Group {
		flex-basis: 100%; // makes them full width
		padding-bottom: $tungsten-space-minus-1;
		clear:left;
		display: flex;
		flex-direction: column;
		
		&.half_width {
			flex-basis: calc(50% - #{$tungsten-space-minus-3}); // Even gaps all the time
		}
	}
	
	
	// Deal with fields set to explicitly not stack
	div.table_row.no_stack {
		flex-direction: row;
		
		.title_column {
			width:20%;
			align-items: center;
		}
	}
	
	
	
	
	// AFTER VIEWS
	// Items added to the form which appear after the main item
	.form_item_container {
		.after {
			padding-top:$tungsten-space-minus-3;
			font-size:0.8em;
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// TITLE COLUMN
	//
	//////////////////////////////////////////////////////
	
	.title_column {
		margin-bottom: $tungsten-space-minus-3;
		display: flex;
		
		label {
			//	font-size:1.0em;
		}
		.required_icon {
			color: $tungsten-orange-minus-1;
			margin-right: $tungsten-space-minus-4;
		}
		
		
		
		
		
	}
	
	.help_text_container {
		padding-left: $tungsten-space-minus-4;
		position: relative;
		
		
		.form_help_text {
			display: none;
			position: absolute;
			background:$tungsten-grey;
			color:$white;
			padding:$tungsten-space-minus-3;
			width: 200px;
			font-size:0.8em;
			z-index: 200;
			border-radius: $form-border-radius;
			line-height: 1.4em;
			left: -$tungsten-space-minus-4;
			margin-top:$tungsten-space-minus-3;
			
			&:before {
				content:" ";
				background:$tungsten-grey;
				width:12px;
				height: 12px;
				transform: rotate(45deg);
				position: absolute;
				//	z-index: 10;
				top:-6px;
				left:10px;
			}
			
		}
		
		&.showing {
			
			.form_help_text {
				display: block;
			}
			
			
			
		}
	}
	
	
	
	
	.value_column {
		//	font-size:0.9em;
		display: flex;
		vertical-align: top;
		width:100%;
		text-align: left;
		
		.form_item_container {
			width: 100%;
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// TEXT FIELDS
	//
	//////////////////////////////////////////////////////
	
	input[type="date"],
	input[type="text"],
	input[type="number"],
	input[type="tel"],
	input[type="password"],
	input[type="email"] {
		@include tungsten-field-single-height;


		&[disabled="disabled"] {
			border-color:$tungsten-grey-minus-2;
			color:$tungsten-grey-minus-1;
		}


	}
	
	//////////////////////////////////////////////////////
	//
	// SELECT FIELD
	//
	//////////////////////////////////////////////////////
	select {
		
		@include tungsten-field-single-height;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		min-height: $tungsten-space-minus-2;



		&[disabled="disabled"] {
			border-color:$tungsten-grey-minus-2;
			color:$tungsten-grey-minus-1;
		}

		option {
			//	max-width:100%;
		}
		
		&::-ms-expand {
			display: none;
		}
		
	}
	
	// Deal with the arrow being positioned properly
	.select_container {
		position: relative;
		
		select {
			padding-right: $tungsten-space-minus-1; // avoid text hitting arrow
		}
		
		.symbol_TCv_Form9_select_arrow {
			height: 100%;
			position: absolute;
			top:0;
			right: $tungsten-space-minus-3;
			
			color: $tungsten-blue;
			display: inline-block;
			pointer-events: none;
			z-index: 1;
			width: 12px; // visually set
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// DATE FIELD
	//
	//////////////////////////////////////////////////////
	input[type="date"] {
		max-width:160px;
	}
	
	//////////////////////////////////////////////////////
	//
	// DATETIME FIELD
	//
	//////////////////////////////////////////////////////
	.TCv_FormItem_SelectDateTime {
		.select_container {
			display:inline-block;;
		}
		
		select {
			width:auto; // avoid the 100% set on other selects
		}
		
		.date_select_YMD_box,
		.date_select_hms_box {
			display: inline-block;
			white-space: nowrap;
		}
		
		.date_select_YMD_box {
			padding-right: $tungsten-space-minus-2;
			padding-bottom: $tungsten-space-minus-4;
		}
		.date_select_hms_box {
			padding-bottom: 5px;
			
			.select_container {
				&:before {
					content:":";
					padding-right: $tungsten-space-minus-3;
					
				}
				&:first-child:before {
					display: none;
				}
				
			}
		}
		
		
		.value_column .select_container,
		.value_column span {
			margin-right: $tungsten-space-minus-3;
		}
		
		// Hide the icons. They were confusing. Don't show them in Tungsten
		.time_icon,
		.date_icon {
			display: none;
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// TOM-SELECT
	// This is the expandable drop-down tool used on forms
	//
	//////////////////////////////////////////////////////
	.TCv_FormItem_Select .ts-wrapper {
	
		// Single focus hides the existing value
		&.single.focus {
			.item {
				display: none;
			}
			
			input {
				margin-left:0 !important; // push to the left
			}
		}
		
		// Unhide the input, so it's always there
		&.input-hidden {
			input {
				opacity: 1;
				position: static;
			}
		}
		
		.ts-control {
			@include tungsten-field;
			
			> input {
				min-width: auto;
				font-size: $form-field-font-size;
				font-weight:300;
				padding: 2px !important; // ensure the input as the proper spacing
			}
		}
		
		// Style the active dropdown
		&.dropdown-active {
			
			.ts-control {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		
		// The dropdown that appears
		// Sticks directly below the field, looks attached
		.ts-dropdown {
			margin-top:0;
			border:1px solid $tungsten-blue;
			border-top:none;
			border-bottom-left-radius: $form-border-radius;
			border-bottom-right-radius: $form-border-radius;
			font-size:$form-field-font-size;
			overflow: hidden; // enforce rounded corners
		}
		
		// The currently selected item on the list
		.selected {
			background: $tungsten-blue;
			color:#FFF;
		}
		
		.active {
			background: $tungsten-blue-minus-3;
			color: inherit;
		}
		
		// Multi item selections which stack next to each other
		&.multi {
			.ts-control {
			
			}
			
			//
			.item {
				border: 1px solid $tungsten-grey;
				border-radius: 4px;
				background: #FFF;
				background:$tungsten-blue-minus-4;
				height:14px;
				
				// Margin on the right, let the flexbox do the rest of the centering work
				margin: 0 $tungsten-space-minus-4 0 0 ;
				
				// Selected, which can be deleted
				&.active {
					background-color: $tungsten-blue;
					border: 1px solid $tungsten-blue;
					color:white;
				}
			}
		}
		
		.item .remove {
			color: $tungsten-red;
			
			&:hover {
				color:$tungsten-red-plus-1;
				background:$tungsten-red-minus-2;
			}
		}
		
		// DEAL WITH PLACEHOLDERS
		&.has-items {
			input::placeholder {
				opacity: 0;
			}
		}
		
		.spinner {
			display: none;
		}
		
		// Indented option groups
		.optgroup {
			
			.optgroup-header {
				font-weight: bold;
				color:$tungsten-grey-plus-2;
			}
			
			.option {
				padding-left:$tungsten-space-minus-1;
			}
		}
		
	}
	
	//.chosen-container {
	//	width:100% !important; // force to fit the width
	//	font-size:1em; // override their hardcoded value
	//	// remove padding, so that the interface does the work
	//	padding-left:0;
	//	padding-right:0;
	//
	//	// Hide the sprite
	//	div b {
	//		display: none !important;
	//	}
	//
	//	// Format the button inside, removing styles that get in the way
	//	.chosen-single {
	//		@include tungsten-field-single-height;
	//		//border:0;
	//		background:$white;
	//		//box-shadow: none;
	//		//color:inherit;
	//		box-shadow: none;
	//		input[type="text"] {
	//			display:none; // just gets in the way
	//		}
	//
	//		// Style the container for the text
	//		span {
	//			padding: 2px 0;
	//		}
	//	}
	//
	//	// UL for pick multiple options
	//	.chosen-choices {
	//		@include tungsten-field-single-height;
	//
	//		// selected options for the pick-multiple
	//		.search-choice {
	//			margin-top:1px; // tweak to fit
	//		}
	//
	//	}
	//
	//	&.chosen-container-active.chosen-with-drop {
	//		.chosen-single {
	//			border-color: $tungsten-blue; // make the border match
	//			border-bottom: none; // for seemless effect
	//			display: block;
	//			padding-top:$tungsten-space-minus-4;
	//		}
	//
	//		// UL when the list exists
	//		.chosen-choices {
	//			border-bottom-left-radius: 0;
	//			border-bottom-right-radius: 0;
	//			border-bottom: 0;
	//			box-shadow: none;
	//
	//		}
	//
	//
	//		// The drop box that appears
	//		.chosen-drop {
	//			@include tungsten-field;
	//
	//			// Change top borders to match, showing seamless effect
	//			border-top-left-radius: 0;
	//			border-top-right-radius: 0;
	//			border-top:none;
	//			box-shadow: none;
	//
	//		}
	//
	//		+ svg {
	//			transform: rotate(180deg);
	//		}
	//	}
	//
	//	// clean up styling for results
	//	.chosen-search {
	//		padding-left:0;
	//		padding-right:0;
	//		padding-top:0;
	//	}
	//
	//	.chosen-results {
	//		padding-left:0;
	//		padding-right:0;
	//		margin-right:0;
	//
	//		li.highlighted {
	//			background-color:$tungsten-blue;
	//			background-image: linear-gradient($tungsten-blue 30%, $tungsten-blue-plus-1 100%);
	//		}
	//	}
	//
	//}
	
	//////////////////////////////////////////////////////
	//
	// FILEDROP
	//
	//////////////////////////////////////////////////////
	
	.TCv_FormItem_FileDrop {
		.file_drop_target {
			@include tungsten-field-border;
			//	border-style: dashed;
			background:$white;
			box-sizing: border-box;
			margin-bottom:$tungsten-space-minus-2;
		}
		
		.file_preview_box {
			border-radius: $form-border-radius;
			border: 1px solid $tungsten-grey;
			margin-bottom:$tungsten-space-minus-2;
			background:$white-plus-2;
		}
		
		.recrop_link {
			border-radius: 0 0 $form-border-radius $form-border-radius;
			background:$tungsten-grey;
			margin-top:-$tungsten-space-minus-1;
			padding-top:$tungsten-space-minus-2;
			&:hover {
				background: $tungsten-grey-plus-1;
			}
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// HTML CONTAINER
	//
	//////////////////////////////////////////////////////
	
	.TCv_FormItem_HTML {
		
		.value_column {
			font-size: $form-field-font-size;
			
			ul, ol {
				padding-left:$tungsten-space;
				
				li {
					padding-bottom:$tungsten-space-minus-3;
					
				}
			}
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// HEADINGS and FIELDSETS
	//
	//////////////////////////////////////////////////////
	
	.TCv_FormItem_Heading {
		position: relative;
		//display: flex;
		//align-items: center;
		width:100%;
		.value_column {
			width:100%;
		}
		
		
		.form_help_text {
			padding-top:$tungsten-space-minus-4;
			font-size: 0.8em;
			color: #555;
			padding-bottom:0; // undo anything from a paragraph
		}
		
	}
	
	
	fieldset {
		box-sizing: border-box;
		padding:0;
		margin:0;
		@include tungsten-field;
		
		
		// Avoid doubling up on fieldsets when legacy code has manually added a heading
		:nth-child(2).TCv_FormItem_Heading {
			display: none;
		}
		
	}
	
	
	// Styling heading h2  in fieldsets to look the same way
	.TCv_FormItem_Heading h2  {
		font-size:1rem;
		font-weight: normal;
		padding: $tungsten-space-minus-3;
		color: $white;
		background:$tungsten-blue-plus-1;
		border:none;
		border-radius: $form-border-radius;
		
		flex:1;
		white-space: nowrap;
		
		
	}

	// heading 3, which is optional and can be done by changing the heading tag
	.TCv_FormItem_Heading h3  {
		font-size:1rem;
		//	font-weight: normal;
		padding: $tungsten-space-minus-3 0;
		color: $tungsten-blue-plus-1;
		//	background:$tungsten-blue-plus-1;
		border:none;
		//	border-radius: $form-border-radius;

		//	flex:1;
		//	white-space: nowrap;


	}


	//////////////////////////////////////////////////////
	//
	// RADIO BUTTONS
	//
	//////////////////////////////////////////////////////
	$radio-button-size: 18px;

	.TCv_FormItem_Checkbox {
		.value_column > .form_item_container {
			@include tungsten-field;
		}
	}
	
	
	.TCv_FormItem_Checkbox,
	.TCv_FormItem_CheckboxList,
	.TCv_FormItem_RadioButtons {
		
		
		label {
			display: flex;
			align-items: center;
			padding:4px 0;
		}
		
		.button_restyle {
			display: inline-block;
			border-radius: #{$form-border-radius/2}; // doubled up in side of the field box
			border: 1px solid rgba($tungsten-blue, 1.0);
			width: 	$radio-button-size;
			height: 	$radio-button-size;
			margin-right: $tungsten-space-minus-3;
			
			svg.checkmark {
				display: none;
			}
		}
		
		input {
			
			// Normal input hidden
			position: absolute;
			visibility: hidden;
			
			&:checked ~ label .button_restyle {
				background: rgba($tungsten-blue, 0.2);
				
				svg.checkmark {
					display: block;
					width:#{$radio-button-size - 6px};
					margin:0 auto;
					padding: 2px;
					color: $tungsten-blue;
				}
			}
			
		}
		
	}
	
	.TCv_FormItem_RadioButtons {
		// RADIO BUTTON RADIUS
		.button_restyle {
			border-radius: 50%;
			flex-shrink: 0; // don't let it compress
			border-color:$tungsten-grey;
		}
		
		.button_text {
			line-height: 1.3em;
			font-size:$form-field-font-size;
			//	color:$tungsten-grey;
		}
		
		// Change radio button to circle
		input:checked ~ label {
			.button_text{
				//color:$tungsten-grey-plus-2;
				color:$tungsten-blue-plus-1;
			}
			
			.button_restyle {
				display: flex;
				align-items: center;
				border-color:$tungsten-blue;
				
				svg.checkmark {
					width: #{$radio-button-size - 8px};
					height: #{$radio-button-size - 8px};
					background: $tungsten-blue;
					border-radius: 50%;
					padding: 0;
					
				}
			}
		}
		
	}
	
	
	
	//////////////////////////////////////////////////////
	//
	// BUTTONS
	//
	//////////////////////////////////////////////////////
	
	.TCv_FormItem_SubmitButton {
		button, input {
			display: block;
			box-sizing: border-box;
			margin: 0;
			border-radius: $tungsten-space-minus-3;
			color: $white;
			background: $tungsten-blue;
			border:none;
			padding: $tungsten-space-minus-2 $tungsten-space-minus-3;
			font-size: 1em;
			width: 100%;
			font-weight: 300;
			
			&:hover, &:focus {
				background: $tungsten-blue-plus-1;
				cursor: pointer;
			}
			
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// TINY MCE – WYSIYWG EDITOR
	//
	//////////////////////////////////////////////////////
	.TCv_FormItem_HTMLEditor {
		
		//.tox-tinymce  {
		//	border-radius: $form-border-radius;
		//	border-color: $form-dark-grey-color;
		//}
		
		.tox-tinymce  {
			@include tungsten-field-border;
			overflow: hidden;
			
			// Inside panels
			.mce-panel {
				padding-left:$tungsten-space-minus-4;
			}
		}
		
	}
	
	//////////////////////////////////////////////////////
	//
	// HALF WIDTH
	//
	//////////////////////////////////////////////////////
	
	.table_row.half_width_left,
	.table_row.half_width_right {
		width:calc(50% - #{$tungsten-space/2});
		display: inline-block;
		
		
	}
	
	.table_row.half_width_left {
		clear: left;
		margin-right: $tungsten-space; // in the middle
	}
	.table_row.half_width_right {
		//float: left;
		clear:none;
	}
	
	
	//////////////////////////////////////////////////////
	//
	// HELP TEXT POPUP
	//
	//////////////////////////////////////////////////////
	
	
	.help_text_container {
		margin-left: $tungsten-space-minus-4; // margin to ensure popup moves too
		position: relative;
		
		// developer code containers which hold specific values, often next to
		+ .developer_code_container {
			padding-left:0;
		}
		
		a.help_icon_button {
			color: $tungsten-grey-minus-1;
			height: 1.0em; // avoid any pushing down
			display: block;
			&:hover, &:focus {
				color:$tungsten-blue;
			}
			
			&:active {
				color:$tungsten-blue-plus-1;
			}
		}
		
		// INSIDE TEXT
		.form_info_text {
			display: none;
			position: absolute;
			background:$tungsten-grey;
			color:$white;
			padding:$tungsten-space-minus-3;
			width: 200px;
			font-size:0.8rem;
			z-index: 200;
			border-radius: $tungsten-space-minus-4;
			line-height: 1.4em;
			left: -$tungsten-space-minus-4;
			margin-top:$tungsten-space-minus-3;
			text-align: left;
			
			a {
				color:#FFF;
				text-decoration: underline;
				
				&:hover {
					opacity:0.8;
				}
			}
			
			// If they include paragraphs
			p:last-child {
				padding-bottom:0;
				margin-bottom:0;
			}
			
			// NOTCH
			&:before {
				content:" ";
				background:$tungsten-grey;
				width:12px;
				height: 12px;
				transform: rotate(45deg);
				position: absolute;
				//	z-index: 10;
				top:-6px;
				left:10px;
			}
			
		}
		
		&.showing {
			
			.form_info_text {
				display: block;
			}
			
			
			
		}
	}
	
	.developer_code_container {
		font-size:0.85em;
	}
	
	
	//////////////////////////////////////////////////////
	//
	// FIELD ICONS
	//
	//////////////////////////////////////////////////////
	
	.form_table {
		
		.field_icon ,
		.fa_preview_container { // field container is part of TSv_FontAwesome_FormItem_SelectIcon
			// chosen to visually align, but also offset from the negative margin on the right
			padding: 9px 16px 9px 6px;
			margin-right:-12px; // shift to cover the rounded corners
			
			color: $tungsten-grey;
			background:$white;
		//	background: $tungsten-grey-minus-2;
			//height: 18px;
			//width:12px;
			font-size: $form-field-font-size;
			height: 14px; // hard-coded for consistency
			width: #{$form-field-font-size *1.5};
			//margin-top: 1px;
			//margin-right: -2px; // move it so it touches the form field
			//	border: 1px solid $form-dark-grey-color;
			border-top-left-radius: $form-border-radius;
			border-bottom-left-radius: $form-border-radius;
			
		}
		
		// Styling to make this icon match
		.TSv_FontAwesome_FormItem_SelectIcon {
			.form_item_container {
				display: flex;
			}
			
			.select_container {
				flex-grow: 1;
				margin-left:0; // negate what's coming from the main form item
				
				// Remove the border rounding on the left
				.ts-control {
					border-bottom-left-radius:0;
					border-top-left-radius:0;
				}
			}
			
			.fa_preview_container {
				order:-1; // move it first
				margin-top: 0; // override to 0
				border:none; // move border to outline to avoid mixing with sizing
				outline:1px solid $tungsten-blue;
				outline-offset: -1px;
			}
		}
		
		// FIELD ICONS THAT ARE ON SPECIFIC FORM TYPES
		.TCv_FormItem_HTML {
			.field_icon {
				margin-right:$tungsten-space-minus-4;
				margin-top:-2px;
			}
		}
		
		// Headings don't show icons. Just gets messy
		.TCv_FormItem_Heading {
			.field_icon {
				display: none;
			}
		}
	}
}


//
//
//// Styles specific to primary forms
//.tungsten_main_content {
//
//	> .TCv_Form {
//	//	width: 1000px;
//	//	padding:$tungsten-space-minus-1;
//	//	margin: 0 auto;
//
//		@media only screen and (max-width : 1000px)
//		{
//			width:auto;
//		}
//
//	//	font-size:16px; // hard-coded to ensure consistent rendering
//
//
//	}
//	.popup_content .TCv_Form,
//	.search_controls {
//		font-size:16px; // hard-coded to ensure consistent rendering
//	}
//
//	// force font-family
//	input, select , button {
//		font-family: $tungsten-font-family;
//
//	}
//
//
//	//////////////////////////////////////////////////////
//	//
//	// MAIN CONTENT ONLY
//	//
//	//////////////////////////////////////////////////////
//
//	// Remove srcolling from the form, move it into the form_table
//	&.center_panel .TCv_Form.primary_content {
//		overflow: visible; // remove overflow handling
//		height: 100px; //set height to force flex-box to conform
//
//		// stack the items
//		display: flex;
//		flex-direction: column;
//
//		// Padding needs to move inside for positioning of submit rows
//		padding-left:0;
//		padding-right:0;
//		margin-left:0;
//		margin-right:0;
//
//		// Set the form table as the scrolling item
//		.form_table {
//			position: relative; // make the positioning fit the form table
//			overflow-y: scroll;
//			overflow-x: hidden;
//			flex-grow: 2;
//			padding:0 $tungsten-space $tungsten-space $tungsten-space ;
//
//			// Option to add in the white background
//			//margin-left:$tungsten-space;
//			//margin-right:$tungsten-space;
//			//background:$white;
//			//border-top-left-radius: $tungsten-space-minus-3;
//			//border-top-right-radius: $tungsten-space-minus-3;
//
//
//			@include tungsten-scrollbars;
//
//
//			// Max width on really wide tables
//			.table_row {
//				max-width:800px;
//
//			}
//
//
//		}
//
//		//////////////////////////////////////////////////////
//		//
//		// MAIN CONTENT BACKGROUNDS AND HEADING SEPARATION
//		//
//		//////////////////////////////////////////////////////
//
//		.form_table {
//			.table_row {
//				background: #FFF;
//				padding-left: $tungsten-space-minus-1;
//				padding-right: $tungsten-space-minus-1;
//
//				// Headings create breaks, so we add the space and rounded corners
//				&.TCv_FormItem_Heading {
//					padding-top: $tungsten-space-minus-1;
//					margin-top: $tungsten-space;
//				}
//
//			}
//
//			// Ensure the first element has padding on top to give it space
//			.table_row, .TCv_FormItem_Group {
//				&:first-child {
//					padding-top: $tungsten-space-minus-1;
//				}
//
//			}
//
//			// First item is a heading
//			> .TCv_FormItem_Heading:first-child {
//				margin-top:0;
//			}
//
//		}
//
//		//////////////////////////////////////////////////////
//		//
//		// BOTTOM EDGE SUBMIT BUTTONS
//		//
//		// This changes where a submit button renders in the
//		// main panel to move it to be pinned on the bottom right
//		//
//		//////////////////////////////////////////////////////
//
//		.TCv_FormItem_SubmitButton {
//			width: 100%;
//			background:$white;
//			border-top:1px solid $white-plus-2;
//			padding-bottom:0;
//			overflow-y: scroll;
//			flex-shrink: 0;
//			margin-bottom:0; // avoids gap at the bottom
//
//			@include tungsten-scrollbars-hidden-width;
//
//			// Style the container for the button
//			.form_item_container {
//				padding: $tungsten-space-minus-2 $tungsten-space;
//				text-align: right;
//
//			}
//
//			button[type="submit"] {
//				border:none;
//				padding:$tungsten-space-minus-3 $tungsten-space-minus-2;
//				background: $tungsten-blue-plus-1;
//				color:$white;
//				border-radius: $tungsten-space-minus-1;
//				display: inline-block;
//
//				&:hover, &:active {
//					background:$tungsten-blue-plus-2;
//					cursor: pointer;
//				}
//
//				svg {
//					margin-right: $tungsten-space-minus-3;
//				}
//			}
//
//		}
//	}
//
//
//
//	.form_table {
//		height: 100%; // extend to the bottom
//
//
//		a.tungsten_button {
//			font-size: 14px;
//			padding: 8px 20px;
//			border: 1px solid darken($tungsten-blue, 10%);
//			background-color: #A3C6D8;
//			//text-shadow: 0px 0px 2px #75A9C5;
//			color: #074A6C;
//			display: block;
//			border-radius: 4px;
//
//		}
//
//		a.tungsten_button:hover {
//			background-color: #75A9C5;
//
//		}
//
//	}
//
//	.TCv_FormItem_SelectDateTime select {
//		border: 1px solid #474543;
//	}
//
//	/* STYLES BELOW ARE FOR THE CHOSEN PLUGIN FOR FILTERING LISTS */
//	.chosen-container-single .chosen-single {
//		color: #000;
//
//	}
//	.chosen-container-multi .chosen-choices {
//		background: #E8F1F5;
//	}
//
//	.chosen-container-single .chosen-drop {
//		border: 1px solid #474543;
//	}
//	.chosen-container .chosen-results .highlighted {
//		@include linear-gradient( to bottom, $tungsten-blue, #478CB1);
//	}
//
//
//
//}
//
//
//#mobile_toggle_side_menu_button_link {
//	display: none;
//}
//
///* Larger checkbox items */
//#tungsten_main_content .form_table input[type="checkbox"],
//#tungsten_main_content .form_table input[type="radio"] {
//	width:22px;
//	height:22px;
//	display: block;
//	margin-top:0px;
//	float:left;
//}
//#tungsten_main_content .form_table .value_column label {
//	display: block;
//	padding-top:3px;
//	margin-left:28px;
//	padding-bottom: 6px;
//}
//
#tungsten_main_content .form_table .invalid {

	.field_title {
		color: $tungsten-error;
	}

	input, select {
		border-color: $tungsten-error;
		color: $tungsten-error;

	}
}
//
//	.date_select_wrapper::before {
//		color:#900;
//
//	}
//}
