body.tungsten_module_login  {
	
	.TSv_TungstenPanels {
	//	display: block; // remove flex
		background: $white-plus-1;
	
	}
	
	.left_panel, .right_panel {
		display: none;
	}
	
	background: $white-plus-1;
	
	// Remove the white background
	#main_header {
		background: none !important;
		padding-left: 0 !important;
	}
	
	.tungsten_main_content.center_panel {
		margin: 0 auto;
		//padding-top: 30px;
		max-width: 600px;
		flex-grow: 0;
		width: auto;
		
		form.TCv_Form.primary_content {
			display: block; // turn off flex columns which pushes login to the bottom
			height: auto;
			
			.form_table {
				height: auto;
				padding-left:0;
				padding-right:0;
			}
			
			.TCv_FormItem_SubmitButton {
				background:none;
				border:none;
				width: auto;
				padding:0;
				
				.form_item_container {
					padding:0;
					//padding-left:$tungsten-space;
					//padding-right:$tungsten-space;
					
				}
			}
			
		}
		
		// Forgot password link
		#forgot_password_container {
			text-align: right;
		}
	}
	
	

}
//
//body.tungsten_module_login #tungsten_main_content .TCv_Form
//
//body.tungsten_module_login #tungsten_main_content .TCv_Form .value_column	 {
//	width:100%;
//}
//
//body.tungsten_module_login #tungsten_main_content .TCv_Form .title_column,
//body.tungsten_module_login #tungsten_main_content .TCv_Form .value_column	 {
//	display: block;
//	margin-left:0px;
//	text-align: left;
//	padding-bottom: 3px;
//}
//
//body.tungsten_module_login #tungsten_main_content .TCv_Form .required_icon {
//	display: none;
//}
