
@mixin panel-bottom-button {
	letter-spacing: 0;
	border-radius: $tungsten-space-minus-2;
	background:$tungsten-blue;
	color:$white;
	padding:$tungsten-space-minus-3 $tungsten-space-minus-2;
	text-decoration: none;
	font-family: $tungsten-font-family;
	font-weight: 200;
	font-size:1rem;
	box-sizing: border-box;
	height: $tungsten-space;
	display: flex;
	align-items: center;
	white-space: nowrap;
	line-height: 1rem;
	svg {
		padding-right:$tungsten-space-minus-3;
		color:inherit;
	}
	
	&:hover, &:focus {
		background: $tungsten-blue-plus-1;
	}
}

@mixin secondary-button-colors {
	background: $white-plus-2;
	color: $tungsten-grey;
	
	&:hover, &:focus {
		background-color:$tungsten-grey-minus-2;
		color:$tungsten-grey-plus-2;
	}
	
	&:active {
		background-color:$tungsten-grey-minus-1;
	}
}

a.small_button  ,
span.small_button  {
	border:1px solid darken($tungsten-blue, 10%);
	padding:3px 10px;
	display: block;
	float: left;
	margin-top: 1px;
	
}
a.big_button ,
span.big_button {
	display: block;
	border:1px solid #555;
	background: #CCC;
	padding:10px 10px;
	text-align: center;
	font-size:14px;
	color:#555;
	margin-top:10px;
	border-radius: 4px;
}
a.big_button:hover {
	border-color: #000;
	color: #000;
}

a.space_below {
	margin-bottom: 10px;
}

.big_button.red {
	border-color: #990000;
	background: #FFEEEE;
	color: #990000;
}

a.big_button.red:hover {
	border-color:#660000;
	color:#660000;
}

.big_button.green {
	border-color:#009900;
	background: #EEFFEE;
	color: #009900;
}

a.big_button.green:hover {
	border-color:#006600;
	color:#006600;
}

.big_button.orange {
	border-color:#FF6600;
	background: #ffe7d7;
	color: #FF6600;
}

a.big_button.orange:hover {
	border-color:#bd4d00;
	color:#bd4d00;
}