
//////////////////////////////////////////////////////
//
// TUNGSTEN COLOURS
//
//////////////////////////////////////////////////////

$tungsten-blue-minus-4		: #DCECFF;
$tungsten-blue-minus-3		: #B6D6FF;
$tungsten-blue-minus-2		: #7AB5FF;
$tungsten-blue-minus-1		: #2078CF	;
$tungsten-blue 				: #256BB2;
$tungsten-blue-plus-1		: #1C5085;
$tungsten-blue-plus-2		: #0E345A;

$tungsten-purple-minus-4	: #E9DDFF;
$tungsten-purple-minus-3	: #D5BFFF;
$tungsten-purple-minus-2	: #BA90FF;
$tungsten-purple-minus-1	: #9252E2;
$tungsten-purple			: #7526D6;
$tungsten-purple-plus-1 	: #48278E;
$tungsten-purple-plus-2 	: #2A135B;

$tungsten-pink-minus-4		: #FFE2FB;
$tungsten-pink-minus-3		: #FFC5F8;
$tungsten-pink-minus-2		: #FF9FF3;
$tungsten-pink-minus-1		: #F251DC;
$tungsten-pink				: #BF44AF;
$tungsten-pink-plus-1 		: #923E86;
$tungsten-pink-plus-2 		: #640556;

$tungsten-orange-minus-4	: #FFE5D3;
$tungsten-orange-minus-3	: #FFD6A6;
$tungsten-orange-minus-2	: #FFBB6B;
$tungsten-orange-minus-1	: #F8971D;
$tungsten-orange			: #CF7200;
$tungsten-orange-plus-1 	: #9B5025;
$tungsten-orange-plus-2 	: #6F2D08;


$tungsten-red-minus-2		: #FCE9E9;
$tungsten-red-minus-1		: #ECA7A7;
$tungsten-red				: #9B1926;
$tungsten-red-plus-1 		: #671119;
$tungsten-red-plus-2 		: #34080D;

$tungsten-yellow-minus-4	: #FFF9E0;
$tungsten-yellow-minus-3	: #FFF0B8;
$tungsten-yellow-minus-2	: #FFE375;
$tungsten-yellow-minus-1	: #FFD343;
$tungsten-yellow			: #B4902D;
$tungsten-yellow-plus-1 	: #816117;
$tungsten-yellow-plus-2 	: #5B430B;

$tungsten-green-minus-4		: #E4F1ED; //#DBFFF6;
$tungsten-green-minus-3		: #AED6C8; //#A2F4DF;
$tungsten-green-minus-2		: #77BBA3; //#38D9B6;
$tungsten-green-minus-1		: #419F7F; //#05A88C;
$tungsten-green				: #0b845a; //#0B8474;
$tungsten-green-plus-1  	: #096746; //#136158;
$tungsten-green-plus-2 	 	: #064932; //#0D413B;

$tungsten-grey-minus-4		: #D8DBDE;
$tungsten-grey-minus-3		: #CBCED2;
$tungsten-grey-minus-2		: #A4AAB1;
$tungsten-grey-minus-1		: #71777F;
$tungsten-grey				: #4F5863;
$tungsten-grey-plus-1		: #1D242C;
$tungsten-grey-plus-2		: #000000;

$white						: #FFFFFF;
$white-plus-1				: #F0F4F7;
$white-plus-2				: #E6E8EC;


$tungsten-error-minus-2 	: $tungsten-red-minus-2;
$tungsten-error-minus-1 	: $tungsten-red-minus-1;
$tungsten-error				: $tungsten-red;
$tungsten-error-plus-1		: $tungsten-red-plus-1;

$tungsten-space-minus-5	: 2px;
$tungsten-space-minus-4	: 4px;
$tungsten-space-minus-3	: 8px;
//$tungsten-space-minus-2-half	: 12px;
$tungsten-space-minus-2	: 16px;
$tungsten-space-minus-1	: 24px;
$tungsten-space			: 32px;
$tungsten-space-plus-1	: 64px;
$tungsten-space-plus-2	: 96px;

$tungsten-font-family 	: 'Poppins', Arial, Helvetica, Verdana, Geneva, sans-serif;


$workflow-color			: $tungsten-purple;
$flags-color			: $tungsten-error;
$style-color 			: rgb(166, 132, 53); // yellow-ish

// The panel button size is the dimension used for most things in the left/right panels as well as across the bottom
$panel_button_size: #{$tungsten-space-minus-1 + $tungsten-space  };

// The main spacing used in many places to ensure consistency with how panels are separated from each other
$main_panel_spacing : $tungsten-space-minus-2;

// The light border that is applied to various panels and other items
$light-border : 1px solid $white-plus-2;


// Styling scrollbars
$scrollbar-width : 10px;
$scrollbar-side-gap : 2px;
@mixin styledScrollbars {
	&::-webkit-scrollbar-thumb {
		background-color: $tungsten-grey-minus-2;
		border: $scrollbar-side-gap solid transparent;
		border-radius: 6px;
		background-clip: padding-box;
		
		&:hover {
			background-color: $tungsten-blue;
		}
		
	}
	
	&::-webkit-scrollbar {
		width: $scrollbar-width;
		height: $scrollbar-width;
	}
}
