#TCv_Messenger {
	box-sizing: border-box;
	border:0;
	margin-bottom: 0; // remove the 10 from the main
	
	.TCv_Messenger_title {
		padding:$tungsten-space-minus-2;
		font-weight: 300;
		line-height: 1.3em;
	}
	
	// Overrides from TCv_Messenger styling
	border-radius: 0;
	
	// Style the list
	ul {
		max-height: 150px;
		overflow-y: auto;
		overflow-x: hidden;
		padding:$tungsten-space-minus-2;
		padding-left:$tungsten-space; // Deal with pushing list out
		li {
			color:$tungsten-grey-plus-1;
			font-size:0.9rem;
			padding-bottom:$tungsten-space-minus-3;
			
			&:last-child {
				padding-bottom:0;
			}
		}
	}
	
	
	&.TCv_Messenger_success {
		.TCv_Messenger_title {
			background: $tungsten-green;
		}
		
		ul {
			background:$tungsten-green-minus-4;
			border-bottom:1px solid $tungsten-green;
			
		}
	}
	
	&.TCv_Messenger_failure {
		.TCv_Messenger_title {
			background:$tungsten-error;
		}
		
		ul {
			background:$tungsten-red-minus-2;
			border-bottom:1px solid $tungsten-error;
			
		}
	}
}