div#TCv_Dialog {

	.TCv_Dialog_content {
		position: relative;
		max-width:400px;
		width:auto;
		height:200px;
		display: flex;
		flex-direction: column;
		padding:$tungsten-space-minus-2;
		
		.status_icon {
			float: none;
			position: absolute;
			right:$tungsten-space-minus-2;
		}
		
		.message {
			flex:1;
			margin-right:$tungsten-space-plus-1; // account for the icon
		}
	}
	
	.buttons {
		display: flex;
		justify-content: space-between;
	}
	
	.buttons a {
		width:auto;
		min-width: 100px;
		@include panel-bottom-button;
		border:0;
		justify-content: center;
		
		&.left_button {
			@include secondary-button-colors;
			
		}
		
		&.right_button {
			order:2;
		}
	}
}