main.tungsten_main_content .TCv_List {

	td {
		font-size: 0.9rem;
		padding: $tungsten-space-minus-3 2px;

		border-bottom:1px solid $tungsten-grey-minus-3;
	}

}

main.tungsten_main_content .TCv_SearchableModelList {

	.search_controls.footer_controls {
		margin-top: 20px;
	}

	// RE-ORDER HEADER CONTROLS
	// Make these flex, so we can re-order the sections
	.search_controls.header_controls {
		display: flex;
		flex-direction: column;
		gap:$tungsten-space-minus-3;
		padding-bottom:$tungsten-space-minus-2;


		.filter_form {
			order:0;
			background: none;
			padding-top: 0; //$tungsten-space-minus-2;
		}

		.applied_filter_container {
			order:1;
		}

		.pagination_holder {
			order:2;
		}

		// BULK UPDATES
		.bulk_update_container {
			order:3;
		}



	}

	// FORM FIELDS
	// All found there, including bulk edit
	.TCv_FormItem_Group {
		gap:$tungsten-space-minus-2;
		// Don't show legends
		legend {
			display: none;
		}

		.filter_item {
			//margin-left: $tungsten-space-minus-2;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	$field_height : 38px;
	$field_border_radius : 16px;
	$inset : 12px; // visually chosen

	// Rounded corners
	input, select {
		border-radius: $field_border_radius;
		padding: 0 $inset;
		//height: #{ $field_height - 2} ;// account for border
		border: 1px solid $tungsten-blue;
		font-size:0.9rem;
		font-family: $tungsten-font-family;
		font-weight: 300;
		box-sizing: border-box;

		&:focus {
			outline: 2px solid $tungsten-blue;
			outline-offset: -2px;
		}
	}

	select {
		// More space, to deal with dropdown arrow
		padding-right:$tungsten-space-minus-1;
	}

	.ts-control {
		padding-left:$inset;
		padding-right:$inset;
	}

	.TCv_FormItem_Group {
		padding-left: 0;//$tungsten-space-minus-2;
		padding-right: 0;//$tungsten-space-minus-2;
		flex-direction: row; // undo what the forms have
		padding-bottom:0; // let gap do the work

	}

	.table_row {
		padding-bottom: 0; // handled by gap, multiple table rows might need spacing
	}

	.search_icon_box {
		padding: 0 #{$tungsten-space-minus-3 + 4};
		height: 100%;
		display: flex;
		align-items: center;
	}

	.clear_search_link {

	}

	.ts-control {
		border-radius: $field_border_radius;
	}

	// ACTIVE SELECTION
	#form_filter_search.filter_active,
	select.filter_active,
	select.filter_active + .ts-wrapper > .ts-control {
		background: $tungsten-green-minus-4 !important;
	}

	// Remove what's set in searchable
	select.filter_active + .ts-wrapper {
		background:none !important;
	}
	#form_filter_search.filter_active,
	select.filter_active {
		border-color: $tungsten-green;
	}

	.title_column {
		padding-top:0;
		padding-bottom:$tungsten-space-minus-3;
		margin-bottom:0;

		.field_title {
			font-size:0.85rem;
		}
	}






	.pagination_controls {
		border:1px solid $tungsten-grey-minus-3;
		background:$white;
		padding: $tungsten-space-minus-3;
		border-radius: $tungsten-space-minus-4;
	}

	// adjust container
	.applied_filter_container {
		margin:0; // handled by flex gap

		.applied_filter {
			background: $white; //$tungsten-grey-minus-4;
			border-color: $tungsten-grey-minus-3;
			border-radius: $tungsten-space-minus-4;
			color:$tungsten-grey-plus-1;

			.title {
				font-weight: 400;
			}
		}

		// button
		.applied_filter,
		.clear_button {
			padding-left:$tungsten-space-minus-3;
			padding-right:$tungsten-space-minus-3;

		}

		.clear_button {
			margin-right:0;
			border-radius: $tungsten-space;
			border:1px solid $tungsten-red-plus-1;
			color:$tungsten-red-plus-1;
			background: $white;
			svg {
				color:$tungsten-red-plus-1;
			}

			&:hover, &:focus {
				color:$tungsten-red;
				border-color:$tungsten-red;
				background:$tungsten-red-minus-2;

				svg {
					color:$tungsten-red;
				}
			}
		}

	}

	// SCROLLING
	&.primary_content {
		overflow: hidden;
		display: flex;
		flex-direction: column;

		.list_container {
			overflow: auto;
			@include styledScrollbars;
			//margin-right:-16px; // move it off the edge

			//table {
			//
			//}
			//
			//thead {
			//	display: block;
			//
			//}
			//
			//tbody {
			//	overflow-y: scroll;
			//	display: block;
			//}
		}
	}



	.bulk_update_container {
		border-radius: $tungsten-space-minus-4;

		background:#FFF;
		border:1px solid $tungsten-grey-minus-1;
		padding:0;

		.heading {

			font-size:0.8rem;
			margin:0;
			background:$tungsten-grey-minus-1;
			padding:$tungsten-space-minus-4 $tungsten-space-minus-3;
			color:#FFF;
		}

		.form_table {
			display: flex;
			gap:$tungsten-space-minus-3;
			padding:$tungsten-space-minus-3;


			#bulk_group {
				display: flex;
				gap:$tungsten-space-minus-3;
				flex-direction: row;
				padding:0;
			}

			.bulk_submit_row {
				flex:0;

				input {
					@include panel-bottom-button;
				}
			}
		}

	}

}