

	.TSv_ModuleNavigation_BreadcrumbBar {
		background: #A3C6D8;
		border-bottom: 1px solid #074A6C;
		padding: 10px;
		clear: left;
		list-style: none;

		li {
			display: inline;

			&:before {
				content: " • ";
				font-size: 11px;
				display: inline-block;
				padding: 0 4px;
				color: #478CB1;
			}

			span, a {
				font-size: 16px;
				color: #074A6C;
				display: inline;
				padding: 8px 2px;
				line-height: 20px;
			}

			&.right_menu_container:before,
			&.breadcrumb.first:before {
				content: '';
				display: none;
			}

			& a:hover {
				color: #19709E;
			}
		}
		
		//////////////////////////////////////////////////////
		//
		// RIGHTBOXES
		//
		//////////////////////////////////////////////////////

		.right_menu_container {
			float: right;
			margin-top: -5px;
			display: flex;
		}

		.right_menu {
			background: none;
			padding: 0px;
			margin-left: 10px;
			display: inline-block;

			a, select {
				font-size: 12px;
				padding: 4px 10px;
				display: block;
				border: 1px solid #145e86;
				color: #145e86;
				border-radius: 2px;
				height: 20px;
				background: rgba(255, 255, 255, 0.4);
			}

			select {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				height: 30px;
				border-radius: 2px !important;
				padding-right: 22px;
			}

			a svg {
				font-size: 14px;
				display: inline-block;
				margin-right: 4px;
			}

			a.icon_only svg {
				margin-right: 0px;

			}

			a:hover {
				background: rgba(255, 255, 255, 0.6);
				color: #074A6C;
				border-color: #074A6C;

			}
		}
		
		@media only screen and (max-width: 480px) {

			.right_menu_container.full_width {
				width: 100%;
				display: block;
				padding-bottom: 5px;
			}

			// All widths account for 2% padding in between
			&.menu_count_right_1 .right_menu_container.full_width .right_menu {
				width: 100%;
			}
			&.menu_count_right_2 .right_menu_container.full_width .right_menu {
				width: 49%;
			}
			&.menu_count_right_3 .right_menu_container.full_width .right_menu {
				width: 32%;
			}
			&.menu_count_right_4 .right_menu_container.full_width .right_menu {
				width: 23.5%;
			}
			&.menu_count_right_5 .right_menu_container.full_width .right_menu {
				width: 18.4%;
			}

			.right_menu_container.full_width .right_menu {
				float: none;
				display: inline-block;
				margin: 0px 0px 5px 2%;
				text-align: center;
			}

			.right_menu_container.full_width .right_menu:first-child {
				margin-left: 0px;
			}
	
		}

	}
	