.TMv_ContentLayout_3Column_To_2_1 {
	
	> .cwc > .column_1 {
		width: 100%;
		flex:1;
	}
	
	> .cwc > .column_2 {
		// Must align with a 3-column layout, so we need to account for multiple gaps in the right column
		// C C_C
		// C C--
		width: calc((100% - (var(--cwc-column-gap)*2) )  / 3 );
	}

}