.TSv_ModelHistoryStateList {
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	$insert-color : $tungsten-green-plus-1;
	$delete-color : $tungsten-red-plus-1;
	
	$title_column_width : 24%;
	$old_new_column_width: 38%;
	
	td.TCv_ListCell {
		border-bottom-color: $tungsten-grey-plus-1 !important;
	}
	
	.TCv_ListColumn_changes {
		padding-top:0 !important;
		padding-bottom:0 !important;
		
	}
	
	td.TCv_ListColumn_date {
		font-size:0.8rem !important;
		line-height: 1.2em;
	
	}
	
	td.TCv_ListColumn_date,
	td.TCv_ListColumn_user {
		vertical-align: top;
	}
	
	.action_icon {
		//padding-right:$tungsten-space-minus-4;
		//padding-left:$tungsten-space-minus-4;
		color:$tungsten-grey;
		width:18px;
		flex-shrink: 0;
	}
	
	.changed_value_box {
		display: flex;
		align-items: center;
		border-top:1px solid $tungsten-grey-minus-4;
	//	margin-top:$tungsten-space-minus-4;
	//	margin-bottom:$tungsten-space-minus-4;
		padding:$tungsten-space-minus-3 $tungsten-space-minus-3;
		line-height: 1.4em;
		gap:$tungsten-space-minus-3;
		//&:first-child {
		//	padding-top:0;
		//}
		
		&:first-child {
			border-top: 0;
		}
		> div {
		//	padding-right:$tungsten-space-minus-3;
			line-height: 1.4em;
		//	box-sizing: border-box;
		}
		
		&.change_action_delete{
			background : $tungsten-red-minus-2;
			color:$tungsten-red-plus-1;
			
			svg, .new {
				color:$tungsten-red-plus-1;
				
			}
			//&:first-child {
			//	padding-top:$tungsten-space-minus-3;
			//}
			
		}
		
		&.change_action_insert{
		//	background : $tungsten-green-minus-4;
			color:$tungsten-green-plus-1;
			
			svg, .new {
				color:$tungsten-green-plus-1;
				
			}
			
			//&:first-child {
			//	padding-top:$tungsten-space-minus-3;
			//}
			
		}
		
		
		
	}
	
	.TCv_ListColumn:first-child {
		padding-left:$tungsten-space-minus-3 !important;
	}
	.TCv_ListColumn:last-child {
		padding-right:$tungsten-space-minus-3 !important;
	}
	
	
	.action_update {
	//	background:#FFF;
	}
	
	.action_insert {
		color:$tungsten-green-plus-1;
	//	background :$tungsten-green-minus-4;
	}
	
	.action_delete {
		color:$tungsten-red-plus-1;
		background : $tungsten-red-minus-2;
	}
	
	.change_column_name {
	//	text-transform: uppercase;
	//	font-size:10px;
	//	background: #999;
	//	color:#FFF;
	//	border-radius: 3px;
		display: inline-block;
		width:$title_column_width;
	//	padding:5px 5px 5px 0;
		font-weight:400;
	//	box-sizing: border-box; // needed for indenting
		
		
	}
	
	.related {
	
		.change_column_name {
			box-sizing: border-box; // indenting
		}
		
		&:not(:first-child) .change_column_name {
			padding-left:26px; // 18px icon width plus another 8 eye-balled $tungsten-space-minus-2;
			font-weight: 300;
		}
		
		&.change_action_update{
		//	background-color: $white-plus-1;
		}
		
		
	}
	
	.related_heading {
		border-color:$tungsten-green-plus-2;
		
		.action_icon {
			order:-1; // move icon to the front
			padding-right:0; // gap shows up
		}
		
		// Make the heading extend, hiding old value column
		.change_column_name{
			//text-wrap: nowrap;
			width:#{$title_column_width + $old_new_column_width - 10%};
			//padding-right:$tungsten-space-minus-3; // adjust padding of two columns
		}
		
		.old {
			width:10%;
		}
		
		&.change_action_update{
		//	background-color: $white-plus-1;
		}
		&.change_action_insert{
			background-color: $tungsten-green-minus-4 !important;
			
		}
		
	}
	
	// Insert changes don't have an icon. Just the plus at the top from the heading
	.change_action_insert.related {
		.action_icon {
			opacity:0;
		}
	}
	
	// Insert changes don't have an icon. Just the plus at the top from the heading
	.change_action_update.related_heading {
		color:$tungsten-grey-plus-2;
		
		.old, .new {
			color:$tungsten-grey-plus-2;
			
		}
		
		//.action_icon {
		//	opacity:0;
		//}
	}
	
	.new, .old {
		width:$old_new_column_width;
		font-size:0.80rem;
	}
	
	.new {
		color:$tungsten-green-plus-1;
		padding-left:$tungsten-space-minus-3;
	}
	
	.old {
		color:$tungsten-red-plus-1;
	//	text-decoration: line-through;
	}
	

	.created_title_box {
		display: flex;
		padding:$tungsten-space-minus-3;
		background-color:$tungsten-green;
		color:$tungsten-green-minus-4;
		
		span {
			flex-grow:2;
		}
		
		
		
	}
	
	// Created toggle setup
	// ID only applied to the one item
	#created_changes_table {
		
		.created_title_box {
			svg {
				order: 2;
				transition-duration: 0.5s;
				transition-property: transform;
			}
			
			&:hover, &:focus {
				color: $tungsten-green-minus-4;
				background-color: $tungsten-green-plus-1;
			}
			
			
			
		}
		
		.changed_value_box {
			display: none;
		}
		
		
		&.showing {
			.changed_value_box {
				display: flex;
			}
			.created_title_box svg {
				transform: rotate(180deg);
			}
		}
	}
	
	.incomplete_history{
		background-color:$tungsten-yellow-minus-4;
		padding:$tungsten-space-minus-3;
		color:$tungsten-yellow-plus-1;
		font-size:0.85rem;
		//margin-top:$tungsten-space-minus-4;
		//margin-right:$tungsten-space-minus-4;
		//border:1px solid $insert-color;
		//background: white;
		font-style: italic;
		
		svg {
			padding-right: $tungsten-space-minus-4;
		}
	}
	
	.changes_table{
		font-size:0.85rem;
	}
	
	.revert_button {
		width:18px;
		flex-shrink: 0;
	}
}