.TMv_WorkflowRightPanel {
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	position: relative;
	
	// Move the button to the top right, getting it out of the way of the control buttons
	#workflow_control_settings {
		position: absolute;
		top:-40px; // visually aligned$tungsten-space-minus-2;
		right:0;
		padding:$tungsten-space-minus-4;
		border-radius:$tungsten-space-minus-4;
		
		&.showing {
			background: $tungsten-blue;
			color:$white;
		}
	}
	
	.workflow_control_bar {
		display: flex;
		align-items: stretch;
		width:100%;
		gap:$tungsten-space-minus-4;
		margin-bottom: $tungsten-space-minus-3;
		a {
			display: block;
			padding:4px;
			flex:1;
			text-align: center;
			color:$tungsten-grey-plus-1; //$white;
			font-size:0.85rem;
			border-radius:$tungsten-space-minus-4;
			border-width: 2px;
			border-style: solid;
			box-sizing: border-box;
			
			// selected menu
			&.showing {
				position: relative;
				
				&:after {
					content:" ";
					width:4px; //calc(100% + 4px);
					border-left: 2px solid black;
					border-color: inherit;
					display: block;
					position: absolute;
					left:calc(50% - 1px);
					bottom:-14px;
					box-sizing:border-box;
					height:14px;
				}
			}
			
			&:hover {
				background:$white-plus-2;
			}
			
			&:not(.showing) {
				border-color:#FFF !important;
				
			}
			
			
		}
	}
	
	// default hide them all
	.workflow_section_box {
		display: none;
		border-top-style: solid;
		border-top-width: 4px ;
		padding-top:$tungsten-space-minus-2;
		
		&.showing {
			display: block;
		}
	}
	
	h2 {
		padding-top:$tungsten-space-minus-3;
		padding-bottom:$tungsten-space-minus-3;
		display: none;
	}
	
	h3 {
		text-transform: uppercase;
		color: $tungsten-grey-plus-1;
		font-size: 0.8rem;
		font-weight: normal;
		padding-bottom: $tungsten-space-minus-2;
		border-top: 2px solid $tungsten-grey-plus-1;
		padding-top: $tungsten-space-minus-2;
		margin-top: $tungsten-space-minus-2;
	}
	
	// rounded corners for stage box
	.stage_box {
		border-radius: $tungsten-space-minus-4;
		
	}
	
	// Round the corners on history items
	.TMv_WorkflowHistoryItem {
		border-radius: $tungsten-space-minus-4;
	}
	
	// Hide the heading
	.move_to_stage_heading {
		display: none;
	}
	
	// Rounded corners on the next/previous buttons
	.TMv_WorkflowNextPrevious {
		margin-top:$tungsten-space-minus-2;
		.next_button, .previous_button {
			font-size:0.9rem;
		}
		
		.previous_button {
			border-top-left-radius: $tungsten-space-minus-1;
			border-bottom-left-radius: $tungsten-space-minus-1;
			padding-left:$tungsten-space-minus-3;
		}
		
		.next_button {
			border-top-right-radius: $tungsten-space-minus-1;
			border-bottom-right-radius: $tungsten-space-minus-1;
			padding-right:$tungsten-space-minus-3;
		}
	}
}
