.TSv_APIBrowser {

	$purple : #9F008B;
	$purple-light: #e2b3dc;
	$text-color: #333;
	
	$border: 1px solid #AAA ;
	$spacing: 10px;
	$big-spacing : #{$spacing * 2};
	
	font-size:12px;
	
	.api_module {
		border:$border;
		//padding:$spacing;
		margin-bottom: $big-spacing;
		
		p {
			color: $text-color;
		}
		
		
		h2 {
			border-bottom:$border;
			margin-bottom: $spacing;
			padding:$spacing;
			background:#AAA;
			color:#FFF;
			font-size:2em;
		}
		
		
		.setting_block {
			border-bottom: $border;
			padding-bottom: $big-spacing;
			margin: $spacing;
			
		}
		
		.call_details {
			display: block;
			padding:$spacing;
			
			&:hover {
				background:#DDD;
			}
			.expand {
				float: right;
				font-size:12px;
				text-transform: uppercase;
				display: block;
				padding-top:2px;
			}
		}
		
		.method {
			display: inline-block;
			text-transform: uppercase;
			font-weight: bold;
			color:$purple;
			padding-right: $spacing;
			
		}
		
		.path {
			display: inline-block;
			font-family: "Courier", 'Courier New', monospace;
			background:#EEE;
		}
		
		.description {
			padding-top:$spacing;
			padding-bottom: 0;
			margin: 0 $spacing;
		}
		
		.details_block {
			background-color: rgba($purple,0.05);
			border:1px solid $purple-light;
			padding:$spacing;
			display: none;
			margin: $spacing $spacing 0 $spacing;
			
			> p {
				padding-bottom: 0;
			}
			
			h3 {
				background: $purple-light;
				margin: -$spacing;
				padding:$spacing;
				margin-bottom: $spacing;
				color:$text-color;
				font-size:1.6em;
				
			}
		}
		
		.field_block {
			padding-bottom: $spacing;
			border-bottom:1px solid $purple-light;
			margin-bottom:$spacing;
			
			p {
				padding-bottom: 0;
			}
			
			&:last-child {
				padding-bottom: 0;
				border-bottom: 0;
				margin-bottom: 0;
			}
		}
		
		.field_title {
			display: flex;
			justify-content: space-between;
		}
		
		.field_id {
			font-family: "Courier", 'Courier New', monospace;
			margin-bottom:5px;
			font-size:14px;
			padding:3px 5px;
			display: inline-block;
			border: 1px solid $purple;
			color: $purple;
			background-color: rgba($purple,0.05);
			border-radius: 3px;
		}
		
		.type_title {
			text-transform: uppercase;
			font-size:11px;
			color:rgba($purple,0.5);
			padding-right: 5px;
		}
		
		.type_label {
			font-size:13px;
			text-transform: lowercase;
		}
	}
	
	.return_view {
		font-family: 'Courier','Courier New',monospace;
		line-height: 1.3em;
		font-size:1.3em;
		color:$text-color;
		
		.return_view {
			padding-left:20px;
			font-size: 1em;
			padding-bottom:15px;
		}
	}
}
