.TCv_RearrangableModelList {
	
	.rearrange_handle {
		color:#444444;
		&:hover {
			cursor: grab;
			color:#222222;
		}
	}
	
	.sortable-ghost {
	}
	
	// The row below that is being moved
	.sortable-chosen {
		background:#EEEEEE;
		opacity:0.8;
		
		}
	
	// The item being dragged, that remains in the list
	.sortable-ghost {
		background:#999999;
		
		.rearrange_handle {
			color:white;//#222222;
			
		}
		
	}
}