.TMv_WorkflowItemCommentBox {

}

// TUNGSTEN 9 STYLES
.tungsten_version_9 .TMv_WorkflowItemCommentBox {
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	h2 {
		display: none;
	}
	
	form.workflow_comment_form {
		// Reduce gaps
		.table_row {
			padding-bottom: $tungsten-space-minus-4;
		}
		
		#submit_container {
			// Move the button to the right
			display: flex;
			justify-content: flex-end;
			
			// Don't let the button move to the bottom
			input {
				position: static !important;
			}
		}
		
	}
	
	// hide that title
	.comment_page_title {
		display: none;
	}
	
	// add separator
	.comments_container {
		// insert the line above
		&:before {
			margin-top:$tungsten-space-minus-2;
			padding-bottom:$tungsten-space-minus-2;
			display: block;
			content:"";
			border-top:1px solid $white-plus-2;
			margin-left:-$tungsten-space;
			margin-right:-$tungsten-space;
		}
	}
	
	// RESTYLE THE BOXES
	
	.TMv_WorkflowComment {
		border-radius:$tungsten-space-minus-4;
		
		&.resolved {
			border-color: $tungsten-green;
			background: $tungsten-green-minus-4;
			.history_user,
			.history_date {
				color: $tungsten-green;
			}
		}
		
		// move it to be two smaller buttons
		.workflow_control_panel {
			height: auto;
			width: auto;
			display: flex;
			padding:$tungsten-space-minus-3;
			gap:$tungsten-space-minus-3;
			a {
				height: auto;
				background: none;
				color:black;
				border:0;
			}
			
			.comment_toggle_resolved {
				color:$tungsten-green;
				&:hover, &:focus {
					color:$tungsten-green-plus-1;
				}
			}
			
			.comment_delete {
				color:$tungsten-red;
				&:hover, &:focus {
					color:$tungsten-red-plus-1;
				}
			}
		}
		
		// make this full width
		.comment_box {
			margin-right:0;
		}
		
		
	}
}