/**
 * This file handles any calculations for the site that rely on theme-wide settings such as the width of the content container,
 or the gap between columns, or the side-gap for responsive. These require SASS calculations which also detect if a value is provided
 and if not found, it will use defaults of 1000px wide with 20px gaps.
 
 If these values are meant to be overridden, then they should be set in the main _theme_config.scss file and then this file
 must be loaded AFTER they are set.
 */


// The content-width-container WIDTH
$cwc-width : 1000px;
@if variable-exists(content-container-width) {
	$cwc-width: $content-container-width;
}


// The amount of edge space which should be applied to various locations but also used for calculating full-screen changes
$cwc-edge-space: 20px;
@if variable-exists(content-container-edge-space) {
	$cwc-edge-space: $content-container-edge-space;
}

// The column gaps
$cwc-column-gap: 20px;
@if variable-exists(layout-column-gap) {
	$cwc-column-gap: $layout-column-gap;
}

// The dimension that determines the single column switch point
$cwc-single-column-width : 750px;
@if variable-exists(single-column-width) {
	$cwc-single-column-width: $single-column-width;
}

// The dimension that determines the single column switch point
$cwc-small-device-width : 450px;
@if variable-exists(small-device-width) {
	$cwc-small-device-width: $small-device-width;
}

// Save the column gap
// Used in column calculations that aren't evenly spaced
:root {
	--cwc-column-gap : #{$cwc-column-gap};
}


// The switch point, which is when the styling changes
$content-container-width-switch-point : $cwc-width + $cwc-edge-space + $cwc-edge-space;



.TMv_PagesTheme .content_width_container {
	clear: left;
	margin-left:auto;
	margin-right:auto;
	width: $cwc-width;

	// Nested content_width_containers should respect their parent widths
	// Otherwise the 1000px fills the width no matter what, which extends past parent width
	div.content_width_container {
		width:100%;
	}

	// Handle embedded page builders which should continue to work appropriately
	.TMv_PageContentRendering div.content_width_container {
		width:$cwc-width;

		// Ensure that
		@media all and (max-width : $content-container-width-switch-point)
		{
			width:calc(100% - #{$cwc-edge-space * 2});
			padding-left:$cwc-edge-space;
			padding-right:$cwc-edge-space;
		}
	}
}



//////////////////////////////////////////////////////
//
// LAYOUTS AND FULL-WIDTH OPTIONS
//
//////////////////////////////////////////////////////


div.TMv_ContentLayout {
	
	// Set the gap on the contains for consistent spacing
	.cwc {
		gap: $cwc-column-gap;
	}
	
	// Full width styling
	&.extend_full_width > .content_width_container {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	
	// Handle margins
	&.extend_full_width_right {
		> .content_width_container {
			margin-right: 0;
			width: calc(100% - #{$cwc-edge-space});
		}
	}
	
	&.extend_full_width_left {
		> .content_width_container {
			margin-left: 0;
			width: calc(100% - #{$cwc-edge-space});
		}
	}
	
	// Left and right extension, requires calculations
	// Need to account for the content width
	@media only screen and (min-width: $content-container-width-switch-point) {
		
		&.extend_full_width_left,
		&.extend_full_width_right {
			
			> .content_width_container {
				width: calc(#{$cwc-width} + ((100% - #{$cwc-width}) / 2));
				
			}
		}
		
	
	}
	
	//// Handle when we're below the threshold for
	//@media only screen and (max-width: $content-container-width-switch-point) {
	//	&.extend_full_width_right {
	//		> .content_width_container {
	//			margin-right: 0;
	//			padding-right: 0;
	//		}
	//	}
	//
	//	&.extend_full_width_left {
	//		> .content_width_container {
	//			margin-left: 0;
	//			padding-left: 0;
	//		}
	//	}
	//}
	
}



//////////////////////////////////////////////////////
//
// SWITCH POINT
//
// Styles applied to less than the switch point
//////////////////////////////////////////////////////
@media all and (max-width : $content-container-width-switch-point)
{
	
	// Removed the !important tag. It's creates all kinds of problems
	.TMv_PagesTheme  div.content_width_container {
		width:calc(100% - #{$cwc-edge-space * 2});
		margin-left:$cwc-edge-space;
		margin-right:$cwc-edge-space;
		
		div.content_width_container {
			width:100%;
			margin-left:0px;
			margin-right:0px;
		}
	}
	
	
}


//////////////////////////////////////////////////////
//
// SINGLE COLUMN SETTINGS
//
// Styles applied to less than the switch point
//////////////////////////////////////////////////////
@media only screen and (max-width : $cwc-single-column-width)
{
	.TMv_ContentLayout.responsive_collapse_1 {
		
		> .cwc {
			//display: block; // turn off flex
			flex-direction: column; // switch to column mode
			
			
			> .content_column {
				width: 100% !important;
				float: none;
				clear: left;
			}
			
		}
	}
	
	
	div.TMv_ContentLayout.responsive_flip_order  .cwc {
		display: table;
	}
	
	div.TMv_ContentLayout.responsive_flip_order  .column_1 {
		display: table-footer-group;
	}
	
	div.TMv_ContentLayout.responsive_flip_order  .column_2 {
		display: table-header-group;
	}
	
	
	
	.TMv_ContentLayout_5Column {
		// PARTIAL 3-2
		&.responsive_collapse_2 {
			> .cwc {
				flex-wrap: wrap;
				
				> .column_1,
				> .column_2,
				> .column_3 {
					width: 33.33%;
				}
				
				> .column_4,
				> .column_5 {
					width: 50%;
				}
			}
		}
		
		// PARTIAL 2-3
		&.responsive_collapse_3 {
			> .cwc {
				flex-wrap: wrap;
				
				> .column_1,
				> .column_2 {
					width: 50%;
				}
				
				> .column_3,
				> .column_4,
				> .column_5 {
					width: 33.33%;
				}
			}
		}
		
		
		// PARTIAL 2-2-1
		&.responsive_collapse_4 {
			> .cwc {
				flex-wrap: wrap;
				
				
				> .column_1,
				> .column_2,
				> .column_3,
				> .column_4, {
					width: 50%;
				}
				
				> .column_5 {
					width: 100%;
				}
			}
		}
		
		// PARTIAL 1-2-2
		&.responsive_collapse_5 {
			> .cwc {
				flex-wrap: wrap;
				
				> .column_1 {
					width: 100%;
				}
				
				> .column_2,
				> .column_3,
				> .column_4,
				> .column_5, {
					width: 50%;
					
				}
			}
		}
		
	}
}

//////////////////////////////////////////////////////
//
// SMALL SCREEN SETTINGS
//
//////////////////////////////////////////////////////
@media only screen and (min-width: $cwc-small-device-width) and (max-width : $cwc-single-column-width) {
	.TMv_ContentLayout_4Column.responsive_collapse_1 {
		> .cwc {
			flex-wrap: wrap;
			flex-direction: row;
			
			> .content_column {
				display: flex !important; // force it to remain flex
				width: 50% !important;
				
			}
		}
	}
	
	.TMv_ContentLayout_4Column_To_1_1_2.responsive_collapse_1 {
		> .cwc {
			flex-wrap: wrap;
			flex-direction: row;
			
			> .column_1,
			> .column_2 {
				display: flex !important; // force it to remain flex
				width: 50% !important;
				
			}
			
			> .column_3 {
				width:100%;
			}
		}
	}
	
	.TMv_ContentLayout_4Column_To_2_1_1.responsive_collapse_1 {
		> .cwc {
			flex-wrap: wrap;
			flex-direction: row;
			
			> .column_1 {
				width:100%;
			}
			
			
			> .column_2,
			> .column_3 {
				display: flex !important; // force it to remain flex
				width: 50% !important;
				
			}
		}
	}
}