
//Necessary for page plugins that load external content such as Google Maps or YouTube videos

.TMv_PageBuilder .TMv_ContentLayoutBlock .responsive_iframe.page_content_item {
	min-height: 0px;
}


.responsive_iframe {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;


	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}