/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }

body {
	line-height: 1; }


blockquote, q {
	quotes: none; }

blockquote {
	&:before, &:after {
		content: '';
		content: none; } }

q {
	&:before, &:after {
		content: '';
		content: none; } }

table {
	border-collapse: collapse;
	border-spacing: 0; }


// Force FontAwesome SVG to respect fill color
svg.svg-inline--fa {
	
	> path, // paths
	> use { // symbols
		fill: currentColor;
		color:inherit; // turn off the color adoption
	}
}

// Screen Reader Only, used for items that should appear in screen readers but not in visible text
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

