$orange-juice : rgb(232, 136, 31);
.staging_message {
	padding:4px 8px;
	background:$orange-juice;
	color:#FFF;
	line-height: 1.2em;
	font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
	text-align: center;
	font-size:12px;
	
	&.localhost_message {
		background:#777;
	}
}

.staging_message svg {
	font-size:16px;
	margin-right:3px;
}
