@import "../../../../TCore/CSS/bourbon/bourbon";


.tungsten_spin {
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

.tungsten_loading_separate,
.tungsten_loading:not(.skip_tungsten_loading) {
	position: relative;
	
	&:before {
		content:"";
		background:rgba(255, 255, 255, 0.4);
		width:100%;
		height:100%;
		min-height:80px;
		display: block;
		z-index: 100;
		position: absolute;
		top:0;
		left:0;
		
		
	}
	
	
	
	&:after {
		content : url('/admin/pages/classes/themes/scss/circle-notch.svg');
		display: block;
		height:50px;
		width:50px;
		@include animation(tungsten_spin 2s infinite linear);
		position: absolute;
		top:calc(50% - 25px);
		left:calc(50% - 25px);
		font-size:50px;
		line-height: 50px;
		text-align: center;
		z-index: 200;
		background:none;
		
		
	}
	
	// Dark Mode
	&.dark {
		&:before {
			background:rgba(0, 0, 0, 0.4);
		}
		&:after {
			content : url('/admin/pages/classes/themes/scss/circle-notch-white.svg');
		}
		
	}
	
	
	@include keyframes(tungsten_spin) {
		0% {
			@include transform(rotate(0deg));
		}
		100%{
			@include transform(rotate(359deg));
		}
		
	}
	
}

// Special cases for loading separately
.tungsten_loading_separate {
	position: absolute !important;
	top:0px !important;
	left:0px !important;
	height:100% !important;
	width:100% !important;
	z-index: 250;
}

