
//////////////////////////////////////////////////////
//
// TUNGSTEN COLOURS
//
//////////////////////////////////////////////////////


$tungsten-blue : 	rgb(25, 112, 158);
$tungsten-dark-blue : #125172;


//////////////////////////////////////////////////////
//
// SPACING
//
//////////////////////////////////////////////////////
$tungsten-space-minus-4	: 4px;
$tungsten-space-minus-3	: 8px;
$tungsten-space-minus-2	: 16px;
$tungsten-space-minus-1	: 24px;
$tungsten-space			: 32px;
$tungsten-space-plus-1	: 64px;
$tungsten-space-plus-2	: 96px;


//////////////////////////////////////////////////////
//
// FORMS
//
//////////////////////////////////////////////////////
$form-field-font-size: 0.85em;
$form-dark-grey-color: #474543;
$form-near-white: #F5F5F5;
$form-light-grey : #DDDDDD;
$form-border-radius: 2px;