
a.TMv_SearchResultBox {
	display: flex;
	padding:5px 0px;
	border-bottom:1px solid #999;
	margin-bottom:2px;
	text-decoration: none;
	min-height: 30px;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	
	&:hover {
		opacity:0.7;
	}
	
	.search_icon_container {
		
		width:30px;
		height:30px;
		flex-grow: 0;
		
		img {
			width:100%;
			height: auto;
		}
		
		svg {
			width:24px;
			height:24px;
			padding:3px;
			//fill:$dark-blue;
		}
		
	}
	
	.explanation {
		display: block;
		padding-left: 10px;
		//padding-bottom:2px;
		flex-grow: 1;
	}
	
	.title {
		text-decoration: none;
		display: block;
	}
	
	.search_subtitle {
		display: block;
		font-size:0.9em;
		padding-top:2px;
		font-weight: normal;
		line-height: 1.2em;
	}
	
	.hl {
		background:#F0F0F0;
	}
	
	
}
