
	.TSv_InstallStep {
		width:700px;
		margin:0 auto;
		}
	
	#tungsten_main_content .TSv_InstallStep form {
		width:100%;
		}


	.TSv_InstallStep .big_button.success {
		background: #006600;
		color:white;
		border:1px solid #003300;
	}

	.TSv_InstallStep .big_button.success:hover {
		background: #008800;
		color:white;
	}

@media only screen and (max-width : 750px)
{		
	.TSv_InstallStep {
		width:100%;
		}
}

/**********************************************/
/*										   	  */
/*               LEFT COLUMN                  */
/*										   	  */
/**********************************************/
	.TSv_InstallStep #left_column {
	/*
	float:left;
		width:48%;
	
*/	}
		
/**********************************************/
/*										   	  */
/*               RIGHT COLUMN                 */
/*										   	  */
/**********************************************/
	.TSv_InstallStep #right_column {
	/* 	margin-left:52%; */
	/* 	background:#F6F6F6; */
	/*
	border:1px solid #BBBBBB;
		padding:10px;
	
*/	}

	.TSv_InstallStep #right_column h3 {
		color:#555;
		border-bottom:1px solid #555;
		margin-bottom:8px;
		margin-top:0px;
		font-size:18px;
		font-weight: normal;
		padding:0px 0px 8px 0px;
		}	
	
	
/**********************************************/
/*										   	  */
/*                PARAGRAPHS                  */
/*										   	  */
/**********************************************/
	p 	{	
		line-height: 1.4em;
		padding-bottom:8px;
		}
	p, p * {
		color:#333333;
		}
	.delete_setup_warning {
		color:#990000;
		} 
	p.no_bottom {
		padding-bottom:0px;
		}
	h2 {
		font-size:16px;
		font-weight: normal;
		line-height: 1.4em;
		border-bottom: 1px solid #666;
		margin-bottom: 10px;
	}
/**********************************************/
/*										   	  */
/*             SETUP CHECKLISTS               */
/*										   	  */
/**********************************************/
	.setup_checklist {
		width:100%;
		border-collapse: collapse;
		}
	.setup_checklist .title {
		width:180px;
		color:#333333;
		}
	.setup_checklist .result {
		width:70px;
		text-align: right;
		font-weight: bold;
		}	
	.setup_checklist .success .result {
		color: #009900;
		}
	.setup_checklist .failure .result {
		color: #990000;
		}
	.setup_checklist .fail_description, .setup_checklist .fail_description * {
		font-size:11px;
		line-height: 1.3em;
		color:#990000;
		}
	.setup_checklist td {
		padding-top:6px;
		}
	.setup_checklist td.fail_description {
		padding-top:2px;
		}
/**********************************************/
/*										   	  */
/*                BOTTOM BOX                  */
/*										   	  */
/**********************************************

	#setup_bottom_box {
		margin:10px 0 0 0;
		border:1px solid #BBBBBB;
		padding:7px 10px 7px 7px;
		clear:left;
		}
	#setup_bottom_box * {
		color:#333333;
		}
	
	#setup_bottom_box.success {
		border-color: #145E86;
		}
	#setup_bottom_box.success p {
		color:#145E86;
		}
		
	#setup_bottom_box.fail {
		border-color: #990000;
		}
	
	#setup_bottom_box.fail p {
		color:#990000;
		}
		
	#setup_bottom_box .action_button {
		float:right;
		}
	
	.action_button:hover img
	{
		opacity:0.8;
		filter: alpha(opacity = 80);
		}
	
	#setup_bottom_box p {
		font-size:16px;
		padding:10px 5px;
		margin:0px;
		}
	.right_skip {
		float:right; 
		margin:4px 0 20px 5px;
		}	
		
/**********************************************/
/*										   	  */
/*               ACTION BUTTON                */
/*										   	  */
/**********************************************/
	#control_bar {
		padding-top: 20px;
		}
	#control_bar .action_button {
		padding:12px 10px !important;
		}

	.action_button {
		text-align: left !important;
	}

	.action_button svg {
		float: right;
		font-size:18px;
		margin-top: -2px;
		display: block;
		height: 14px;
		width:22px;
		}
	
	.action_button:hover {
		}
		
	.action_button.fail {
		border-color: #900;
		color: #900;
		}
	
	.action_button.back_button  {
		text-align: right !important;
		}
		
	.action_button.back_button svg {
		float: left;
		}
	
	.action_button.two_column_1 ,
	.action_button.two_column_2 {
		width: calc(49% - 22px)
		}
	
	.action_button.two_column_1 {
		float: left;
		clear: left;
		}
	
	.action_button.two_column_2 {
		margin-left:51%;
		}
	
	.action_button.skip_button {
		margin-top:20px;
		border-color:#555;
		background:#BBB;
		color:#555;	
		}	
/**********************************************/
/*										   	  */
/*                LEFT MENUS                  */
/*										   	  */
/**********************************************/
	#install_menus .current_step a,
	#install_menus .current_step span {
		font-weight: bold;
		}
	