	
	.TCv_Messenger {
		margin:0px 0px 10px 0px ;
		border-width:1px;
		border-style:solid;
		border-color: #333333;
		padding:0px;
		border-radius: 3px;
	}

	.TCv_Messenger.hidden {
		display: none;
	}

	.TCv_Messenger_title {
		padding:5px 8px;
		color: #FFFFFF;
		background: #333333;
		font-weight: normal;
		text-transform: none;
		margin-bottom: 0px;
		
		}
	.TCv_Messenger_title ,
	.TCv_Messenger_title * {
		font-size: 16px;
		}
		
	.TCv_Messenger_message {
		padding: 5px 5px 3px 5px;
		font-weight: bold;
		line-height: 1.3em;
		}
	
	.TCv_Messenger .hide_button {
		float: right;

	}

	.TCv_Messenger .hide_button .link_icon  {
		color:#FFF;
	}

	/**********************************************/
	/*										   	  */
	/*                  LISTS                     */
	/*										   	  */
	/**********************************************/
	
	.TCv_Messenger ul {
		padding:5px 0px 2px 20px;
		}
	
	.TCv_Messenger ul li {
		padding-bottom: 3px;
		}
		
	/**********************************************/
	/*										   	  */
	/*                 FAILURE                    */
	/*										   	  */
	/**********************************************/
	
	
	.TCv_Messenger_failure {
		border-color: #990000;
		}
	
	.TCv_Messenger_failure .TCv_Messenger_title {
		background: #990000;
		}
	
	/**********************************************/
	/*										   	  */
	/*                 SUCCESS                    */
	/*										   	  */
	/**********************************************/
	
	.TCv_Messenger_success {
		border-color: #007B3D;
		}
	
	.TCv_Messenger_success .TCv_Messenger_title {
		background: #007B3D;
		}
	
	/**********************************************/
	/*										   	  */
	/*               FIELD NAMES                  */
	/*										   	  */
	/**********************************************/
	
	
	.TCv_Messenger .field_title {
		font-weight: bold;
		}