.TMv_WorkflowItemPeopleBox {
	$green: #009900;
	$dark-green: #006600;
	$dark-grey : #222;
	$light-grey: #BBB;
	
	label {
		display: none;
	}
	.value_column {
		label {
			display: flex;
			align-items: center;;
			border:1px solid $light-grey;

			&:hover {
				cursor: pointer;
				border-color:$dark-grey;
			}


			.button_restyle {
				display: block;
				//border: 2px solid rgba(#666, 1.0);
				background: rgba(#666, 0.2);
				width: 30px;
				height: 30px;
				position: relative;
				z-index: 10;
				margin:0px;
				flex-shrink: 0;
				padding:0px;

				svg.checkmark {
					display: none;
				}

			}

			.button_text {
				display: block;
				padding: 0px 5px;
				margin:0px;
				flex-grow: 1;
				font-size: 14px;
				line-height: 1.3em;
				color:#333;
			}
		}
	}
	
	
	input[type="checkbox"] {
		display: none;
	}
	
	input[type="checkbox"]:checked {
		
		~ label {
			border-color: $green;
			background: rgba($green, 0.1);
			opacity: 1.0;
			
			.button_restyle {
				border-color: $green;
				background: rgba($green, 0.2);
				
				svg.checkmark {
					display: block;
					margin: 0 auto;
					padding: 5px 0px 0px 0px;
					color: $green;
					height: 20px;
					width: 16px;
					
				}
				
			}
			
			&:hover {
				border-color:$dark-green;
			}
			
		}
		
	}
}