
	.TMv_WorkflowEmail * {
		font-size:14px;
		}
	
	.TMv_WorkflowEmail  a:link {
		color:rgb(100,0,100);
		text-decoration: underline;
		}
	
	.TMv_WorkflowEmail  a.big_button {
		display: inline-block;
		padding:8px 20px;
		border: 1px solid rgb(100,0,100);
		background-color: rgba(100,0,100,0.3);
		margin-bottom:10px;
		border-radius: 0px;
		text-decoration: none;
		}

	.TMv_WorkflowEmail  .highlight_block {
		border:1px solid #666;
		background: #EEE;
		padding:20px;
		margin-bottom:20px;
		}
	
	.TMv_WorkflowEmail  .disclaimer ,
	.TMv_WorkflowEmail  .disclaimer *{
		font-size:11px;
		line-height:1.3em;
		}