.TSv_FontAwesome_FormItem_SelectIcon .select_container{margin-left:30px}.TSv_FontAwesome_FormItem_SelectIcon .fa_preview_container{margin-top:-26px;display:block;height:20px;width:20px;padding:2px;background:#eee;border:1px solid #666}.TSv_FontAwesome_FormItem_SelectIcon .fa_preview_container svg{width:100%;height:100%}/*# sourceMappingURL=TSv_FontAwesome_FormItem_SelectIcon.css.map */
