.TSv_FontAwesome_FormItem_SelectIcon {

	// Move the select over
	.select_container {
		margin-left:30px;
	}
	
	// Move the preview up
	.fa_preview_container {
		//border:1px solid #474543;
		margin-top:-26px;
		display: block;
		height:20px;
		width: 20px;
		padding:2px;
		background: #EEE;
		border:1px solid #666;
		
		svg {
			width:100%;
			height: 100%;
		}
	}
}