.TMv_SearchResultsList {
	
	// Hide the filter list. It's just a search box and the checkboxes, which are already set
	.applied_filter_container {
			display: none !important;
			
		
		
	}
	
	#form_filter_search_row {
		.title_column {
			display: none;
		}
	}
	
	.TCv_ListColumn_icon {
		svg {
			width:20px;
			height: 20px;
		}
	}
	
	// The second row with each type of filter and checkboxes to interact with them
	#search_filter_types {
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-direction: row; // ensure it overrides any other styling
		
		// Stop them from expanding
		.table_row {
			flex-basis: auto !important;
			width: auto !important;
			flex-grow: 0;
		}
		
		.title_column {
			display: none;
		}
		
		.button_text svg {
			margin-right:4px;
			display: inline;
		}
		
		input:not(:checked) + label {
			opacity:0.6;
		}
		
		// The number shown in counts
		.search_result_count {
			display: inline-block;
			padding:2px 0px;
			margin-left:8px;
			background:rgba(0,0,0,0.2);
			border-radius: 4px;
			font-size:0.85em;
			
			// Fixed width to avoid jitter
			width: 30px;
			box-sizing: border-box;
			text-align: center;
			
			
		}
		
		.checkbox_label:hover {
			cursor: pointer;
		}
		
		
	}
	
	
	.subtitle {
		display: block;
		font-size: 0.9em;
		padding-top:2px;
	}
	
	// Query strings that are highlighted
	.hl {
		background:#BBB;
	}
	
}


// TUNGSTEN 9 Specific styling
.tungsten_version_9 .TMv_SearchResultsList {
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	#search_filter_types {
		padding-top: $tungsten-space-minus-2;
	}
	
	.TCv_FormItem_Checkbox .value_column > .form_item_container {
		border: 0;
		background: none;
		
		.button_text {
			font-size: 0.85rem;
		}
	}
	
}