
.TMv_PageRendererContentForm {
	
	#existing_class_selector {
		padding-top: 5px;
	}
	
	#existing_class_selector a {
		display: inline-block;
		padding: 5px;
		background: #75A9C5;
		border-radius: 2px;
		margin-right: 5px;
		color: #FFF;
		margin-bottom: 5px;
	}
	
	#existing_class_selector a:hover {
		background: #F37524;
	}
}