
	/* Each layout is a separate "row". It clears after each one*/
	.TMv_ContentLayout {


		clear: both;

		.TMv_ContentLayoutBlock {
			min-height: 1px;
		}

		&,
		.TMv_ContentLayoutBlock .layout_block_container {
			background-position: top center;
			-webkit-background-size: cover;
			background-size: cover;
			background-repeat: no-repeat;
			flex-grow: 1;
		}
		
	
	}
	
	div.TMv_ContentLayout .cwc  {
		display: flex;
		justify-content: space-between;
		
	}
	
	div.TMv_ContentLayout.full_height_row .cwc {
		
		.TMv_ContentLayoutBlock {
			display: flex;
			flex-direction: column;
			
			.layout_block_container {
				display: flex;
				flex-direction: column;
				
				// Last child stretches out to fill the space.
				// Only child will behave this way as well, filling the space, but avoiding weird gaps
				> .content_container:last-child {
					flex-grow: 2;
				}
			}
			
		}
		
		
	}
	