.TMv_NoContentPreview {
	background: rgba(150, 150, 150, 0.6);
	text-align: center;
	padding: 40px 10px;
	
	
	svg {
		display: block;
		font-size: 40px;
		padding-bottom: 10px;
		color: #555;
		margin: 0 auto;
	}
	
	span {
		font-size: 16px;
		color: #555;
		padding-bottom: 10px;
		display: inline-block;
	}
	
	p {
		padding-bottom: 0px;
	}
	
	p, p * {
		color: #555;
		letter-spacing: normal;
		font-size: 13px !important;
	}
	
	.no_content_preview {
		border:1px solid #999999;
		margin-top:8px;
		padding:8px;
		color:#555555;
		font-size:14px;
	}
}

.dark {
	.TMv_NoContentPreview {
		background: rgba(255, 255, 255, 0.3);
		
		span, svg {
			color:#FFF;
		}
	}
}