
	.TMv_EditMenuItemForm #content_entry_row span.radio_button_option_box {
		float: none;
		padding-bottom:3px;
		}
	
	.TMv_EditMenuItemForm #target_page_link {
		display: block;
		padding-top:5px;
		font-size:0.8em;
	}