.TMv_HeaderSearchLink {
	$spacing:10px;
	
	#header_search_flyout {
		border: 1px solid #aaa;
		border-top:none;
		background:#FFF;
		padding:$spacing;
		overflow: auto;
		position: absolute;
		right:10px;
	//	top:42px; // automatic is preferred, or override in extensions
		z-index: 1000;
		display: none;
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

		input {
			height:29px;
		}
		

		@media only screen and (max-width : 600px)
		{
			right: 0;
		}

	}

	#header_search_flyout_search_form_results {
		overflow: auto;
		max-height:350px;
	//	color: #999;
		padding-top:$spacing;
		
		&:empty {
			padding-top: 0; // avoid the padding
		}

		.TMv_SearchResultBox {
			display: flex;
		}

		@media only screen and (max-width : 600px)
		{
			max-height: none;
		}
	}
}