@import "../scss/reset";
@import "../scss/content_width_container";
@import "../scss/responsive_iframe";
@import "../scss/tungsten_loading";

$font-stack : Arial, sans-serif;
$primary-color : #333;
$inverted-color : #F0F0F0;
$single-column-width : 750px;

// START PAGES THEME WRAPPER
.TMv_PagesTheme {
	
	////////////////////////////////////////////////
	//
	// BASIC ELEMENT STYLES
	//
	// Styles for paragraphs, headings, etc
	//
	////////////////////////////////////////////////
	
	* {
		font-family: $font-stack;
		letter-spacing: 0.5px;
		color: $primary-color;
	}
	
	
	////////////////////////////////////////////////
	//
	// CONTENT LAYOUT ELEMENT STYLES
	//
	// Styles for elements that require specific attention within
	// a content layout.
	//
	////////////////////////////////////////////////
	
	h1 {
		font-size: 30px;
		font-weight: normal;
		padding-bottom: 8px;
	}
	
	.TMv_ContentLayout {
		
		p, li {
			font-size: 14px;
			line-height: 1.3em;
			padding-bottom: 12px;
			
			* {
				font-size:inherit;
			}
		}
		
		h2 {
			font-size: 24px;
			font-weight: normal;
			padding-bottom: 8px;
		}
		h3 {
			font-size: 18px;
			padding-bottom: 8px;
		}
		
		ul, ol {
			padding-left: 30px;
			padding-bottom:12px;
			
			ul, ol {
				padding-bottom:0px;
				padding-top:10px;
			}
		}
		
		
		table {
			width: 100%;
			
			th, td {
				border: 1px solid $primary-color;
				padding: 3px;
				font-size: 12px;
			}
			
		}
		
		.TMv_ContentLayoutBlock {
			padding-bottom:20px;
		}
		
	}
	
	////////////////////////////////////////////////
	//
	// HEADER
	//
	// Styles for the header
	//
	////////////////////////////////////////////////
	
	header {
		background: $primary-color;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	
	#page_title {
		display: inline-block;
		height: 50px;
		vertical-align: middle;
		color: $inverted-color;
		line-height: 1.2em;
		text-transform: uppercase;
		font-size:30px;
	}
	
	@media only screen and (max-width: $single-column-width) {
		
		
		#page_title {
			display: block;
		}
	}
	
	.TMv_PageContentHeader {
		margin-bottom:30px;
		border-bottom:1px solid $primary-color;
		background-size: cover;
		background-position: top center;
		
		> div {
			background:rgba(0,0,0,0.4);
		}
		
		div, p, h1 {
			color: #FFF;
			
		}
		
		#header_page_title {
			padding-top:40px;
		}
		
		#header_page_description p {
			font-size:16px;
			padding-bottom:40px;
		}
	}
	
	////////////////////////////////////////////////
	//
	// MAIN MENUS
	//
	// The top-level navigation for the theme
	//
	////////////////////////////////////////////////
	
	
	// EXTEND BASIC STYLING - main menus
	#main_menus {
		
		li {
			
			a {
				color: $inverted-color;
				padding: 0px 0px 5px 0px;
				margin-right: 20px;
				font-family: 'Overpass', 'Arial', sans-serif;
				display: block;
				border-bottom: 2px solid $primary-color;
				text-decoration: none;
			}
			
			&.highlight_menu > a {
				border-bottom: 2px solid $inverted-color;
			}
			
		}
	}
	
	////////////////////////////////////////////////
	//
	// SUB-LEVEL MENUS
	//
	// The menus that appear below the main level of navigation
	//
	////////////////////////////////////////////////
	
	#submenus {
		list-style: none;
		background: rgba($inverted-color, 0.3);
		padding: 0px 0px;
		border-top: 1px solid $inverted-color;
		
		li {
			display: inline-block;
		}
		
		li a {
			text-decoration: none;
			color: $inverted-color;
			padding: 10px 10px;
			font-size: 14px;
			display: block;
			font-weight: 300;
		}
		
		li.highlight_menu > a {
			background: rgba($inverted-color, 0.2);
		}
		
	}
	
	////////////////////////////////////////////////
	//
	// MOBILE NAVIGATION
	//
	// The mobile navigation settings
	//
	////////////////////////////////////////////////
	@import "../../../../pages/classes/views/TMv_PagesTheme/css_partials/mobile_navigation";
	
	#mobile_menu_toggle {
		color: $inverted-color;
		background: $primary-color;
		padding: 15px;
		right: 0px;
		top: 0px;
		
		.link_icon {
			color: $inverted-color;
		}
	}
	
	// EXTEND BASIC STYLING - navigation that appears
	// Specifiers set to ensure these override the existing styles in place
	&.mobile_navigation_showing  ul#main_menus {
		background:#F0F0F0;
		padding:10px;
		width:calc(100% - 20px);
		height:calc(100% - 20px);
		background: rgba($primary-color, 0.8);
		
		// Each level deeper
		ul {
			display: block;
			position: static;
			padding: 0 0 0 15px;
		}
		
		li {
			display: block;
			
		}
		
		a {
			padding: 8px 0px 8px 5px;
			line-height: 1em;
		}
		
		a:hover {
			background: rgba($inverted-color, 0.2);
			border-bottom: 0;
			
		}
	}
	
	
	
	////////////////////////////////////////////////
	//
	// BREADCRUMBS
	//
	////////////////////////////////////////////////
	
	.TMv_PagesBreadcrumbHeading {
		border-top: 1px solid #FFF;
		padding-top: 15px;
		padding-bottom: 10px;
		font-size: 20px;
		
		a,
		.separator {
			display: inline-block;
		}
		
		a {
			text-decoration: none;
			padding-left: 10px;
			border-left: 2px solid #999;
			margin-left: 10px;
			color: #FFF;
		}
		
		a:hover {
			color: #FFC907;
		}
		
		a:first-child {
			padding-left: 0px;
			border-left: none;
			margin-left: 0px;
		}
		
		.separator {
			display: none;
		}
		@media only screen and (max-width: $single-column-width) {
			margin-top: 0px;
		}
	}
	
	
	
}
