.TSv_AccessDenied {
	max-width:800px;
	margin:80px auto;
	border: 2px solid #900;
	clear: both;
	
	
	.main_title {
		font-size:16px;
		background-color: #990000;
		color: #FFFFFF;
		padding: 8px;
		margin-bottom: 5px;
		//text-transform: uppercase;
		font-weight: normal;
		
		}
		
	.explanation {
		line-height: 1.3em;
		font-size:1rem;
		padding:8px;
		}

	&.blue {
		border-color:#074A6C;
		
		.main_title {
			background-color:#074A6C;
		}
	}

	

	@media only screen and (max-width : 824px)
	{
	//	width:calc(100% - 4px);
	}
}

.tungsten_version_9 .TSv_AccessDenied {
	&.primary_content {
		padding-left:0;
		padding-right:0;
		background-color: white;
		flex-grow:0;
		margin-left:16px;
		margin-right:16px;
	}
}