.TSv_AccessDenied{max-width:800px;margin:80px auto;border:2px solid #900;clear:both}.TSv_AccessDenied .main_title{font-size:16px;background-color:#900;color:#fff;padding:8px;margin-bottom:5px;font-weight:normal}.TSv_AccessDenied .explanation{line-height:1.3em;font-size:1rem;padding:8px}.TSv_AccessDenied.blue{border-color:#074a6c}.TSv_AccessDenied.blue .main_title{background-color:#074a6c}.tungsten_version_9 .TSv_AccessDenied.primary_content{padding-left:0;padding-right:0;background-color:#fff;flex-grow:0;margin-left:16px;margin-right:16px}/*# sourceMappingURL=TSv_AccessDenied.css.map */
