$tungsten_blue :#19709E;
$indent : 20px;
$transition_time : 0.15s;
$toggle_color :#BBB;

// push to the edges
div#tungsten_main_content {
	padding-left:0px;
	padding-right:0px;
}

	.TMv_PagesMenuManager {
		list-style: none;
		padding-left:24px; // moves to deal with offset show/hide buttons
		font-size: 0.75em;
		
		ul {
			list-style: none;
		}

		li {
			border-top: 1px solid #e0e0e0;
			padding: 0px;

			//&.invisible * {
			//	color: #666;
			//}
			
			&.deactivated {
				background: #ffe9e6;
			}
			
			&.content_entry_redirect_to_menu > .row_box *,
			&.content_entry_redirect > .row_box * {
				color: #75A9C5;
			}

			&.content_entry_class_method > .row_box * {
				color: #444;
			}

			/* First level of navigation */
			.child_0 {
				border-color: #999;
			}

			ul {
			}
			ul .row_box {
			}

			ul:empty {
				padding-top: 0px;
			}
			ul li {
				border-right: none;
			}

			ul {
				padding-left: $indent;
			}

			.list_control_button {
				width: 26px;
				padding: 0px;
			}

			.list_control_button:hover {
				color: #E8881F;
			}

			&.hover > .row_box,
			&.hover_parent > .row_box {
				background-color: rgba(25, 112, 158, 0.1);
				transition: background-color $transition_time;
			}

			.row_box {
				padding-bottom: 8px;
				padding-top: 8px;
				//vertical-align: top;
				position: relative;
				display: flex;
				align-items: center;
			}
			.row_box > a,
			.row_box > span {
				vertical-align: middle;
			}

			.title_link {
				width: calc(100% - 40vw - 150px);
				display: inline-block;
				font-size: 16px;
				padding-left: 3px;
				
				// Lighten items that have no access
				&.no_access {
					color:#666;
				}
			}
			
			&.no_children .title_link {
				width: calc(100% - 40vw - 150px);
				
			}

			a.title_link:hover,
			a.folder_text:hover {
				color: #e8881f;
				transition: color $transition_time;
				
			}

			.folder_text {
				width: 25vw;
				padding-right: 20px;
				display: inline-block;
		
				&.model_list_folder_block {
					color:#666;
					line-height: 1.3em;
				}
			}
			
			.visibility_block {
				width :calc(15vw + 19px);
				overflow: hidden;
				display: inline-block;
				line-height: 1.4em;
			 	svg{
					padding-right:3px;
					width:16px;
					height:14px;
					margin-bottom:-1px;
				}
				
				.nav_type {
					padding-bottom: 4px;
				}
				
			}
			
			
			.rearrange_handle {
				color: #444;
				//margin-left: 4px !important;
				//padding-left: 2px;
				//padding-right: 4px;
				width: 20px;
				display: none;
				overflow: hidden;
				svg {
					font-size: 15px;
					margin-right:0px;
				}
			}

			.rearrange_handle:hover {
				color: #e8881f;
				cursor: grab;
			}

			a.rearrange_handle:active {
				color: #900;
				cursor: grabbing;
			}

			
			.show_hide_link {
				text-align: center;
				width: 16px;
				height: 12px;
				display: inline-block;
				padding:4px 0px 2px 2px;
				//-webkit-border-radius: 2px;
				//-moz-border-radius: 2px;
				//border-radius: 2px;
				margin-left:-20px;
				color:$toggle_color;
			
				
				
			}
			
			&.submenu_hidden > .row_box .show_hide_link,
			&.has_children > .row_box .show_hide_link:hover {
				background: $toggle_color;
				color:#FFF;
				
				svg {
					color:#FFF;
				}
				
			}
			
			

			&.no_children > .row_box .show_hide_link svg {
				display: none;
			}

			// &.submenu_hidden > .row_box .show_hide_link::before {
			//	content: "\f054"; /* 054 is chevron left, 078 is chevron down */
			//}
			
			&.submenu_hidden {
				
				// Make the arrow point to the right
				> .row_box > .show_hide_link svg {
					transform: rotate(-90deg);
				}
				
				> ul {
					display: none;
				}
				
				&:after {
					content:" ";
					//width:100%;
					background: #e0e0e0;
					padding:2px;
					display: block;
					height:3px;
					margin-left:$indent;
				}
			}
				
			&.new_menu_item {
				background-color: rgba(0, 200, 0, 0.15);
			}

			// Correct vertical spacing
			.flags_button {
				padding:2px 0px;
			}
			
		}
		
		.model_list_navigation_note,
		.content_entry_details {
			display: block;
			padding-top: 5px;
			font-size:0.85em;
		}

		// Handles the rearranging settings being enabled
		&.rearranging {
			
			.visibility_block {
				width :15vw;
			}
			
			.rearrange_handle {
				display: block;
			}
			
			// The row below that is being moved
			.sortable-chosen {
				background:#EEEEEE;
				opacity:0.8;
				
			}
			
			// The item being dragged, that remains in the list
			.sortable-ghost {
				background:#999999;
				
				.rearrange_handle {
					color:white;//#222222;
					
				}
				
			}
			
		}

	}
	
	//////////////////////////////////////////////////////
	//
	// COLLAPSED FORMAT
	//
	//////////////////////////////////////////////////////



	@media only screen and (max-width : 700px)
	{
		.TMv_PagesMenuManager li .title_link {
			width:calc(100% - 230px);
			}
		.TMv_PagesMenuManager li.no_children .title_link {
			width:calc(100% - 230px);
		}
		
		.TMv_PagesMenuManager li .folder_text {
			display: none;
			}
		
	}
	
	
	//////////////////////////////////////////////////////
	//
	// WORKFLOW
	//
	// Styles related to the optional Workflow module
	// Which adds a column to the page layout
	//
	//////////////////////////////////////////////////////
	// Adds 15 vw to the entire layout

	.TMv_PagesMenuManager .workflow_container {
		width: 15vw;
		display: inline-block;
		}
	
	.TMv_PagesMenuManager.uses_workflow li .title_link {
		width: calc(100% - 55vw - 150px);
		}
	
	//.TMv_PagesMenuManager.uses_workflow li.no_children .title_link {
	//	width: calc(100% - 55vw - 150px);
	//}
	
	@media only screen and (max-width : 700px) {
		.TMv_PagesMenuManager .workflow_summary_box .workflow_details {
			display: none;
		}
		
		.TMv_PagesMenuManager.uses_workflow li .title_link {
			width: calc(100% - 25vw - 160px);
		}
		
		//.TMv_PagesMenuManager.uses_workflow li.no_children .title_link {
		//	width: calc(100% - 25vw - 130px);
		//}
	}


	//////////////////////////////////////////////////////
	//
	// SIMPLE VIEW
	//
	// The simple view that shows less options, no sorting, etc
	//
	//////////////////////////////////////////////////////

	.TMv_PagesMenuManager.simple_view {

		li .folder_text,
		li .rearrange_handle {
			display: none;
		}

		li .title_link {
			width: calc(100% - 65px) !important;
			/*padding-left:12px;*/
		}

		.add_submenu_button,
		.delete_content_button,
		.toggle_visibility_button {
			display: none;
		}
		
		&.uses_workflow {
			
			// Change it to not be in vw widths
			li .workflow_container {
				width:calc(50% - 75px) !important; // title is 50%, then subtract the show/hide, pencil, gear
			}
			
			li .title_link {
				width: 50% !important;
			}
			
			.workflow_details {
				display: none;
			}

		}
	}
	