//  COLOUR GUIDE

// BLACKS
// ------------------
// Normal	: #191613
// 80%		: #474543
//
// BLUE
// ------------------
// Dark 140%	: #074A6C rgb(7, 74, 108)
// Dark 120%	: --#145E86 rgb(20, 94, 134) // replaced by $tungsten-blue-plus-1
// --Normal--	: ---- #19709E rgb(25, 112, 158)
// Light 80%	: #478CB1
// Light 60%	: #75A9C5
// Light 40%	: #A3C6D8
// Light 20% 	: #D1E3EC
// Light 10%	: #E8F1F5
//
// ORANGE
// ------------------
// Orange Rind	: #F37524 rgb(243, 117, 36)
// Orange Juice: $orange-juice rgb( 	232, 136, 31)
// OJ 10%		: #FDF3E9
// Sunshine	: #FFC907
// Sunshine 50%: #FFE483
//


//$tungsten-blue : 	rgb(25, 112, 158);
$orange-rind : rgb(243, 117, 36);
$orange-juice : rgb(232, 136, 31);



@import "../../../../TCore/CSS/bourbon/bourbon";
@import "../../../../pages/classes/themes/scss/reset";
@import "../../../../pages/classes/themes/scss/content_width_container";
@import "../../../../pages/classes/themes/scss/responsive_iframe";
@import "../../../../pages/classes/themes/scss/tungsten_loading";



@import "css_partials/tungsten_style_config";

//////////////////////////////////////////////////////
//
// RESET.CSS
//
// This file is used to reset a wide range of
// CSS properties that make for more consistent
// site development
//
//////////////////////////////////////////////////////




// remove image borders
img {
	border:0;
}

// remove padding and margin from various items
p, blockquote, ul, ol, div, h1, h2, h3, h4 {
	margin:0;
	padding:0;
	line-height: 1em;
}

sup {
	font-size:x-small;
}
/* remove outline from link  */
a, a:hover, a:active {
	outline: none;
}

input, select, textarea {
	margin:0;
}


//////////////////////////////////////////////////////
//
// SCROLLBARS
//
//////////////////////////////////////////////////////

@mixin tungsten-scrollbars {
	// Scrollbars
	
	// FireFox settings which don't seem to work but no harm in setting
	scrollbar-color:$tungsten-blue transparent;
	scrollbar-width: $tungsten-space-minus-3;
	
	&::-webkit-scrollbar {
		background: transparent;
		width: $tungsten-space-minus-3;
	}
	
	&::-webkit-scrollbar-thumb {
		background:$tungsten-blue;
		border-radius: $tungsten-space-minus-3;
	}
	
}

// Sets the scrollbars to take up some width but to not show any scroll
@mixin tungsten-scrollbars-hidden-width {
	// Scrollbars
	
	// FireFox settings which don't seem to work but no harm in setting
	scrollbar-color:transparent transparent;
	scrollbar-width: $tungsten-space-minus-3;
	
	&::-webkit-scrollbar {
		background: transparent;
		width: $tungsten-space-minus-3;
	}
	
	&::-webkit-scrollbar-thumb {
		background:transparent;
	}
	
}

//////////////////////////////////////////////////////
//
// SITE TEMPLATE
//
//////////////////////////////////////////////////////

// Required height increases in order to ensure full screen no matter what
html, body, #site_container {
	height: 100%;
	margin:0;
}



#site_container {
	display: flex;
	//background:green;
	flex-direction: column;
}


//////////////////////////////////////////////////////
//
// GENERAL STYLES
//
//////////////////////////////////////////////////////



.TSv_Tungsten9 {
	
	font-family: $tungsten-font-family;
	font-weight: 300;
	a {
		color: $tungsten-blue-plus-1;
		text-decoration: none;
		
		&:hover, &:focus {
			color: $tungsten-orange-plus-1;
			opacity:1;
		}
	}
	
	img {
		border: 0px;
	}
	
	p {
		padding-bottom: 12px;
		line-height: 1.3em;
	}
	
	h2 {
		font-size: 16px;
		padding-bottom: 5px;
		font-weight: normal;
		
	}
	
	h3 {
		font-size: 12px;
		padding-bottom: 3px;
	}
}

//////////////////////////////////////////////////////
//
// TOP BAR TEXT AND LINKS
//
//////////////////////////////////////////////////////


#tungsten_header_top {
	border-bottom:1px solid $tungsten-blue-minus-1;

	background-image:url('/admin/system/classes/views/TSv_Tungsten9/images/Tungsten_Logo_v9.svg');
	background-size: auto 70%;
	background-position: $tungsten-space-minus-3 center;
	background-repeat: no-repeat;
	
	text-align:right;
	padding-right:0px;
	font-size:0.85rem;
	font-weight:300;
	color:#FFFFFF;
	background-color: #FFF;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	
	.TMv_TungstenSearchForm {
		
		.title_column {
			display: none; // hide it. gets in the way
		}
		
		// Make them all fill the space
		.TCv_FormItem_SubmitButton,
		.value_column
		{
			height: 100%;
		}
		
		.form_table {
			border-radius: $tungsten-space-minus-1;
			overflow: hidden;
		}
		input[type="search"] {
			border-bottom-left-radius: $tungsten-space-minus-1;
			border-top-left-radius: $tungsten-space-minus-1;
			padding:$tungsten-space-minus-4 $tungsten-space-minus-2;
			font-size:0.85rem;
			font-family: $tungsten-font-family;
			font-weight: 300;
			border: 1px solid $tungsten-blue;
		}
		
		button {
			padding:$tungsten-space-minus-4 12px $tungsten-space-minus-4 10px; //eye-balled to deal with rounding
			//border-bottom-right-radius: $tungsten-space-minus-1;
			//border-top-right-radius: $tungsten-space-minus-1;
			border-radius:  0 $tungsten-space-minus-1 $tungsten-space-minus-1 0 ;
			height: 100%;
			box-sizing: border-box;
			background: $tungsten-blue;
			
			&:hover {
				
				background: $tungsten-blue-plus-1;
			}
			
		}
	}
}


//////////////////////////////////////////////////////
//
// CONTROL BUTTONS
//
//////////////////////////////////////////////////////



#control_buttons {
	padding: 10px 10px 10px 0px; /* top was 32px */
	min-height: 35px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	a {
		display: flex;
		color: $tungsten-grey;
		padding: $tungsten-space-minus-3 $tungsten-space-minus-2;
		
		svg {
			margin-right: $tungsten-space-minus-3;
		}
		
		&:hover, &:focus {
			color:$tungsten-grey-plus-2;
			
			
		}
		
		&#control_user_name {
			&:hover, &:focus {
				svg {
					outline:1px solid $tungsten-grey-plus-2;
					border-radius: 50%;
					outline-offset: 1px;
				}
			}
			
			&.impersonation {
				background:$tungsten-orange;
				border-radius: $tungsten-space-minus-1;
				margin-right:$tungsten-space-minus-3;
				margin-left:$tungsten-space-minus-3;
				color:white;
				
				&:hover, &:focus {
					background:$tungsten-orange-plus-1;
					svg {
					outline:none;
					}
				}
			}
			
			
			
		}
	}
	
	// Switch the order on the icons an button for the sign out button
	#tungsten_sign_out_button {
		background: $white-plus-2;
		border-radius: $tungsten-space-minus-1;
	//	padding-left:$tungsten-space-minus-2 ;
	//	padding-right:$tungsten-space-minus-2 ;
		svg {
			order:2;
			margin-left: $tungsten-space-minus-3;
			margin-right:0;
		}
		
		&:hover, &:focus {
			background-color:$tungsten-grey-minus-2;
			
		}
	}
	
}

#control_buttons #control_user_name {
}

//#control_buttons a:hover ,
//#control_buttons #control_user_name:hover {
//	color:$orange-juice;
//	}



//#control_buttons .has_notification {
//	color:#900;
//	}
//
//#control_buttons .system_update_icon {
//	display: inline-block;
//	color:#FFF;
//	background:#900;
//	padding:2px 4px;
//	margin-left:4px;
//	text-align: center;
//	border-radius: 2px;
//	-moz-border-radius: 2px;
//	-webkit-border-radius: 2px;
//	line-height: 11px;
//	font-size: 11px;
//
//	}




//////////////////////////////////////////////////////
//
// STAGING FLAGGING
//
//////////////////////////////////////////////////////

@import "../../../../pages/classes/themes/scss/staging_header";

//////////////////////////////////////////////////////
//
// MODULE BUTTON
//
//////////////////////////////////////////////////////


#tungsten_module_bar {
	list-style:none;
	padding:0;
	margin:0;
	
	/* 		float: left; */
	width:100%;
	background: linear-gradient(to bottom, #FFF 0%, #D1E3EC 100%) ;
	//height: 50px;
	clear: both;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
	overflow: hidden; // addresses calculation offsets that can lead to weird issues with spacing
	
}

#tungsten_module_bar li {
	//display: block;
	//float: left;
	//height:100%;
	border-bottom: 1px solid #478CB1;
	height:50px;
	padding:0px;
	flex-grow: 1;
	flex-shrink:1;
}

#tungsten_module_bar.num_modules_1 {		display:none; } /* Only one, don't even show it */
//#tungsten_module_bar.num_modules_2 li {		width:50%; }
//#tungsten_module_bar.num_modules_3 li {		width:33.333333%; }
//#tungsten_module_bar.num_modules_4 li {		width:25%; }
//#tungsten_module_bar.num_modules_5 li {		width:20%; }
//#tungsten_module_bar.num_modules_6 li {		width:16.666666%; }
//#tungsten_module_bar.num_modules_7 li {		width:14.285714%; }
//#tungsten_module_bar.num_modules_8 li {		width:12.5%; }
//#tungsten_module_bar.num_modules_9 li {		width:11.111111%; }
//#tungsten_module_bar.num_modules_10 li {	width:10%; }
//#tungsten_module_bar.num_modules_11 li {	width:9.090909%; }
//#tungsten_module_bar.num_modules_12 li {	width:8.333333%; }
//#tungsten_module_bar.num_modules_13 li {	width:7.69%; }
//#tungsten_module_bar.num_modules_14 li {	width:7.14%; }
//#tungsten_module_bar.num_modules_15 li {	width:6.666666%; }
//#tungsten_module_bar.num_modules_16 li {	width:6.25%; }



#tungsten_module_bar.num_modules_greater_6 li a {
	/* 		height: 29px; */
	font-size:11px;
}

@media only screen and (max-width : 800px) {
	
	#tungsten_module_bar {
		
		&.num_modules_9 ,
		&.num_modules_10,
		&.num_modules_13,
		&.num_modules_14,
		&.num_modules_15
		{
			li {
				width: 20%;
			}
		}
		
		&.num_modules_11 ,
		&.num_modules_12 ,
		&.num_modules_16 ,
		&.num_modules_17 ,
		&.num_modules_18 {
			li {
				width: 15%;
			}
		}
	}
	
	
}

// big numbers, split them
@media only screen and (min-width : 800px) {
	#tungsten_module_bar {
		
		&.num_modules_13,
		&.num_modules_14
		{
			li {
				width: 14.28%; // 7 and 6
			}
			
		}
		
		&.num_modules_15,
		&.num_modules_16
		{
			li {
				width: 12.5%;
			}
		}
		
		&.num_modules_17 ,
		&.num_modules_18 {
			li {
				width: 11%;
			}
		}
	}
}

// big numbers, split them really wide screen
@media only screen and (min-width : 1200px) {
	#tungsten_module_bar {
		
		&.num_modules_13,
		&.num_modules_14 {
			li {
				width: 7.14%; // full width
			}
			
		}
		
		
		
		
	}
}

// big numbers, split them really wide screen
@media only screen and (min-width : 1400px) {
	#tungsten_module_bar {
		
		&.num_modules_15,
		&.num_modules_16 {
			li {
				width: 6.25%;
			}
		}
	}
}


#tungsten_module_bar a {
	display:inline-block;
	padding:7px 1px 5px 1px ;
	font-size:12px;
	border-left:1px solid #A3C6D8;
	width:100%;
	width: calc(100% - 3px);
	text-align: center;
	overflow: hidden;
	height: calc(100% - 12px);
}

// ICONS
#tungsten_module_bar a svg {
	font-size:17px;
	line-height: 12px;
	display: block;
	padding-bottom: 6px;
	padding-top:2px;
	margin :0 auto;
}
#tungsten_module_bar li:first-child a {
	border-left:none;
	width:calc( 100% - 2px);
}

#tungsten_module_bar a:link, #tungsten_module_bar a:visited {
	color: $tungsten-blue;
	
}

#tungsten_module_bar a:hover {
	background: #FFF;
	color:$orange-juice;
}

#tungsten_module_bar a.current {
	background-image:none;
	@include linear-gradient(to bottom,  #75A9C5, #a3c6d8);
	height:39px;
	color:#FFF;
	border-left:1px solid #478cb1;
	border-right:1px solid #478cb1;
	border-top:1px solid #478cb1;
	width:calc(100% - 2px);
	position: relative;
	//z-index: 2;
	margin-top:-1px;
	
}
#tungsten_module_bar li:last-child a.current {
	border-right:none;
	width:calc(100% - 3px);
}

//////////////////////////////////////////////////////
//
// MOBILE BUTTON
//
//////////////////////////////////////////////////////

#tungsten_mobile_toggle {
	display: none;
	padding: 8px 10px;
	background: #222;
	background:  linear-gradient(#222 0%, #444 50%, #222 100%);
	color: #FFF;
	font-size:14px;
	text-transform: uppercase;
	border-top:1px solid #111;
	text-shadow: 0 0 2px #000;
	
}
#tungsten_mobile_toggle.showing {
	background: #444;
	background:  linear-gradient(#444 0%, #555 50%, #444 100%);
}

//////////////////////////////////////////////////////
//
// HELP VIEWS
//
//////////////////////////////////////////////////////

#help_view_container {
	display: none;
	border:2px solid $orange-rind;
	margin-bottom: 20px;
	border-radius: 3px;
}

#help_view_container #help_close_button {
	float: right;
	font-size:24px;
	color:#FFF;
}

#help_view_container .help_view_title {
	background:$orange-rind;
	color: #FFF;
	padding:8px;
}

#help_view_container #help_heading_content {
	display: inline-block;
	font-size:16px;
	padding:5px 0px;
}

#help_view_container .help_view_title .fa-question-circle {
	display: block;
	padding-right: 10px;
	font-size:26px;
	float: left;
}

#help_view_container .help_view_contents {
	padding:10px;
}

#help_view_container .help_view_contents h2 {
	padding-bottom:10px;
}
#help_view_container .help_view_contents h3 {
	border-bottom: 1px solid #999;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 6px;
	padding-bottom: 6px;
	padding-top: 10px;
	//  text-transform: uppercase;
}

#help_view_container .help_view_contents  {
	
	ol, ul {
		margin-left: 20px;
		
		li {
			padding-bottom: 6px;
			line-height: 1.3em;
		}
	}
}
#help_view_container .help_view_contents p  a ,
#help_view_container .help_view_contents li  a {
	display: inline-block;
	border:1px solid $orange-rind;
	padding:3px 5px;
	color: $orange-rind;
	border-radius:3px;
}
#help_view_container .help_view_contents p  a:hover ,
#help_view_container .help_view_contents li  a:hover {
	background: $orange-rind;
	color: #FFF;
}

.help_highlight {
	/* 		box-shadow: 0px 0px 7px 3px rgba(25, 112, 158, 0.9); */
	-webkit-animation: pulse 1s ease-in-out 3;
	-moz-animation: pulse 1s ease-in-out 3;
	animation: pulse 1s ease-in-out 3;
}

@-webkit-keyframes pulse {
	0% 		{box-shadow: 0px 0px 7px 3px rgba(25, 112, 158, 0.9);}
	50% 	{box-shadow: 0px 0px 7px 6px rgba(25, 112, 158, 0.9);}
	100% 	{box-shadow: 0px 0px 7px 3px rgba(25, 112, 158, 0.9);}
}
@-moz-keyframes pulse {
	0% 		{box-shadow: 0px 0px 7px 3px rgba(243, 117, 36, 0.9);}
	50% 	{box-shadow: 0px 0px 7px 6px rgba(25, 112, 158, 0.9);}
	100% 	{box-shadow: 0px 0px 7px 3px rgba(25, 112, 158, 0.9);}
}
@keyframes pulse {
	0% 		{box-shadow: 0px 0px 7px 2px rgba(243, 117, 36, 0.9);}
	50% 	{box-shadow: 0px 0px 7px 8px rgba(243, 117, 36, 1);}
	100% 	{box-shadow: 0px 0px 7px 2px rgba(243, 117, 36, 0.9);}
}

//////////////////////////////////////////////////////
//
// MESSENGER
//
//////////////////////////////////////////////////////

@import "css_partials/tungsten_messenger";



#module_warning_message {
	background-color: $tungsten-blue;
	color:#FFF;
	padding:8px;
	text-align: center;
}


//////////////////////////////////////////////////////
//
// MAIN CONTENT
//
//////////////////////////////////////////////////////
//#tungsten_main_content {
//	margin:0 0 25px 0px;
//	padding:20px 10px;
//	border-top: none;
//	min-height: 300px;
//
//	}


#tungsten_clear {
	height: 1px;
	clear: both;
}




//////////////////////////////////////////////////////
//
// HEADINGS
//
//////////////////////////////////////////////////////

#tungsten_main_content h2.subheading {
	margin-bottom: 10px;
	background: #444444;
	background: linear-gradient(#666 0%, #444 100%);
	
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	padding: 8px 10px;
	text-shadow: 0px 0px 2px #000;
}

#tungsten_main_content h2.subheading a {
	color: #FFFFFF;
	font-size: 16px;
	
}
#tungsten_main_content h2.subheading a:hover {
	color: #AAA;
}



//////////////////////////////////////////////////////
//
// TUNGSTEN LIST ICONS
//
//////////////////////////////////////////////////////

.list_control_button {
	display: inline-block;
	background-repeat: no-repeat;
	padding:4px 0px;
	background-size: contain;
	vertical-align: middle;
	text-align: center;
	
	.fa-trash,
	.fa-trash-alt {
		color:#900;
		
	}
	
	&:hover {
		opacity: 1.0;
		
		.fa-trash,
		.fa-trash-alt {
			color:#b00;
			transition: color 0.5s;
			
		}
	}
	
	
}


a.list_control_button:hover {
	opacity: 0.85;
	filter: alpha(Opacity = 85);
}


.list_control_button.deactivated {
	opacity: 0.2;
	filter: alpha(Opacity = 20);
	
}


/* FONT AWESOME SETTINGS */

.list_control_button .link_icon ,
svg.list_control_button {
	font-size:18px;
	display: inline-block;
	vertical-align: middle;
}

.list_control_button.link_icon {
	width:$tungsten-space-minus-1;
	height: auto;
	border:none;
	
}

//.list_control_button .link_icon {
//	margin-left: $tungsten-space-minus-3;
//	margin-right: $tungsten-space-minus-3;
//	}

.list_control_button.faded {
	opacity:0.5;
}

a.fa-close:hover {
	color:#900;
	opacity:1.0;
	filter: alpha(Opacity = 100);
	
}


.list_control_button.red,
.list_control_button.fa-times,
{
	color:#990000;
}

.list_control_button.orange {
	color:$orange-rind;
}

.list_control_button.green ,
.list_control_button.fa-check {
	color:#009900;
}

.list_control_button.fa.disabled {
	color:#BBB;
}


//////////////////////////////////////////////////////
//
// BUTTONS
//
// Must come before lists, since it needs the button styling
//
//////////////////////////////////////////////////////

@import "css_partials/tungsten_buttons";


//////////////////////////////////////////////////////
//
// TCv_SearchableModelList
//
//////////////////////////////////////////////////////

@import "css_partials/tungsten_lists";




//////////////////////////////////////////////////////
//
// INSTALL
//
//////////////////////////////////////////////////////
.site_section_install .tungsten_left_menu {
	padding-top:10px;
}

//////////////////////////////////////////////////////
//
// FORMS IN TUNGSTEN
//
//////////////////////////////////////////////////////
@import "css_partials/tungsten_forms";

//////////////////////////////////////////////////////
//
// LOGIN FORM
//
//////////////////////////////////////////////////////
@import "css_partials/tungsten_login";

//////////////////////////////////////////////////////
//
// LOGIN FORM
//
//////////////////////////////////////////////////////
@import "css_partials/tungsten_dialogs";



//////////////////////////////////////////////////////
//
// RESIZE BREAKPOINT 1
//
//////////////////////////////////////////////////////



@media only screen and (max-width : 750px)
{
	
	
	/* LEFT MENU HIDING */
	body {
		background: none;
	}
	
	
	#tungsten_main_content {
		margin-left:0px;
	}
	.tungsten_left_menu {
		display: none;
		width: auto;
		position: static;
		margin-top:-15px;
		margin-bottom:10px;
	}
	#mobile_toggle_side_menu_button_link {
		display: block;
	}
	
	
}


//////////////////////////////////////////////////////
//
// PHONES
//
//////////////////////////////////////////////////////

@media only screen and (max-width : 480px)
{
	
	#tungsten_header_top {
		background-size: 120px;
		background-position: left center !important;
	}
	
	.list_control_button {
		height: 16px;
		width:16px;
	}
	
	
	
}