	
	body {
		background: none;
		}
		
	#site_container {
		width:100%;
		margin:0px;
		background: none;
		}
	
	/* hide a bunch of stuff */
	
	#tungsten_header_top,
	#tungsten_menus,
	#tungsten_module_bar,
	#left_menus ,
	#tungsten_footer,
	.TSv_ModuleNavigation_SectionBar,
	.TSv_ModuleNavigation_SubmenuBar,
	.TSv_ModuleNavigation_BreadcrumbBar,
	.tungsten_left_menu,
	.TSv_StagingWarningBar {
		display: none !important;
		}
		
	#tungsten_main_content {
		margin-left:0px;
		border:0px;
		padding:0px;
		}
	
	
	#breadcrumb_menus {
		border: 1px solid #000;
		border-radius: 4px;
		background: none;
		}
	

