.panel_TMv_DashboardHeading {
	
	border-radius: 0;
	// Grab the theme config
	@import "../../../../dashboard/classes/views/TMv_Dashboard/dashboard_theme_config";

	
	.dashboard_heading {
		font-size: 1.6em;
		background:transparent !important; // remove background
		padding:16px 0;
	
		// Default to blue if nothing found
		color: $dashboard-blue;
		border-bottom:2px solid $dashboard-blue; // override color separately
		
	}
	
	.panel_view {
		display: none;
	}
	
	&.style_purple {
		h3 {
			color: $dashboard-purple;
			border-bottom-color: $dashboard-purple;
		}
	}
	
	&.style_pink {
		h3 {
			color: $dashboard-pink;
			border-bottom-color: $dashboard-pink;
		}
	}
	
	&.style_red {
		h3 {
			color:$dashboard-red;
			border-bottom-color: $dashboard-red;
		}
	}
	
	&.style_orange {
		h3 {
			color: $dashboard-orange;
			border-bottom-color: $dashboard-orange;
		}
	}
	
	&.style_yellow {
		h3 {
			color: $dashboard-yellow;
			border-bottom-color: $dashboard-yellow;
		}
	}
	&.style_green {
		h3 {
			color: $dashboard-green;
			border-bottom-color: $dashboard-green;
		}
	}
	&.style_grey {
		h3 {
			color: $dashboard-dark-gray;
			border-bottom-color: $dashboard-dark-gray;
		}
	}
	
}