.TSv_ComponentHelpBox {
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";

	p, li, h1, h2, h3, h4 {
		line-height: 1.4em;
		font-size:0.95rem;
		
	}
	
	#help_box_container{
		display: none;
		
		&.showing{
			display: block;
		}
	}
	
	ol, ul {
		margin-left: $tungsten-space-minus-1;
		padding-bottom:$tungsten-space-minus-3;
		
		li {
			padding-bottom:$tungsten-space-minus-3;
		}
	}
	
	h1 {
		font-size:1.4em;
		padding-bottom:$tungsten-space-minus-3;
	}
	
	h2 {
		font-size:1.2em;
		padding-bottom:$tungsten-space-minus-3;
	}
	
	h3 {
		font-size:1.1em;
		padding-bottom:$tungsten-space-minus-4;
	}
	
	strong {
		font-weight: 400;
	}
	
	pre {
		
		margin-bottom:$tungsten-space-minus-3;
	}
	
	code {
		background: $white-plus-1;
		display: inline-block;
		padding:$tungsten-space-minus-4;
		border-radius: 3px;
		white-space: pre-wrap;
		font-size:1.2em; // code is always smaller for some reason. 
		line-height: 1.2em;
	}
	
	.TSv_ComponentHelpForm {
		display: none;
		.title_column {
			display: none;
		}
		
		&.showing{
			display: block;
		}
	}
}

// MAKE IT SPAN THE FULL HEIGHT
// ODD CASE FOR THIS FORM
#right_panel_help.editor_mode {
	display: flex !important;
	flex-direction: column;
	flex-grow:1;
//	background:#00000022;
	height: 100%;
	
	.TSv_ComponentHelpBox,
	.TSv_ComponentHelpForm,
	.form_table,
	#help_html_row,
	#help_html_row .value_column,
	#help_html_row .value_column .form_item_container
	
	
	{
		flex-direction: column;
		flex-grow:1;
	//	background:#00000022;
		height: 100%;
		padding-bottom:0;
		
	}
	
	.tox-tinymce {
		height:100% !important;
	}
}