
/**
 * LAYERS
 * An explanation of how the different values for z-index should be used
 * 0 to 99      : Everyday content. This accounts for developers using everyday z-index values which can vary.
 * 113 to 115	: Hidden Overlays
 * 120          : Control Panel Boxes and Backgrounds
 * 150          : Content Buttons that sit overtop of the regular content
 * 160          : Content Button Hover
 * 200          : Showing Delete Control Panel
 * 210          : Showing Delete Boxes
 * 250			: Tungsten Loading
 * 300          : Add Layout Popup
 * 310          : Add Content Popup
 * 320          : Edit Content Popup
 
 */

@import "scss_partials/colors";

// Lots of control buttons which start 8px from an edge then move 32px over for each one

$button-spacing : 4px;
$button-size : 24px;
$control-button-shift : 32px; // space to shift one button from the next

/* When loaded, ensure it doesn't extend to the edge, which is being done by the style above */
#help_view_container {
	margin-left:10px;
	margin-right:10px;
}

#tungsten_main_content {
	padding-top:0px;
}

/* Extra space as needed */
.TMv_PagesTheme {
	padding-bottom:50px;
	overflow: hidden;
}


// TUNGSTEN STYLE OVERRIDE
#tungsten_main_content .TCv_Form {
	width:100%;
}



/* Deal with Tungsten's main content having padding, which we want to ignore */
.editor_mode .TMv_PageBuilder {
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_buttons";
	
	//margin-left: -10px; // removed because wasn't doing anything until specificity went up
	//margin-right: -10px;
	padding-top: 20px; // required so hovers on control boxes appear, fix in the site-specific wrapper if necessary
	overflow: hidden; /* Deals with views that extend over */
	
	// Special cases for loading separately
	.tungsten_loading_separate {
		z-index: 250;
	}
	
	.content_container {
		position: relative;
		min-height: 32px; // ensure buttons don't overlap
	}
	
	//////////////////////////////////////////////////////
	//
	// SECTION STYLING
	//
	//////////////////////////////////////////////////////
	
	.TMv_ContentLayout.pages_layout,
	.layout_block_container {
		position: relative;
	}
	
	.pages_layout > .content_width_container > div.TMv_ContentLayoutBlock {
		position: relative;
		min-height: 140px; // ensures row menus fit
	}
	
	// ensure a minimum height
	.pages_layout.TMv_ContentLayout_Section {
		min-height: 170px;
	}
	
	//////////////////////////////////////////////////////
	//
	// CONTENT FULL WIDTH - AVOID INTERSECTIONS
	//
	// Needed to avoid intersection with other control buttons
	//
	//////////////////////////////////////////////////////
	.TMv_ContentLayout.extend_full_width,
	.TMv_ContentLayout.extend_full_width_left {
		
		// Move the controls for the first column over
		.column_1 .layout_block_control_panel {
			left: $control-button-shift;
		}
	}
	
	.TMv_ContentLayout.extend_full_width,
	.TMv_ContentLayout.extend_full_width_right {
		
		// Move the controls for the first column over
		.content_column:last-child .content_control_panel {
			right: $control-button-shift;
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// CONTROL PANEL BUTTONS
	//
	//////////////////////////////////////////////////////
	
	@import "scss_partials/control_panels";
	
	@import "scss_partials/control_panel_sections";
	
	@import "scss_partials/control_panel_rows";
	
	@import "scss_partials/control_panel_columns";
	
	@import "scss_partials/control_panel_content";
	
	
	//////////////////////////////////////////////////////
	//
	// BUTTONS / ACTIONS
	//
	//////////////////////////////////////////////////////
	
	@import "scss_partials/delete";
	
	@import "scss_partials/edit";
	
	@import "scss_partials/visibility";
	
	@import "scss_partials/workflows";
	
	@import "scss_partials/flags";
	
	@import "scss_partials/applied_styles";
	
	@import "scss_partials/rearrange";
	
	@import "scss_partials/add_content";
	
	@import "scss_partials/no_content";
	
	@import "scss_partials/page_property";
	
	
	
	
}

.preview_mode .TMv_PageBuilder {
	.add_button,
	.control_panel {
		display: none;
	}
}

@import "scss_partials/publishing";

@import "scss_partials/bottom_control_bar";

//////////////////////////////////////////////////////
//
// ADD LAYOUT/CONTENT PREVIEWS
//
//////////////////////////////////////////////////////

@import "scss_partials/popups";
