.TSv_TungstenVersion {
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";

	h2 {
		font-size:1.2rem;
	}

	table {
		min-width: 300px;
		margin-bottom:$tungsten-space;

		td {
			padding:4px;
			border:1px solid $tungsten-grey-minus-2;
		}
	}

	td:first-child {
		width:150px;
	}

}