
	.TSv_Notice {
		border-color: #d44000;
		border-width: 1px;
		border-style: solid;
		padding:15px;
		background: url(icon_alert.png) center right no-repeat #ffe2c6;
		}
		
	.TSv_Notice h2 {
		color: #d44000;
		font-size:18px;
		padding:5px 0px;
		font-weight: normal;
		}
	
	.TSv_Notice .message  {
		padding-right:60px;
		}
	.TSv_Notice .message * {
		color: #5b1f00;
		line-height: 1.3em;
		}