.TMv_ContentFlagButton {
	//.flags_button {
	position: relative;
	
	svg, svg path {
		color: #d21696 !important;
	}
	
	// Uses i to avoid conflicts with other styles
	i.number {
		position: absolute !important;
		top:5px !important;
		//left:31%;
		width:100%;
		left:0;
		color:white;
		font-size:11px;
		font-style: normal;
		
	}
	
	// Ensure width fits with the button styling
	// Force white text
	&.list_control_button {
		i {
			width:calc(100% - 5px); // account for the 5px on the right of the buttons
			color:white !important;
			top:7px !important;
		}
	}
	
	&:hover {
	
	}
	
	//}
}