.TMv_ContentFlagButton{position:relative}.TMv_ContentFlagButton svg,.TMv_ContentFlagButton svg path{color:#d21696 !important}.TMv_ContentFlagButton i.number{position:absolute !important;top:5px !important;width:100%;left:0;color:#fff;font-size:11px;font-style:normal}.TMv_ContentFlagButton.list_control_button i{width:calc(100% - 5px);color:#fff !important;top:7px !important}/*# sourceMappingURL=TMv_ContentFlagButton.css.map */
