html, body,#site_container {
	height: 100%;
}
#site_container {
	// Turn the entire container into a flexbox
	display: flex;
	flex-direction: column;
}
#tungsten_main_content  {
	//margin:0px;
	//height: 100%;
	flex-grow:1;
	position: relative;
	margin-bottom:0px;
}

.TMv_WorkflowKanban {
	
	@import "../../../config/workflow_colors";
	
	$inner-spacing:5px;
	$column-width : 260px;
	
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-right: 0;
	transition: margin .1s ease-in;
	background:#FFF;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	.outer_container {
		position: relative;
		flex-grow: 1;
	}
	
	.inner_container {
	
		
		user-select: none;
		white-space: nowrap;
		margin-bottom: 8px;
		overflow-x: auto;
		overflow-y: hidden;
		padding-bottom: 8px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.stage_box {
		margin:10px 5px 10px 5px;
		width:$column-width;
		//border:1px solid #666;
		//padding:10px;
		border-radius: 3px;
		background:#EEE;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
		height: 100%;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		white-space: nowrap;
		
		.stage_title_box {
		//	margin: -10px -10px 10px -10px;
		}
		
		h2 {
			padding:8px;
			overflow: hidden;
		}
		
		
	
	}
	
	.stage_items {
		overflow-x: hidden;
		overflow-y: auto;
		height: calc(100% - #{$inner-spacing * 2});
		padding:$inner-spacing;
	}
	
	.workflow_item_box {
		display: block;
		
		background: #FFF;
		margin-bottom: $inner-spacing;
		padding:$inner-spacing;
		border:1px solid #DDD;
		
		h3 {
			font-size:1.2em;
		}
		
		.link_icon {
			float: right;
			width:18px;
			height: 18px;
		}
	}
	
	.icon_box {
		display: inline-block;
		margin:0 5px 5px 0;
		
		padding: 5px;
		border-radius: 3px;
		
		color:#FFF;
		background: $workflow-color;
		
		span {
			padding-left:5px;
		}
		
		&.error {
			background-color: $delete-color;
		}
	}
}