.TSv_ModuleSettingsList {
	@import "../../../../../admin/system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";

	// List scrolls separately
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	@include styledScrollbars;

	.module_server_version {
		font-family: Courier, "Courier New", monospace;
		box-sizing: border-box;
		width:95%;
		padding:$tungsten-space-minus-4 $tungsten-space-minus-3;
		border-radius: $tungsten-space-minus-4;
		//text-align: center;
		font-size: 0.8rem;
		color:$white;
		display: block;
		
		svg {
			padding-right:$tungsten-space-minus-3;
		}
		
		&.installed {
			background-color: $tungsten-green-plus-1;
			
		}
		
		&.upgrade_ready {
			background-color: $tungsten-orange-plus-1;
		}
		
		&.not_installed {
			background-color: $tungsten-grey;
			
		}
		
		&:hover {
			color:$white;
		}
		
	}
	
	// LINKS ONLY
	a.module_server_version {
		position: relative;
		
		&.upgrade_ready:hover {
			background-color: $tungsten-orange-plus-2;
		}
		
		&.not_installed:hover {
			background-color: $tungsten-grey-plus-1;
		}

		
		&:hover:before {
			// Sits to the left of the icon, nudged up against icon
			position:absolute;
			top:0;
			left:95%; // move it over to fit next to the icon
			opacity:1;
			z-index: 200;
			
			// Use the title of the button
			content:attr(title);
			background: inherit;
			color:$white;
			//padding:$tungsten-space-minus-2; // no padding, box-sizing does the work
			padding-right:$tungsten-space-minus-2;
			padding-left:0;
			box-sizing: border-box;
			height:100%; // match the parent
			
			// Font control
			white-space: nowrap;
			text-align: right;
			font-size:0.8rem;
			
			// rounded left side
			border-top-right-radius: $tungsten-space;
			border-bottom-right-radius: $tungsten-space;
			
			// Center the text vertically
			display: flex;
			align-items: center;
		}
	}
	
	// Ensure the upgrade button shows over
	.TCv_ListColumn_install_upgrade {
		overflow: visible;
	}
	
}