.TMv_TungstenSearchForm {
	
	@import "../../../../system/classes/views/TSv_Tungsten/css_partials/tungsten_style_config";
	
	
	width:30%;
	max-width: 200px;
	
	&.tungsten_loading {
		$loading-icon-size: 18px;
		
		&:before {
			min-height: auto;
		}
		
		&:after {
			height:$loading-icon-size;
			width:$loading-icon-size;
			line-height: $loading-icon-size;
			font-size:$loading-icon-size;
			top: calc(50% - #{$loading-icon-size/2});
			left: calc(50% - #{$loading-icon-size/2});
			
		}
	}
	
	.form_table {
		
		.table_row {
			padding-bottom:0 !important;
			
		}
		#search_q {
			border-color: $tungsten-blue;
		}
		
		.table_row.TCv_FormItem_SubmitButton {
			background: none;
			
			
			input {
		//		width:
			}
			
			button {
				padding:3px 8px;
				background-color:$tungsten-blue;
				border-bottom-right-radius: $form-border-radius;
				border-top-right-radius: $form-border-radius;
				
				&:hover, &:focus {
					background-color: $tungsten-dark-blue;
				}
				svg {
					height:17px;
				}
				
			}
		}
	}
	
	
}