
body {
	max-width:800px;
	margin:0 auto;
	padding:20px;
	font-family: Arial,sans-serif;
	
	//th {
	//
	//}
	
	
	
	
}

table {
	width: 100%;
}

h1{
	padding: 20px 0;
	margin:0;
	font-size: 1.6em;
	color:#333;
}

th, td {
	font-size:0.75em;
	text-align: left;
	padding-left:2px;
	padding:2px;
	
}

th {
	background:#DDD;
	border-bottom: 1px solid black;
}
td {

	&.lastmod {
		width:165px;
	}
	
	
	
	a {
		color: black;
		text-decoration: none;
		display: flex;
		align-items: center;
		padding:2px 0;
		// Languages
		span {
			display: block;
			padding:2px;
			margin-right: 5px;
			background:#333;
			color: #FFF;
			width:14px;
			height:14px;
			text-align: center;
			border-radius: 4px;
			font-size:11px;
			flex-shrink: 0;
		}
		
		&:hover, &:focus {
			color: rgb(25, 112, 158); // tungsten blue
			
			span {
				background:rgb(25, 112, 158); // tungsten blue
			}
		}
		
	}
	
}

tr:nth-child(odd) td {
	background: #EEE;
}

//
//url {
//
//
//	display: flex;
//	padding:4px 8px;
//	border-bottom:1px solid #DDD;
//	font-size:14px;
//	loc {
//		//width:80%;
//		flex-grow: 1;
//	}
//
//	lastmod {
//		width:180px;
//		flex-shrink: 0;
//		padding-left:20px;
//	}
//
//}