.TMv_WorkflowItemStatusBox .stage_box{padding-top:10px;padding-bottom:10px;text-align:center;color:#333;font-size:14px;margin-bottom:10px}.TMv_WorkflowItemStatusBox .next_stage_button{display:block;border:1px solid #fff;border-right-width:22px;color:#7526d6;padding:5px;margin-bottom:5px;margin-left:0px;margin-right:0px;height:12px}.TMv_WorkflowItemStatusBox a.next_stage_button:hover{opacity:.8;background:#fff;color:#7526d6}.TMv_WorkflowItemStatusBox .next_stage_button .link_icon{right:16px;position:absolute;color:#fff;fill:currentColor}/*# sourceMappingURL=TMv_WorkflowItemStatusBox.css.map */
