.TMv_WorkflowItemStatusBox {
	@import "../../../../system/classes/views/TSv_Tungsten9/css_partials/tungsten_style_config";
	
	.stage_box {
		/*border-top:15px solid #FFF;*/
		/*border-bottom:15px solid #FFF;*/
		/*border-left:2px solid #FFF;*/
		/*border-right:2px solid #FFF;*/
		/*border-radius:10px;*/
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		color: #333;
		font-size: 14px;
		margin-bottom:10px;
	}
	
	.next_stage_button {
		display: block;
		
		// Colors overrides in individual divs
		border:1px solid #FFF;
		border-right-width: 22px;
		color:$workflow-color;
		padding: 5px;
		margin-bottom: 5px;
		margin-left: 0px;
		margin-right:0px;
		height: 12px;
	}
	
	a.next_stage_button:hover {
		opacity: 0.8;
		background:#FFF;
		color:$workflow-color;
		//	color: rgba($workflow-color, 0.8);
		//	background: rgba($workflow-color, 0.1);
	}
	
	.next_stage_button .link_icon {
		right:16px;
		position: absolute;
		color:#FFF;
		fill: currentColor;
	}
	
}