.TMv_QuickButton{border:1px solid #333;display:block;padding:10px;margin-bottom:10px;text-decoration:none;background:#f0f0f0}.TMv_QuickButton .title{display:block;line-height:1.3em}.TMv_QuickButton.has_icon .title{margin-left:25px}.TMv_QuickButton svg{font-size:20px;display:block;float:left;line-height:1.2em}/*# sourceMappingURL=TMv_QuickButton.css.map */
