
	.TMv_QuickButton {

		border: 1px solid #333;
		display: block;
		padding: 10px;
		margin-bottom: 10px;
		text-decoration: none;
		background: #F0F0F0;

		.title {
			display: block;
			line-height: 1.3em;
		}

		&.has_icon .title {
			margin-left: 25px;
		}

		svg {
			font-size: 20px;

			display: block;
			float: left;
			line-height: 1.2em;
		}


	}